// Going to have to select this one directly
.container-16j22k{
    background-color: $b1;

    div[class^="content-"]{
        background-image: url(https://i.imgur.com/MfeQkLJ.gif);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 32px;
        -webkit-filter: invert(100%);
    }

    // Remove video, we use our own spinner
    video{
        display: none;
        img{
            display: none;
        }
    }
    // Remove quote
    div[class^="quote-"],
    div[class^="attribution-"]{
        display: none;
    }
    // "Connecting" text
    div[class^="status-"]{
        margin-top: 64px;
        color: #FFF;
        font-family: "Segoe UI Light", "Selawiklight";
        font-size: 32px;
        font-weight: 400;
        text-transform: none;
        -webkit-filter: invert(100%);
    }

    // Links to Twitter, Status page
    div[class^="problems-"]{
        align-items: flex-end;
        padding-right: 20px;
        padding-bottom: 20px;
        div[class^="problemsText-"]{
            display: none;
        }
        a[class^="twitterLink"],
        a[class^="statusLink"]{
            width: 48px;
            height: 48px;
            display: inline-block;
            font-size: 0;
            transition: background .3s;
            &::before{
                width: 48px;
                height: 48px;
                -webkit-background-size: 20px;
                background-size: 20px;
            }
            &:hover{
                background-color: rgba(255,255,255,.1);
                transition: background .3s;
            }
        }
        a[class^="statusLink"]{
            margin-left: 4px;
        }
    }
}
