.container-16j22k{
    background-color: transparent;

    .content-1-zrf2{
        width: 256px;
        height: 64px;
        background-image: url(https://i.imgur.com/MfeQkLJ.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32px;
        filter: invert(100%);
        &::after{
            content: "Loading...";
            width: 256px;
            text-align: center;
            position: absolute;
            top: 72px;
            left: 0;
            color: $BaseHigh;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            text-transform: none;
            filter: invert(100%);
        }
    }

    // Remove video, we use our own spinner
    video{
        display: none;
        img{
            display: none;
        }
    }
    // Remove tip
    .text-3c9Zq1{
        display: none;

    }

    // Links to Twitter, Status page
    .problems-3mgf6w{
        align-items: flex-end;
        padding-right: 20px;
        padding-bottom: 20px;
        .problemsText-1Yx-Kl{
            display: none;
        }
        a.twitterLink-3NsWMp,
        a.statusLink-gFXhrL{
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-left: 8px;
            font-size: 0;
            transition: background .3s;
            text-align: center;
            line-height: 48px;
            vertical-align: middle;
            svg{
                width: 24px;
                height: 24px;
                color: $BaseHigh;
            }
            &:hover{
                background-color: $ListLow;
                transition: background .3s;
            }
        }
        a.statusLink-gFXhrL{
            margin-left: 4px;
        }
    }
}
