.container-16j22k{
    background-color: transparent;

    .content-1-zrf2{
        background-image: url(https://i.imgur.com/MfeQkLJ.gif);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 32px;
        filter: invert(100%);
    }

    // Remove video, we use our own spinner
    video{
        display: none;
        img{
            display: none;
        }
    }
    // Remove quote
    div[class^="quote-"],
    div[class^="attribution-"]{
        display: none;
    }
    // "Connecting" text
    .title-3JMOhC{
        margin-top: 84px;
        color: $BaseHigh;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        text-transform: none;
        filter: invert(100%);
    }

    // Links to Twitter, Status page
    .problems-3mgf6w{
        align-items: flex-end;
        padding-right: 20px;
        padding-bottom: 20px;
        .problemsText-1Yx-Kl{
            display: none;
        }
        a.twitterLink-3NsWMp,
        a.statusLink-gFXhrL{
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-left: 8px;
            font-size: 0;
            transition: background .3s;
            text-align: center;
            line-height: 48px;
            vertical-align: middle;
            svg{
                width: 24px;
                height: 24px;
                color: $BaseHigh;
            }
            &:hover{
                background-color: $ListLow;
                transition: background .3s;
            }
        }
        a.statusLink-gFXhrL{
            margin-left: 4px;
        }
    }
}
