.theme-dark div[class^="noChannel-"]{
    background-color: $b2;
    div[class^="image-"]{
        display: none;
    }
    h4{
        color: #FFF;
        font-size: $fsheader;
        font-weight: $fwheader;
        text-align: left;
        text-transform: none;
    }
    div[class^="text-"]{
        margin-top: 24px;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-align: left;
    }
}
