.theme-dark .search-results-wrap{
    background-color: $b1;
}

// Header
.theme-dark .search-results-wrap .search-header{
    background-color: $b1;
    box-shadow: none;
}
// Total results
.search-results-wrap .search-header .total-results{
    opacity: 1;
    font-size: $fsheader;
    font-weight: $fwheader;
}

// Horizontal tabs
.search-results-wrap .search-header .tab{
    opacity: 1;
    border-bottom: 0;
    font-size: $fsui;
    font-weight: $fwui;
}
.theme-dark .search-results-wrap .search-header .tab{
    color: rgba(255,255,255,.7);
    &:hover{
        border-bottom: 0;
        color: #FFF;
    }
}
.theme-dark .search-results-wrap .search-header .tab.selected{
    border-bottom: 0;
    color: var(--accent);
}

// No results
.theme-dark .search-results-wrap .empty-results-wrap .no-results-image,
.theme-dark .search-results-wrap .error-wrap .no-results-image{
    display: none;
}
.search-results-wrap .empty-results-wrap .no-results{
    margin-top: 0;
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
}

// Results
// Channel name
.theme-dark .search-results-wrap .channel-separator .channel-name{
    background-color: $b1;
    font-weight: $fwui;
}
.theme-dark .search-results-wrap .search-result::before,
.theme-dark .search-results-wrap .search-result::after{
    display: none;
}
.search-results-wrap .search-result .search-result-message{
    border-radius: 0;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit{
    background-color: $b3;
    border: 0;
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit{
    background-color: $b3;
    border: 0;
}

// Expanded result
.theme-dark .search-results-wrap .search-result.expanded{
    border: 1px solid var(--accent);
    border-radius: 0;
}

// Jump button
.theme-dark .search-results-wrap .action-buttons .jump-button{
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: 0;
    color: #FFF;
    font-weight: normal;
    &:hover{
        border-color: $inputborder;
    }
    &:active{
        transform: none;
        border-color: $inputborderhover;
    }
}
