.theme-dark .searchResultsWrap-2DKFzt{
    background-color: $b1;
    // Header
    .searchHeader-1l-wpR{
        background-color: $b1;
        box-shadow: none;
        // Total number of results found
        .totalResults-gxvzgw{
            opacity: 1;
            font-size: $fsheader;
            font-weight: $fwheader;
        }
        // Recent/Relevant tabs
        .tab-2Ixsn0{
            opacity: 1;
            border-bottom: 0;
            font-size: $fsui;
            font-weight: $fwui;
            color: rgba(255,255,255,.7);
            &:hover{
                border-bottom: 0;
                color: #FFF;
            }
            &.selected-16te-P{
                border-bottom: 0;
                color: var(--accent);
            }
        }
    }
    // Results
    // Channel Name
    .channelName-1QajIf{
        background-color: $b1;
        font-weight: $fwui;
    }
    // Remove gradient
    .searchResult-3pzFAB{
        &::before,
        &::after{
            display: none;
        }
        // Remove border radius
        .searchResultMessage-2VxO12{
            border-radius: 0;
            &.hit-NLlWXA{
                background-color: $b3;
                border: 0;
                box-shadow: none;
            }
        }
        // Accent border on expanded result
        &.expanded-v2Szsz{
            border: 1px solid var(--accent);
            border-radius: 0;
        }
    }

    // Jump to message button
    .actionButtons-14P9IC .jumpButton-Ia2hRJ{
        background-color: var(--accent);
        border: 1px solid transparent;
        border-radius: 0;
        color: #FFF;
        font-weight: normal;
        &:hover{
            border-color: $inputborder;
        }
        &:active{
            transform: none;
            border-color: $inputborderhover;
        }
    }

    // No results found
    .emptyResultsWrap-3Kv0LQ{
        // Remove error image
        .noResultsImage-JbSWtu{
            display: none;
        }
        .noResults-2lVUHk{
            margin-top: 0;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
        }
    }
}
