.theme-dark .searchResultsWrap-3-pOjs{
    background-color: $ChromeLow;
    // Header
    .searchHeader-1EzJGH{
        background-color: $ChromeLow;
        box-shadow: none;
        // Total number of results found
        .totalResults-1yK_Ym{
            opacity: 1;
            @include FontSubtitle;
        }
        // Recent/Relevant tabs
        .tab-EiCZG6{
            opacity: 1;
            border-bottom: 0;
            @include FontBody;
            color: rgba(255,255,255,.7);
            &:hover{
                border-bottom: 0;
                color: #FFF;
            }
            &.selected-3gXBLQ{
                border-bottom: 0;
                color: $Accent;
            }
        }
    }
    // Results
    // Channel Name
    .channelName-wvgELL{
        background-color: $ChromeLow;
    }
    // Remove gradient
    .searchResult-2N9RV4{
        &::before,
        &::after{
            display: none;
        }
        // Remove border radius
        .searchResultMessage-30QnSN{
            border-radius: 0;
            &.hit-1CXhXT{
                background-color: $ChromeMediumLow;
                border: 0;
                box-shadow: none;
            }
        }
        // Accent border on expanded result
        &.expanded-ovgtuV{
            border: 1px solid $Accent;
            border-radius: 0;
        }
    }

    // Jump to message button
    .jumpButton-1ol35X{
        background-color: $Accent;
        border: 1px solid transparent;
        border-radius: 2px;
        color: #FFF;
        font-weight: normal;
        &:hover{
            background-color: $ListAccentLow;
        }
        &:active{
            transform: none;
        }
    }

    // No results found
    .emptyResultsWrap-G931-Q{
        // Remove error image
        .noResultsImage-3Y0eCI{
            display: none;
        }
        .noResults-sW1yWR{
            margin-top: 0;
            color: $BaseHigh;
            @include FontBody;
        }
    }
}
