// Pinned messages, search and recent messages flyout animation
@keyframes slideinright{
    0%{right: -420px;}
    100%{right: 0;}
}

// Toast
@keyframes toast{
    0%{
        transform: translateX(380px);
    }
    5%,95%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(380px);
    }
}

// Blink
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
