// Pinned messages, search and recent messages flyout animation
@keyframes slideinright{
    0%{right: -420px;}
    100%{right: 0;}
}

// Members list typing pulser
@keyframes memberstypingpulse{
    from{
        opacity: 1;
    }
    to{
        opacity: .5;
    }
}
