// Pinned messages, search and recent messages flyout animation
@keyframes slideinright{
    0%{right: -420px;}
    100%{right: 0;}
}

// Games tab personalisation attention
@keyframes personalisationattn{
    from{
        border: 1px solid $Accent;
    }
    to{
        border: 1px solid transparent;
    }
}

// Toast
@keyframes toast{
    0%{
        transform: translateX(380px);
    }
    5%,95%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(380px);
    }
}
