/* ################## Metro for Discord ################## */
/* ## License: CC-BY-NC-SA                              ## */
/* ## https://github.com/TakosThings                    ## */
/* ####################################################### */

/* ##################### Third Party ##################### */
/* ## Monokai code highlighting from highlight.js       ## */
/* ## https://highlightjs.org                           ## */
/* ####################################################### */
