/* Accent Colour */
:root{
    --accent:       #0078D7;
    --link:         #0078D7;
    --guildvoice:   #10893E;
}

/* REMOVE this if you want to see the online friends count in the guilds list. */
.friendsOnline-_wi_fM{ display: none; }

/* REMOVE this if you want to see the "X blocked messages" notification. */
.messageGroupBlocked-3wrQQX { display: none; }

/* REMOVE this if you want to see the "Welcome to the server" tutorial. */
.welcomeMessage-3_Mcht{ display: none; }

/* ####################################################### */
/* ##                End of user options.               ## */
/* ####################################################### */
