/*                 Start of user options                 ##
###########################################################
##     Check the repo wiki for help on this section      ##
## https://github.com/TakosThings/Metro-for-Discord/wiki ##
#########################################################*/


/* Accent Colour */
/* Must be provided in RGB format */
:root{
    --accent:   0, 120, 215;
    --link:     0, 120, 215;
    --voice:    0, 204, 106;
}

/* Acrylic background */
/**
 * Some of these settings are advanced, and may degrade
 * performance on low-end machines. Consult the wiki before
 * making changes.
**/

/* Change the URL to your own background*/
body,
.container-16j22k{
    background-image: url(https://i.imgur.com/PoQUA3n.jpg);
}

/* Blur filter */
/* Uncomment to ENABLE the blur filter if required */
body::before,
.container-16j22k::before{
    /* backdrop-filter: blur(45px) saturate(125%); */
}

/*#########################################################
##                  End of user options                  ##
#########################################################*/
