/* Accent Colour */
:root{
    --accent:       #0078D7;
    --link:         #0078D7;
    --voice:        #00CC6A;
}

/* REMOVE this if you want to see the "X blocked messages" notification. */
.messageGroupBlocked-3wrQQX { display: none; }

/* ####################################################### */
/* ##                End of user options.               ## */
/* ####################################################### */
