/* Accent Colour */
/* Must be provided in RGB format */
:root{
    --accent:   0, 120, 215;
    --link:     0, 120, 215;
    --voice:    0, 204, 106;
}

/* ####################################################### */
/* ##                End of user options.               ## */
/* ####################################################### */
