// Everything
body, input, textarea, button{
    font-family: $font;
}
#app-mount{
    background-color: #000;
}

// Code block and inline code
.markup-2BOw-j pre,
.markup-2BOw-j code.inline{
    font-family: $mono;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    font-family: $font;
}
