// Override :root
:root{
    --font-primary: "Segoe UI", Arial, Helvetica, sans-serif;
    --font-display: "Segoe UI", Arial, Helvetica, sans-serif;
}

// Everything
body, button{
    @include FontNormal;
}
#app-mount{
    background-color: $ChromeBlackHigh;
}

// Code block and inline code
.markup-2BOw-j pre,
.markup-2BOw-j code.inline{
    @include FontMonospace
}

// Form elements
::-webkit-input-placeholder,
input,
select,
textarea{
    @include FontNormal;
}

// Remove orange border on some elements when focused
:focus{
    outline: unset;
}
