// Everything
body, input, textarea, button{
    font-family: $font;
}
#app-mount{
    background-color: #000;
}

// Code block and inline code
.message-group .comment .markup pre,
.message-group .comment .markup code.inline,
.markdown-modal pre,
.markdown-modal code.inline{
    font-family: $mono;
}
