.status-online{
    background-color: #10893E
}
.status-idle{
    background-color: #FFB900;
}
.status-dnd{
    background-color: #E81123;
}
.status-invisible,
.status-offline{
    background-color: #767676;
}
