.theme-dark{
    rect[mask="url(#svg-mask-status-online)"]{
        fill: $statusonline;
    }
    rect[mask="url(#svg-mask-status-idle)"]{
        fill: $statusidle;
    }
    rect[mask="url(#svg-mask-status-dnd)"]{
        fill: $statusdnd;
    }
    rect[mask="url(#svg-mask-status-online)"]{
        fill: $statusonline;
    }
    rect[mask="url(#svg-mask-status-streaming)"]{
        fill: $statusstreaming;
    }
}
