.theme-dark{
    .status-oxiHuE{
        border: 0;
    }
    .online-2S838R{
        background-color: $statusonline;
    }
    .idle-3DEnRT{
        background-color: $statusidle;
    }
    .dnd-1_xrcq{
        background-color: $statusdnd;
    }
    .invisible-1kp8Z0,
    .offline-3qoTek,
    .unknown-Ms2zdV{
        background-color: $statusoffline;
    }
}
