/* Accent Colour */
:root{
    --accent:       #0078D7;
    --link:         #0078D7;
    --guildvoice:   #10893E;
}
/*[[friendsonline]]*/
/*[[blockedmessages]]*/
/*[[welcomemessage]]*/

/* ####################################################### */
/* ##                End of user options.               ## */
/* ####################################################### */
