// Fonts
$font: "Segoe UI", Selawik, Arial, Helvetica, sans-serif;
$mono: Consolas, Menlo, Monaco, "Courier New", monospace;

// Typography
$fsheader: 20px;    // font-size: header
$fsui: 15px;        // font-size: general ui
$fschat: 13px;      // font-size: chat
$fwheader: 300;     // font-weight: header
$fwui: 400;         // font-weaight: UI
$fwchat: 400;       // font-weight: chat;
$lh: 1.5625;        // line-height

// href
$a: #0078D7;

// Status State
$alert: #D02E00;
$safe: #43B581;

// User Status
$statusonline: #10893E;
$statusidle: #FFB900;
$statusdnd: #E81123;
$statusoffline: #767676;

// Background Colours
$b1: #191919;
$b2: #262626;
$b3: #333333;
$b4: #404040;

// Input element states
$inputborder: rgba(255,255,255,0.6);
$inputborderhover: rgba(255,255,255,0.8);
