div[class^="channels-"]::after{
  content: "Metro for Discord 3.9.4";
  width: 100%;
  height: 20px;
  padding-bottom: 1px;
  box-sizing: border-box;
  background: $b1;
  color: hsla(0,0%,100%,.8);
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}
