//META{"name":"Metro For Discord","description":"Metro for Discord, inspired by Metro For Steam.","author":"Tako","version":"0.12.3"}*//{}

/* METRO FOR DISCORD by Tako */
/* Report issues on Github or @Tako#6238 */

/* START CONFIG */
/* See config.md if you need more info on this part */
:root{
  /* A list of colours can be found in accent.md */
  --theme-accent:rgb(0, 114, 198);
  --theme-accent-faded:rgba(0, 114, 198,0.8);

  /* Backgrounds*/
  /* A huge collection of animated backgrounds: http://imgur.com/gallery/GPlx4 */
  --theme-userpop-bg:url(https://i.imgur.com/PlLrpy0.gif);
  --theme-userpop-bg-pos:-196px -541px;
  --theme-userprofile-bg:url(https://i.imgur.com/PlLrpy0.gif);
  --theme-userprofile-bg-pos:-93px -613px;

  /* The colours used to represent online/idle users */
  --theme-user-online:#72A300;                            /* Green for online */
  --theme-user-idle:#FF8F32;                              /* Orange for idle */
  --theme-user-offline:#848484;                           /* Grey for offline */

  /* Font settings - no touch! */
  --theme-font:Segoe UI, Arial, Helvetica, sans-serif;
  --theme-font-size-normal:13px;
  --theme-font-size-h1:15px;
  --theme-font-size-h2:14px;

  /* This part is so I can easily convert between the dark and light versions - no touch! */
  /* https://msdn.microsoft.com/en-us/windows/uwp/style/color */
  --theme-base-low:#141414;
  --theme-base-medium-low:#1A1A1A;
  --theme-base-medium:#202020;
  --theme-base-medium-high:#252525;
  --theme-base-high:#2C2C2C;
  --theme-base-border:#0F0F0F;
  --theme-base-border2:#353535;
  --theme-base-colour-primary:#FFFFFF;
  --theme-base-colour-secondary:#898989;

  /* Forms */
  --theme-button:#353535;
  --theme-button-hover:#515151;
  --theme-textbox-background:transparent;
  --theme-textbox-border:#353535;
}
/* END CONFIG */

/* ANIMATIOn */
@keyframes pulse{
  50%{
    background: var(--theme-accent);
  }
}

/* GLOBALS */
body,                                                     /* Most elements */
textarea,                                                 /* Chat box */
strong,                                                   /* Game */
input,                                                    /* Textbox */
select,                                                   /* Dropdown */
button,                                                   /* Button */
h1,                                                       /* h1 */
h2,                                                       /* h2 */
header,                                                   /* header */
.channel,                                                 /* Channel name */
.settings-header,                                         /* Modal menus */
.tab-bar-item,                                            /* Modal menus */
.tab-bar-header,                                          /* Modal menu header */
.channel-name,                                            /* Channel name */
.topic,                                                   /* Channel topic */
.Select-placeholder{                                      /* Dropdown placeholder */
  font-family:Segoe UI !important;
  font-size:13px !important;
  text-transform:none !important;
}


/* TITLE BAR */
.chat>.title-wrap{                                        /* Main title bar */
  background: var(--theme-base-low);
  min-height: 50px;
  padding:0 10px;
  border-bottom: 1px solid var(--theme-base-border);
}
.chat>.title-wrap>.title .channel-name{                   /* Channel name in the title bar */
  color: var(--theme-base-colour-primary);
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize !important;
}
.chat>.title-wrap>.title .channel-name:before{            /* The # next to the channel name */
  color: #FFF;
  margin-right: 0;
}
.chat>.title-wrap>.topic:before{                          /* Separator between channel name and channel topic */
  background: var(--theme-base-colour-secondary);
}
.header-toolbar button{                                   /* Alert/users toggle/pinned/help buttons */
  height: 50px;
  border-radius: 0;
}
.header-toolbar button+button{
  margin: 0;
}
.header-toolbar button:hover{
  background: var(--theme-base-medium);
}
.header-toolbar button.active{                            /* Active users toggle */
  background: var(--theme-base-medium);
  border-bottom: 2px solid var(--theme-accent);
}
.header-toolbar button.active > span{                     /* Fixes the icon bouncing when its active */
  margin-bottom:-1px;
}
.header-toolbar .toolbar-badge{                           /* New pinned messages indicator */
  width: 30px;
  height: 2px;
  border: none;
  border-radius: 0;
  top: 49px;
  right: 0;
  animation: pulse 3s ease-out infinite;
  background: transparent;
}
.header-toolbar .separator{                               /* Separator bewteen icons */
  background: var(--theme-base-medium);
  height: 50px;
  margin: 0;
}

/* SERVER LIST */
.guilds-wrapper{
  background: var(--theme-base-low);
}

/* CHANNELS PANE */
.channels-wrap{                                           /* Channels list */
  width: 230px;
}
.guild-header header{                                     /* Server name */
  background: var(--theme-base-low);
  height: 50px;
  padding: 0 10px;
  box-shadow: none;
  border-bottom: 1px solid var(--theme-base-border);
}
.guild-header header:hover{                               /* Server name hover */
  background: var(--theme-base-medium);
}
.guild-header header span{
  line-height: 49px;
}
.guild-header ul{                                         /* Notification/privacy settings menu */
  top: 49px;
  background: var(--theme-base-medium);
  border: 1px solid var(--theme-base-border);
  box-shadow: none;
}
.guild-header ul a{                                       /* Notification/privacy settings menu items */
  margin:0;
  font-size: var(--theme-font-size-normal);
  font-weight: normal;
}
.guild-channels{                                          /* Channel list background */
  background:var(--theme-base-medium);
}
.guild-channels .channel-text:hover,
.guild-channels .channel-text.selected{                   /* Selected and hovered channel background */
	background: var(--theme-base-medium-high);
}
.guild-channels .channel-text.selected:before{            /* Indicates if the channel is selected */
  border-left:2px solid var(--theme-accent);
}
.guild-channels .channel-text:hover.channel-muted:before,
.guild-channels .channel-text:hover:not(.unread):before{  /* Left border when #channel is hovered */
  border-left:2px solid var(--theme-accent);
}
.guild-channels header{                                   /* Top margin for channel Text/Voice Channel headers */
  margin-top: 10px;
}
.links{                                                   /* Changelog box */
  background: var(--theme-base-medium);
  border-top: 1px solid var(--theme-base-border);
  color:var(--theme-base-colour-secondary);
}

/* VOICE CONNECTION INFO */
#voice-connection{                                        /* This only shows up when connected to a voice server */
  background: var(--theme-base-medium);
  border-top: 1px solid var(--theme-base-border);
  height: 50px;
  padding: 0;
}
#voice-connection .voice-connection-inner{                /* Contains connection status and current channel */
  padding: 0 10px;
}
#voice-connection .btn-group{                             /* Group of buttons (connection info/disconnect) */
  background: transparent;
  border: 0;
  border-radius: 0;
}
#voice-connection .btn{                                   /* Connection info and disconnect buttons */
  box-shadow: none;
  border:0;
  border-radius: 0;
  width: 30px;
  height: 50px;
  background: transparent;
}
#voice-connection .btn:hover{                             /* Connection info/disconnected buttons when hovered */
  background: var(--theme-base-low);
}

/* ACCOUNT BOX */
.account{                                                 /* Account box */
  background: var(--theme-base-medium);
  border-top: 1px solid var(--theme-base-border);
  height: 50px;
  padding: 0;
}
.account .account-details .username{                      /* Set max with of username, otherwise the button box gets pushed out of view */
  max-width: 36px;
}
.account .account-details .discriminator{                 /* Unique ID */
  font-weight: normal;
}
.account .avatar-small{                                   /* Your avatar */
  width: 50px;
  height: 50px;
  border-radius: 0;
  background-size: 50px 50px;
}
.account .btn-group{                                      /* Group of buttons (mute/deafen/settings) */
  border: 0;
  border-radius: 0;
}
.account .btn{                                            /* Mute/deafen/settings buttons */
  box-shadow: none;
  border:0;
  border-radius: 0;
  width: 30px;
  height: 50px;
  background: transparent;
}
.account .btn:hover{                                      /* Mute/deafen/settings buttons when hovered */
  background: var(--theme-base-low);
}
.account .status{                                         /* Remove border around own status indicator */
  border: 0;
}
.account > .avatar-small .status{                         /* Make the indicator look like a border on the right side of own avatar */
  width: 2px;
  height: 50px;
  border-radius: 0;
  right: 0;
  bottom: 0;
}
.account .btn-mute.disabled,
.account .btn-deafen.disabled{
  border-top: 2px solid var(--theme-accent);
  background: var(--theme-base-low);
}

/* CHAT */
.chat .content{                                           /* Chat background */
  background:var(--theme-base-medium-low);
}
.message-group{                                           /* Border separating messages */
  border-bottom: 1px solid var(--theme-base-high);
}
.message-group .comment .markup{                          /* Colour of text */
  color: #FFF;
  font-size: 13px;
}
.message-group.compact .message .markup .user-name,       /* Username colour */
.message-group.compact .timestamp{                        /* Timestamp colour */
  color: var(--theme-base-colour-secondary);
}
.chat .divider>span{                                      /* New messages divider */
  background:none;
}
.message-group .comment .markup pre,
.message-group .comment .markup code.inline{              /* Code block */
  background: var(--theme-base-medium);
  border:1px solid var(--theme-base-low);
}
.message-group .comment .markup pre code,
.theme-light .hljs{
  background:none;
}
.highlight{                                               /* @mention and #channel */
  background: transparent;
  color: var(--theme-accent);
}
.highlight:hover{                                         /* @mention and #channel hover */
  background: transparent;
  color: var(--theme-base-colour-primary);
}
.new-messages-bar{                                        /* New messages bar */
  background: var(--theme-accent-faded) !important;
}

/* CHAT BOX */
.chat form{                                               /* Chat box */
  margin: 0;
  box-shadow: none;
  border-top: 1px solid var(--theme-base-border);
  min-height: 75px;
}
.channel-textarea{
  min-height: 50px;
  margin: 0;
}
.channel-textarea-inner{
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 16px 10px;
  border-bottom: 1px solid var(--theme-base-border2);
}
.channel-textarea-inner textarea{                         /* The actual text box */
  background:var(--theme-base-medium-low);
  color: var(--theme-base-colour-primary);
}
.channel-textarea-upload{                                 /* The upload button in the text box */
  border-right: 1px solid var(--theme-base-border2);
  margin: -16px 10px -16px -10px;
}
.typing{                                                  /* X is typing text */
  height: 24px;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  font-size: 10px;
  font-weight: normal;
  background: transparent;
  color: var(--theme-base-colour-secondary);
}
.typing strong{                                           /* The username of the person typing */
  font-size: 10px !important;
  font-weight: normal;
}
.typing .ellipsis{                                        /* Hide the animated circles when someone is typing */
  display: none;
}

/* EMOJI PICKER */
.emoji-picker{
  background: var(--theme-base-medium);                   /* Emoji Picker background */
  border-radius: 0;
  border:1px solid var(--theme-base-border);
}
.emoji-picker .search-bar{                                /* Emoji search bar background */
  background: var(--theme-base-medium);
}
.emoji-picker .search-bar input{                          /* Emoji search bar */
  border-radius: 0 !important;
  color:var(--theme-base-colour-primary);
  background: var(--theme-base-medium-high);
}
.emoji-picker .sticky-header{                             /* Category headers */
  background: var(--theme-base-medium);
  color: var(--theme-base-colour-primary);
}
.emoji-item.selected{                                     /* When an emoji is hovered */
  background: none !important;
}
.emoji-item.selected .sprite-item{                        /* turn off greyscale when hovered */
  -webkit-filter: grayscale(0%) !important;
}
.emoji-item .sprite-item{                                 /* Unselected Emojis */
  -webkit-filter: grayscale(50%) !important;
}

/* MEMBERS LIST */
.channel-members-wrap{
  width: 230px;
}
.channel-members{                                         /* Members list */
  background: var(--theme-base-medium);
  width: 230px;
  padding: 10px 0;
}
.channel-members h2{                                      /* Member group headers */
  padding: 0 15px;
}
.channel-members .member+h2{                              /* Less border between groups */
  margin-top: 15px;
}
.channel-members .member{                                 /* Bring avatars closer to edges */
  padding: 5px 15px;
}
.channel-members .member:hover{                           /* Hover member */
  background: var(--theme-base-medium-high);
}
.channel-members .avatar-small{                           /* Make avatars squares */
  border-radius: 0;
}
.channel-members .member .member-activity{                                         /* Hide the words "Playing"/"Streaming" */
  font-size: 0;
}
.member-activity strong{                                  /* Name of the game/stream */
  font-weight: normal !important;
}
.member-status-online > .avatar-small{                    /* Use a green border to represent online members */
  border: 1px solid var(--theme-user-online);
}
.member-status-idle > .avatar-small{                      /* Use an orange border to represent idle members */
  border: 1px solid var(--theme-user-idle);
}
.member-status-offline > .avatar-small{                   /* Use a grey border to represent offline members */
  border: 1px solid var(--theme-user-offline);
}
.channel-members .avatar-small .status{                   /* Hide default status indicators */
  display: none;
}


/* SCROLLBARS */
.scroller-wrap .scroller::-webkit-scrollbar {             /* Width of scrollbar */
  width: 10px
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {       /* Scrollbar handle */
  background-color: var(--theme-base-high);
  background-clip: padding-box;
  border: 0;
  border-radius: 5px
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece { /* Scrollbar track */
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-radius: 5px
}


/* MEMBER PROFILE */
.user-popout .header{                                     /* User popout header */
  background: var(--theme-userpop-bg);
  background-position: var(--theme-userpop-bg-pos);
}
.user-popout .body{
  background: var(--theme-base-high);
}
.user-popout .footer{
  background: var(--theme-base-high);
  border-top:1px solid var(--theme-base-border2);
}
.user-popout .body .section .label{
  color: var(--theme-base-colour-secondary);
}
#user-profile-modal .header{                              /* User profile header */
  background: var(--theme-userprofile-bg);
  background-position: var(--theme-userprofile-bg-pos);
}
.user-popout .username-wrapper .activity{
  font-size: 13px;
  font-weight: normal;
}
.user-popout .username-wrapper .activity strong{          /* Now playing font */
  font-weight: normal;
}
.protip .label{                                           /* Protip text */
  font-variant: normal;
  text-transform: none;
}

/* PINNED MESSAGES */
.channel-pins-wrap{                                       /* Pinned messages */
  background: var(--theme-base-high);
  border: 1px solid var(--theme-base-border);
  border-radius: 0;
}
.channel-pins-wrap .header{                               /* Pinned messages box header */
  box-shadow: none;
  border-bottom: 1px solid var(--theme-base-border);
}

.channel-pins-wrap .header .title{                        /* Pinned messages box header */
  color: var(--theme-base-colour-primary);
  font-weight: normal;
  font-size: 13px;
}
.channel-pins{
  padding: 0;
}
.channel-pins .message-group{
  margin:0;
  border-radius: 0;
  border-bottom: 1px solid var(--theme-base-border2);
  border-top: 0;
  border-right: 0;
  border-left:0;
}
.channel-pins .message-group:hover{
  background: var(--theme-base-medium-high);
  border-bottom: 1px solid var(--theme-base-border2);
}
.channel-pins .message-group .action-buttons .jump-button{ /* Jump button */
  background: none;
  color: var(--theme-base-colour-primary);
}
.channel-pins .message-group .action-buttons .jump-button:hover{
  color: var(--theme-base-colour-primary);
}
.channel-pins .message-group:hover .action-buttons{       /* Remove shitty glow around jump button */
  box-shadow: none;
  background: var(--theme-button);
  
}
.channel-pins .message-group:hover .action-buttons:hover{
  background: var(--theme-button-hover);
}
.channel-pins-wrap .footer{                               /* Displays if there are no pinned messages */
  background: transparent;
  border-radius: 0;
  border-top: 1px solid var(--theme-base-border2);
}
.channel-pins .empty-placeholder .body,                   /* No pinned messages message */
.protip.popout-footer .tip{                               /* The tip message */
  color:var(--theme-base-colour-secondary);
  font-weight: normal;
}
.user-popout .footer .quick-message-wrapper .input{       /* Quick message box */
  height: 22px;
  padding: 0 10px;
  border: 1px solid var(--theme-textbox-border);
  border-radius: 0;
  background: var(--theme-textbox-background);
  color: var(--theme-base-colour-primary);
}


/* OTHER */
img.emote{                                                /* Set max size for JTV, FrankerZ emotes */
  height: 16px;
}
.channel-textarea-guard{                                  /* "You must be a member for..." chat box message */
  font-weight: normal;
  color: var(--theme-base-colour-primary);
  font-size: 13px;
}
.channel-textarea-guard .countdown{
  background: var(--theme-base-medium);
  font-size: 13px;
  font-weight: normal;
  color:var(--theme-base-colour-secondary);
}
.channel-textarea-guard .countdown .countdown-number{     /* Countdown timer if the server requires you to be a member for at least 10 mins */
  background: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}