#bd-settingspane-container .content-column.default{
    padding: 26px 15px 0 0 !important;
}
#bd-settingspane-container h2.ui-form-title{
    color: $BaseHigh;
    @include FontSubtitle;
}

// Detatched
#bd-customcss-detach-container{
    padding-top: 32px;
}
