.bd-sidebar-header .bd-changelog-button{
    margin-top: calc((64px / 2) - (16px / 2));
}

div[class^="bd-"]{
    &.item-PXvHYJ{
        margin-bottom: 0;
        padding: 14px 48px;
        border-radius: 0;
        color: $BaseHigh;
        &:hover{
            background-color: $ListLow;
            cursor: default;
        }
    }
}
.theme-dark .layer-3QrUeG[aria-label="USER_SETTINGS"]{
    .sidebar-CFHs9e{
        .item-PXvHYJ{
            &::after{
                position: absolute;
                left: 16px;
                color: #FFF;
                @include FontIcon;
                font-size: 16px;
            }
        }
        // User Settings
        .item-PXvHYJ[aria-controls="Settings-tab"]::after{ // BD:Settings
            content: "\E713" !important; // Setting
        }
        .item-PXvHYJ[aria-controls="Emotes-tab"]::after{ // BD:Emotes
            content: "\ED56" !important; // EmojiTabFoodPlants
        }
        .item-PXvHYJ[aria-controls="customcss-tab"]::after{ // BD:CustomCSS
            content: "\E943" !important; // Code
        }
        .item-PXvHYJ[aria-controls="plugins-tab"]::after{ // BD:Plugins
            content: "\E943" !important; // Code
        }
        .item-PXvHYJ[aria-controls="themes-tab"]::after{ // BD:Themes
            content: "\E771" !important; // Personalise
        }
        .item-PXvHYJ[aria-controls="aaa-tab"]::after{ // BD:Themes
            content: "\E771" !important; // Personalise
        }
    }
}

.bd-setting-header label[for="minimalMode"]::after{
    content: " Metro for Discord: Do not turn this on";
    color: $alert;
}
