.theme-dark #bd-settings-sidebar .ui-tab-bar-separator{
    display: none;
}

// Header
.theme-dark #bd-settings-sidebar .ui-tab-bar-header{
    margin-top: 16px;
    padding: 0 16px;
    color: gray;
    @include FontBody;
    text-transform: none;
    line-height: 48px;
}

// Tabs
.theme-dark #bd-settings-sidebar .ui-tab-bar-item{
    padding: 14px 48px;
    margin-bottom: 0;
    border-radius: 0;
    color: #FFF;
    @include FontBody;
    &:hover{
        background-color: $ListLow;
    }
    &.selected{
        background-color: transparent;
        color: $Accent;
        &:hover{
            background-color: $ListLow;
        }
        &::before{
            content: "";
            width: 4px;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: $Accent;
            margin-top: -10px;
        }
    }

    &::after{
        position: absolute;
        left: 16px;
        color: #FFF;
        @include FontIcon;
        font-size: 16px;
    }
    &:nth-child(3)::after{ // Settings
        content: "\E713"; // Settings
    }
    &:nth-child(4)::after{ // Emotes
        content: "\E899"; // Emoji
    }
    &:nth-child(5)::after{ // Plugins
        content: "\EA86";  // Puzzle
    }
    &:nth-child(6)::after{ // Themes
        content: "\E771"; // Personalize
    }
    &:nth-child(7)::after{ // Customcss
        content: "\E943"; // Code
    }
}

#bd-settingspane-container{
    padding: 0 15px 0 12px;
}
