#bd-settings-sidebar .ui-tab-bar-separator{
    display: none;
}

// Header
#bd-settings-sidebar .ui-tab-bar-header{
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: #FFF;
    font-size: $fsheader;
    font-weight: $fwheader;
    text-transform: none;
}

// Tabs
#bd-settings-sidebar .ui-tab-bar-item{
    padding: 14px 16px;
    margin-bottom: 0;
    border-radius: 0;
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    &:hover{
        background-color: $b2;
    }
}
#bd-settings-sidebar .ui-tab-bar-item.selected{
    background-color: transparent;
    color: var(--accent);
    &:hover{
        background-color: $b2;
    }
}
#bd-settings-sidebar .ui-tab-bar-item.selected::before{
    content: "";
    width: 4px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--accent);
    margin-top: -10px;
}

#bd-settingspane-container{
    padding: 0 15px 0 12px;
}

// Switches
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper{
    width: 40px;
    height: 20px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch{
    background-color: transparent;
    border: 2px solid $inputborder;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper:hover .ui-switch{
    border-color: $inputborderhover;
}
// toggled
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked{
    background-color: var(--accent);
    border-color: transparent;
}
// Dot
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before{
    width: 10px;
    height: 10px;
}
