// Open folder button
.bd-pfbtn{
    height: 32px;
    padding: 0 10px;
    background-color: $BaseLow;
    border: 0;
    border-radius: 2px;
    @include FontBody;
    &:hover{
        border-color: $ListLow;
    }
    &:focus{
        border-color: $BaseMediumLow;
    }
}

.ui-standard-sidebar-view .bda-slist li,
.ui-standard-sidebar-view .bda-slist li:nth-child(odd){
    background-color: $ChromeMediumLow;
    border: 0;
}
.ui-standard-sidebar-view .bda-slist li{
    margin-bottom: 4px;
    padding: 8px;
}

.bda-slist .bda-name{
    max-height: initial;
    color: #FFF;
    @include FontBody;
}

.ui-standard-sidebar-view .bda-slist .bda-description{
    border: 0;
    color: #FFF;
}

.ui-standard-sidebar-view .bda-slist .bda-right button{
    height: 32px;
    padding: 0 10px;
    background-color: $BaseLow;
    border: 0;
    border-radius: 2px;
    @include FontBody;
    &:hover{
        border-color: $ListLow;
    }
    &:focus{
        border-color: $BaseMediumLow;
    }
}
