.theme-dark .chat,
.theme-dark .chat>.content,
.theme-dark .messages-wrapper{
    background-color: $b2;
}

.theme-dark .chat{
    // Cozy chat
    .message-group{
        .comment{
            .markup{
                color: #FFF;
            }
        }
        h2 strong{
            color: #ACACAC;
            font-size: $fsui;
            font-weight: 400;
        }
        &:not(.has-divider){
            border-bottom-color: rgba($color: #FFF, $alpha: 0.05);
        }
        .mentioned .message-text::after{
            display: none;
        }
        a{
            color: var(--link);
        }
    }

    // Compact chat
    .message-group.compact{
        .timestamp{
            width: auto;
            display: unset;
            color: rgba($color: #FFF, $alpha: 0.5);
        }
        .message:hover .timestamp{
            color: #FFF !important;
        }
        .message .message-text{
            .markup{
                padding-left: 50px;
                text-indent: -50px;
            }
            .user-name{
                color: #ACACAC;
                font-weight: 400;
            }
        }
    }

    // Mention
    .mention{
        background-color: transparent;
        color: var(--link);
        transition: none;
        &:hover{
            background-color: transparent;
            text-decoration: underline;
        }
    }
    .message-group .comment .markup .mention{
        background-color: transparent;
        &:hover{
            background-color: transparent;
        }
    }

    // Dividers
    .messages-wrapper .messages .divider{
        height: 20px;
        margin: 0;
        background-color: transparent;
        div{
            display: none;
        }
        &::before{
            display: none;
        }
        span{
            width: 100%;
            padding: 2px 10px;
            border-bottom: 1px solid #FFF;
            border-radius: 0;
            font-size: $fsui;
            font-weight: normal;
            line-height: 20px;
            text-align: right;
            text-transform: none;
        }
        & span{
            background-color: transparent;
        }
        &:not(.red) span{
            color: #FFF;
        }
        &.divider-red > span{
            border-color: $alert;
            color: $alert;
        }
        + .divider{
            margin-top: 8px;
        }
    }

    // New message bars
    .new-messages-bar{
        background-color: var(--accent);
        border-radius: 0;
        button:first-child,
        button:last-child{
            color: #FFF;
            font-family: $font;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
    }
    .jump-to-present-bar{
        background-color: var(--accent);
        border: 0;
        border-radius: 0;
        button:first-child,
        button:last-child{
            color: #FFF;
            font-family: $font;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
    }

    // Load more message
    .has-more button{
        background-color: $b3;
        border: 1px solid transparent;
        border-radius: 0;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-transform: none;
        &:hover{
            border-color: $inputborder;
        }
        &:focus{
            border-color: $inputborderhover;
        }
    }

    // Robot message
    .message-group.is-local-bot-message{
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }

    // System message
    .system-message{
        color: #FFF;
        font-size: $fsui;
        .system-message-icon{
            background-size: 16px;
        }
    }

    // Editing message
    .message-group .edit-message{
        .edit-container-inner{
            margin-right: 40px;
            div[class^="inner-"]{
                background-color: $b1;
                border-radius: 0;
            }
            textarea{
                margin: 0;
            }

            // Emoji button
            button[class*="emojiButton-"]{
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
                padding: 0;
                border-radius: 0;
                &::before{
                    content: "\E170";
                    font-family: $icon;
                    font-size: 21px;
                    text-align: center;
                }
                div[class*="sprite-"]{
                    display: none;
                }
                &.popout-open{
                    background-color: var(--accent);
                    &:hover{
                        background-color: var(--accent);
                    }
                }
            }
            div[class^="emojiButtonNormal-"]{
                opacity: 1;
            }
        }
        .edit-operation{
            color: #FFF;
            font-family: $font;
            font-weight: normal;
            > a{
                color: var(--accent);
            }
        }
    }

    // Auto complete
    // Hack to stop the autocomplete popout being selected
    // This code is borrowed from _chatbox.scss, changes there should be mirrored here
    div[class^="emojiButton"] ~ div[class^="autocomplete-"]{
        background-color: $b1;
        border-bottom: 1px solid $b2;
        border-radius: 0;
    }
    div[class^="autocomplete-"]{
        div[class^="contentTitle"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            strong{
                font-weight: normal;
                &::before,
                &::after{
                    content: "'";
                }
            }
        }
        div[class*="selector-"]{
            border-radius: 0;
        }
        div[class^="selectorSelected"]{
            background-color: var(--accent);
        }
        polygon{
            fill: #FFF;
        }
        div[class^="description"]{
            color: #FFF;
        }
    }

    // Reactions
    .reaction{
        border: 1px solid transparent;
        border-radius: 0;
        &:hover{
            border-color: $inputborder;
        }
        .reaction-count{
            color: rgba(255,255,255,.5);
            font-weight: normal;
        }
        &.reaction-me{
            background-color: var(--accent);
            color: #FFF;
            font-weight: normal;
        }
    }

    // Start of channel history
    .messages div[class^="default-"]{
        height: auto;
        margin: 0;
        padding: 20px;
        background-color: #232323;
        background-image: none;
        h1.old-h1{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwchat;
        }
    }

    // File attachments
    .message-group .comment div[class^="attachment-"]{
        height: 56px;
        padding: 8px;
        background-color: $b1;
        border-radius: 0;
        img[class^="icon-"]{
            display: none;
        }
        div[class^="attachmentInner"]{
            height: 40px;
            position: relative;
            padding-left: 48px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a[class^="filename-"],
            div[class^="filename-"]{
                font-size: $fsui;
                font-weight: $fwui;
                line-height: $lh;
            }
            div[class^="size-"]{
                line-height: $lh;
            }
            div[class^="metadata-"]{
                color: #FFF;
                font-weight: normal;
            }
            // Upload progress bar
            div[class^="progress-"]{
                background-color: rgba($color: #FFF, $alpha: 0.2) !important;
                border-radius: 0;
                div[class^="progressBar-"]{
                    background-color: var(--accent) !important;
                    border-radius: 0;
                }
            }
        }
        img[class^="icon-"]~div::before{
            content: "";
            width: 40px;
            height: 40px;
            padding: 8px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--accent);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            box-sizing: border-box;
        }
        svg[class^="downloadButton"] g{
            display: none;
        }
    }
}

// Special snowflakes
// Blocked messages
.theme-dark .messages-wrapper .messages .message-group-blocked{
    border: 1px solid transparent;
    border-radius: 0;
    .message-group-blocked-btn{
        background: $b3;
        color: #fff;
        font-size: $fschat;
        font-weight: $fwchat;
        text-transform: none;
        &:hover{
            background-color: $b3;
        }
    }
    &.revealed{
        background-color: $b3;
    }
}
