.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu .messages-3amgkR{
    background-color: $ChromeMediumLow;
}

// Remove 'drop shadow' from under toolbar
.content-yTz4x3:before{
    display: none;
}

.theme-dark .chat-3bRxxu{
    .messages-3amgkR{
        padding: 0 20px;
    }

    // New Message bars
    .barBase-1c2Rfb{
        right: 36px;
        left: 20px;
    }
    .newMessagesBar-265mhP,
    .jumpToPresentBar-G1R9s6{
        background-color: $Accent;
        opacity: 1;
        &:hover{
            background-color: $ListAccentHigh;
        }
        .barButtonBase-2uLO1z{
            @include FontBody;
        }
    }
    .newMessagesBar-265mhP{
        border-radius: 0 0 4px 4px;
    }
    .jumpToPresentBar-G1R9s6{
        padding-bottom: 0;
        border-radius: 4px 4px 0 0;
    }

    // Welcome message
    .default-1VPH9n{
        margin: 0;
    }
    .base-34jWEe{
        background-color: transparent;
        background-image: none;
        border: 0;
        h1{
            color: $BaseHigh;
            @include FontTitle;
            strong{
                font-weight: 400;
            }
        }
    }

    // Dividers
    .divider-3_HH5L{
        margin: 4px 0;
    }
    .divider-JfaTT5{
        height: 0;
        border-color: $ChromeHigh;
        &.hasContent-1_DUdQ{
            margin-top: 0.5rem;
            margin-bottom: -10px;
        }
        &.isUnread-3Ef-o9{
            border-color: $alert;
            span{
                color: $alert;
            }
            .unreadPill-2HyYtt{
                text-transform: capitalize;
            }
        }
        &.beforeGroup-1rH1F0{
            margin-bottom: calc(0.53125rem - 1rem - 2px);
            top: unset;
        }
        span{
            padding: 2px 8px;
            background-color: $ChromeMediumLow;
            color: $BaseHigh;
            @include FontBody;
        }
    }

    // background flash fixes
    .backgroundFlash-24qWLN .groupStart-23k01U{
        margin-top: calc(1.0625rem / 2) !important;
    }
    :not(.backgroundFlash-24qWLN) .message-2qnXI6:last-child{
        margin-bottom: 1rem;
    }

    // Message
    .message-2qnXI6{
        // Remove hover state
        &:hover{
            background-color: transparent;
        }

        // Mentioned
        &.mentioned-xhSam7{
            background-color: transparent;
        }

        // Timestamp
        .timestamp-3ZCmNB{
            color: $BaseMedium;
        }

        // Username
        .username-1A8OIy{
            font-weight: 400;
        }

        // Chat text
        .markup-2BOw-j{
            color: $BaseHigh;
        }

        // Mention
        span.mention{
            background-color: transparent;
            color: $Accent;
        }

        // System message
        &.systemMessage-1I9LCe{
            .container-3-pyIM{
                color: $BaseMedium;
                a{
                    color: $BaseMedium;
                    font-weight: normal;
                }
                .timestamp-1E3uAL{
                    color: $BaseMedium;
                    &::before{
                        content: "(";
                    }
                    &::after{
                        content: ")";
                    }
                }
            }
        }
    }

    // Compact
    .compact-T3H92H{
        &.groupStart-23k01U{
            margin-top: calc(1.0625rem / 2);
            padding-top: calc(1.0625rem / 2);
            border-top: 1px solid $ListLow;
        }
        .container-3FojY8{
            padding-left: 60px;
            text-indent: calc(-80px - -1rem);
        }
    }

    // Cozy Message
    .cozyMessage-3V1Y8y{
        &.groupStart-23k01U{
            margin-top: calc(1.0625rem / 2);
            padding-top: calc(1.0625rem / 2);
            border-top: 1px solid $ListLow;
        }
        &.wrapper-2a6GCs{
            padding-left: 64px;
        }
        .avatar-1BDn8e{
            width: 44px;
            height: 44px;
            top: 8px;
            left: 0;
        }
        .container-3FojY8{
            padding-left: 60px;
        }
        .header-23xsNx{
            padding-left: 60px;
            margin-left: -60px;
        }
        .avatar-1BDn8e{
            margin: 0;
        }
    }

    .scroller-3sQKXg:after{
        content: unset;
    }

    // Mentioned
    .message-2qnXI6.groupStart-23k01U{
        &.localBot-GrCgVt::before,
        &.mentioned-xhSam7::before{
            width: 2px;
            left: -16px;
            top: calc(1.0625rem / 2);
            bottom: 2px;
            border-radius: 1px;
        }
    }
    .message-2qnXI6:not(.groupStart-23k01U){
        &.localBot-GrCgVt::before,
        &.mentioned-xhSam7::before{
            width: 2px;
            left: -16px;
            top: 2px;
            bottom: 2px;
            border-radius: 1px;
        }
    }

    // Message options
    .buttonContainer-DHceWr{
        .container-3npvBV{
            top: 0;
            padding-left: 0;
        }
        .wrapper-2aW0bm{
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
            .emojiButton-jE9tXC{
                display: none;
            }
            .emojiSeparator-10VgEJ{
                display: none;
            }
            .button-1ZiXG9{
                &:hover{
                    background-color: $ListLow;
                }
            }
        }
    }

    // Editing message
    .channelTextArea-3bF57p{
        .scrollableContainer-2NUZem{
            background-color: $ChromeBlackHigh;
            border-radius: 0;
        }
        // Buttons
        .buttons-3JBrkn{
            .emojiButton-3uL3Aw{
                &::before{
                    content: "\E76E";
                    color: $BaseMedium;
                    @include FontIcon;
                    font-size: 24px;
                }
                &:hover{
                    &::before{
                        color: $BaseHigh;
                    }
                }
                .contents-18-Yxp{
                    display: none;
                }
            }
        }
    }
    .operations-36ENbA{
        color: $BaseMedium;
        a{
            color: $Accent;
        }
    }

    // Reactions
    .reactions-12N0jA{
        .reaction-1hd86g{
            border-radius: 0;
            .reactionInner-15NvIl{
                padding: 4px 8px;
                &:hover{
                    background-color: $ListLow;
                }
            }
            .reactionCount-2mvXRV{
                margin-left: 8px;
                color: $BaseHigh;
                font-weight: normal;
            }
            &.reactionMe-wv5HKu{
                background-color: $Accent;
                .reactionCount-2mvXRV{
                    color: $BaseHigh;
                }
            }
        }
        .reactionBtn-3N03Zj{
            width: unset;
            height: unset;
            margin-top: -2px;
            padding: 5px 8px;
            background-color: $BaseLow;
            &:hover{
                background-color: $ListLow;
            }
        }
    }

    // Auto complete
    // Hack to stop the autocomplete popout being selected
    // Changes to this code must be mirrored to _chat.scss
    div[class^="scrollableContainer-"] ~ div[class^="autocomplete-"]{
        background-color: $ChromeLow;
        border-bottom: 2px solid $Accent;
        border-radius: 0;
    }
    div[class^="autocomplete-"]{
        div[class^="contentTitle"]{
            color: $BaseHigh;
            @include FontBase;
            strong{
                font-weight: normal;
                &::before,
                &::after{
                    content: "'";
                }
            }
        }
        div[class*="selector-"]{
            border-radius: 0;
        }
        div[class^="selectorSelected"]{
            background-color: $ListAccentLow;
        }
        polygon{
            fill: $BaseHigh;
        }
        div[class^="description"]{
            color: $BaseHigh;
        }
    }
}
