.theme-dark .form-2fGMdU{
    margin-top: 0;
    padding-right: 36px;
    padding-left: 20px;
    // Remove gradient
    &::before{
        content: unset;
    }

    .channelTextArea-rNsIhG{
        margin-bottom: 0;
        background-color: transparent;
        border-top: 2px solid $ListLow;
        border-radius: 0;
        transition: 150ms ease-in border-top-color;
        &:focus-within{
            border-top-color: $Accent;
            transition: 150ms ease-in border-top-color;
        }
        &:hover:not(:focus-within){
            border-top-color: $BaseLow;
            transition: 150ms ease-in border-top-color;
        }

        // Replying to user
        .container-2fRDfG{
            background-color: $ChromeBlackLow;
            border-radius: 0;
            .actions-NlfMQc{
                .mentionButton-3710-W{
                    &.colorBrand-2tjs5J{
                        color: $Accent;
                    }
                    &::before{
                        content: "\E168";
                        @include FontIcon;
                        padding-right: 4px;
                    }
                    svg{
                        display: none;
                    }
                }
                .closeButton-37O8QC{
                    &::before{
                        content: "\E8BB";
                        @include FontIcon;
                    }
                    svg{
                        display: none;
                    }
                }
            }
        }


        .scrollableContainer-2NUZem{
            background-color: transparent;
            border-radius: 0;
            overflow-y: auto;
        }

        // Upload button
        .attachWrapper-2TRKBi{
            border: 0;
            button{
                width: 48px;
                height: 46px;
                padding: 0;
                &::before{
                    content: "\E898";
                    color: #CCC;
                    @include FontIcon;
                    font-size: 16px;
                }
                &:hover{
                    background-color: $ListLow;
                }
                .contents-18-Yxp{
                    display: none;
                }
            }
        }

        .textArea-12jD-V{
            min-height: 46px;
        }

        // Placeholder
        .placeholder-37qJjk{
            color: #CCC;
        }

        // Adjust text to be inline with Cozy text
        .placeholder-37qJjk,
        .slateTextArea-1Mkdgw{
            padding-left: 12px;
            padding-right: 12px;
        }

        // Textarea
        .markup-2BOw-j{
            color: #FFF;
        }
        // Special content
        .wrapper-3WhCwL{
            background-color: transparent;
            color: var(--link);
            &:hover{
                text-decoration: underline;
            }
        }
        // Code
        .after_inlineCode-1KfVgj span,  // End inline code marker
        .before_inlineCode-1G9rTK span, // Start inline code marker
        .inlineCode-2ngu6Y span,        // Inline code
        .codeBlockSyntax-2i-tMA span,   // Start/end code block marker
        .codeBlockLang-O_f4hr span,     // Codeblock language
        .codeLine-14BKbG span{          // Codeblock code
            @include FontMonospace;
        }

        // Command
        .pill-2pQByF{
            padding-bottom: 3px;
            background-color: $ListAccentMedium;
            @include FontBody;
        }
        .tabButton-1n4gNP{
            opacity: 1;
        }

        // Right buttons
        .buttons-3JBrkn{
            margin-right: 0;
            button[aria-label="Send a gift"]{
                display: none;
            }
            .buttonContainer-28fw2U{
                button[aria-label="Open GIF picker"]{
                    display: none;
                }
            }
            .emojiButton-3uL3Aw{
                width: 48px;
                height: 46px;
                margin: 0;
                padding: 0;
                &::before{
                    content: "\E76E";
                    color: #CCC;
                    @include FontIcon;
                    font-size: 16px;
                }
                &:hover{
                    background-color: $ListLow;
                    &::before{
                        color: #FFF;
                    }
                }
                .contents-18-Yxp{
                    display: none;
                }
            }
        }
    }

    // Is Typing
    .typing-2GQL18{
        height: 32px;
        top: -32px;
        right: 37px;
        bottom: unset;
        background-color: transparent;
        font-size: 11px;
        line-height: 20px;
        align-items: flex-end;
        justify-content: flex-end;
        pointer-events: none;
        svg{
            display: none;
        }
        span[class^="text-"]{
            // Force text to right side when slowmode is enabled
            right: 0;
            position: absolute;
            strong{
                font-weight: normal;
            }
        }
        // Slowmode font-weight
        .cooldownWrapper-3joyFc{
            font-weight: normal;
        }
        // Fix position of countdown timer
        .text-1y-e8-:not(:empty) + .cooldownWrapper-3joyFc{
            margin-bottom: 14px;
        }
    }

    // Auto complete
    // Hack to stop the autocomplete popout being selected
    // Changes to this code must be mirrored to _chat.scss
    div[class^="scrollableContainer-"] ~ div[class^="autocomplete-"]{
        bottom: 100%;
        background-color: $ChromeLow;
        border-bottom: 1px solid $Accent;
        border-radius: 0;
        box-shadow: none;
    }

    // Titlebar
    .contentTitle-2tG_sM{
        color: $BaseHigh;
        @include FontBody;
        text-transform: none;
        strong{
            &::before, &::after{
                content: '\'';
            }
        }
    }

    // Parameter type
    .bar-AokMp3{
        background-color: $ChromeMedium;
        .option-2lkyZ_{
            border-radius: 2px;
            padding-bottom: 2px;
            &.active-2awTSY{
                background-color: $Accent;
            }
        }

        // Command help
        .description-QP9Ktn{
            @include FontCaption;
        }
    }
}
