.theme-dark .chat form{
    background-color: transparent;
    box-shadow: none;
}
div[class*="channelTextArea"]{
    margin: 0 0 20px;
}
.theme-dark div[class*="channelTextArea"] div[class*="inner-"]{
    background-color: $b1;
    border-radius: 0;
}

// Textarea
.theme-dark div[class*="channelTextArea"] textarea{
    margin-left: 40px;
    color: #FFF;
    letter-spacing: normal;
}
.theme-dark div[class*="channelTextArea"] textarea::-webkit-input-placeholder{
    color: #FFF;
}
div[class*="channelTextArea"] div[class*="inner-"] div[class^="flex"]~textarea{
    margin: 0;
}

// Upload button
div[class*="channelTextArea"] svg[class^="attachButton-"]{
    margin: 0 0 0 40px;
    padding: 8px;
    &:hover{
        transform: none;
    }
}

// Divider
div[class*="channelTextArea"] div[class^="attachButtonDivider-"]{
    width: 10px;
    margin: 0;
    background-color: transparent;
}

// Emoji button
div[class*="channelTextArea"] div[class*="emojiButton-"]{
    width: 40px;
    height: 40px;
    top: 0;
    right: initial;
    left: 0;
}
div[class*="channelTextArea"] div[class*="emojiButton-"] div[class*="sprite-"]{
    transition: none;
    background-image: none;
}
div[class*="channelTextArea"] div[class*="emojiButton-"] div[class*="sprite-"]::before{
    content: "\E170";
    font-family: $icon;
    font-size: 21px;
    text-align: center;
}
div[class*="channelTextArea"] div[class*="emojiButton-"] div[class*="spriteHovered"]{
    transform: none;
}
div[class*="channelTextArea"] div[class*="emojiButton-"].popout-open{
    background-color: var(--accent);
}

// Typing
.theme-dark div[class^="typing-"]{
    height: 20px;
    background-color: transparent;
    font-size: 11px;
    line-height: 20px;

    // Hide dots animation
    & span[class^="ellipsis"]{
        display: none;
    }

    // X is typing...
    & span[class^="text-"]{
        color: #FFF;
        & strong{
            font-weight: $fwchat;
        }
    }
}

// Auto complete
.theme-dark div[class^="autocomplete-"]{
    background-color: $b1;
    border-bottom: 1px solid $b2;
    border-radius: 0;
}
div[class^="autocomplete-"] div[class^="contentTitle"]{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    text-transform: none;
}
div[class^="autocomplete-"] div[class^="contentTitle"] strong{
    font-weight: normal;
}
div[class^="autocomplete-"] div[class^="contentTitle"] strong::before,
div[class^="autocomplete-"] div[class^="contentTitle"] strong::after{
    content: "'";
}
div[class^="autocomplete-"] div[class*="selector-"]{
    border-radius: 0;
}
.theme-dark div[class^="autocomplete-"] div[class^="selectorSelected"]{
    background-color: var(--accent);
}
.theme-dark div[class^="autocomplete-"] polygon{
    fill: #FFF;
}

// Countdown timer
.theme-dark .channel-textarea-guard{
    background-color: $b1;
    background-image: none;
}
.theme-dark .channel-textarea-guard > div{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
}

.channel-textarea-guard .countdown{
    margin: 0;
    font-family: $mono;
    font-size: $fsui;
    font-weight: $fwui;
}
.channel-textarea-guard .countdown .countdown-number{
    min-width: auto;
}
.theme-dark .channel-textarea-guard .countdown-number{
    background-color: transparent;
    border: 0;
}

// Unblock user
.channel-textarea-guard > div{
    margin-top: 8px;
}
.channel-textarea-guard button{
    margin: 8px 0;
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: 0;
    font-size: $fsui;
    font-weight: $fwui;
    &:hover{
        background-color: var(--accent);
        border-color: $inputborder;
    }
}
