.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu>.content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY{
    background-color: $b2;
}

.theme-dark .chat-3bRxxu{
    // Cozy chat
    .messageCozy-2JPAPA{
        .markup-2BOw-j{
            color: #FFF;
        }
        .username-_4ZSMR{
            color: #acacaa;
            font-size: $fsui;
            font-weight: normal;
        }
        .isMentionedCozy-3isp7y{
            border-radius: 0;
            &::after{
                border-radius: 0;
            }
        }
        a{
            color: var(--link);
        }
    }

    // Compact chat
    .messageCompact-kQa7ES{
        .markup-2BOw-j{
            color: #FFF;
        }
        &:hover time{
            color: #FFF;
        }
        .username-_4ZSMR{
            color: #acacaa;
            font-size: $fsui;
            font-weight: normal;
        }
    }

    // Mention
    span.wrapper-3WhCwL,
    .mention{
        padding: 0;
        background-color: transparent;
        color: var(--link);
        transition: none;
        &:hover{
            background-color: transparent;
            text-decoration: underline;
        }
    }
    .message-group .comment .markup .mention{
        background-color: transparent;
        &:hover{
            background-color: transparent;
        }
    }

    // Spoilers
    .spoilerContainer-331r0R{
        border-radius: 0;
    }
    .spoilerText-3p6IlD{
        border-radius: 0;
        &.hidden-HHr2R9{
            background-color: #000;
        }
    }

    // Dividers
    .divider-3gKybi{
        height: 20px;
        margin: 0 6px 0 20px;
        background-color: transparent;
        &::before{
            display: none;
        }
        span{
            padding: 4px 12px;
            background-color: transparent;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        div{
            background-color: #FFF;
        }
        &:not(.dividerRed-MKoLlr) span{
            color: #FFF;
        }
        &.dividerRed-MKoLlr{
            > div{
                background-color: $alert;
                opacity: 1;
            }
            > span{
                color: $alert;
            }
        }
    }

    // New message bars
    .newMessagesBar-mujexs{
        background-color: var(--accent);
        border-radius: 0;
        button:first-child,
        button:last-child{
            color: #FFF;
            font-family: $font;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        button:last-child{
            display: none;
        }
    }
    .jumpToPresentBar-9P20AM{
        background-color: var(--accent);
        border: 0;
        border-radius: 0;
        button:first-child,
        button:last-child{
            color: #FFF;
            font-family: $font;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        button:last-child{
            display: none;
        }
    }

    // Load more message
    .hasMore-3e72_v{
        background-color: $b3;
        border: 2px solid transparent;
        border-radius: 0;
        box-shadow: none;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-transform: none;
        &:hover{
            border-color: $inputborder;
        }
        &:focus{
            border-color: $inputborderhover;
        }
    }

    // Robot message
    .isLocalBot-38G0P0{
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }

    // System message
    .container-3-pyIM{
        color: #FFF;
        font-size: $fsui;
        .icon-2Po-VO{
            background-size: 14px;
        }
    }

    // Editing message
    .messageEditorCompact-2PSR3v,
    .contentCozy-3XX413{
        div[class^="inner-"]{
            background-color: $b1;
            border-radius: 0;
        }
        textarea{
            margin: 0;
        }
        // Emoji button
        button[class*="emojiButton-"]{
            width: 40px;
            height: 40px;
            top: 0;
            right: 0;
            padding: 0;
            border-radius: 0;
            &::before{
                content: "";
                width: 40px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 24px;
            }
            div[class*="sprite-"]{
                display: none;
            }
            &.popout-open{
                background-color: var(--accent);
                &:hover{
                    background-color: var(--accent);
                }
            }
            &:hover{
                background-color: $b3;
            }
        }
        div[class^="emojiButtonNormal-"]{
            opacity: 1;
        }
    }
    .operations-36ENbA{
        color: #FFF;
        font-family: $font;
        font-weight: normal;
        > a{
            color: var(--accent);
        }
    }

    // Auto complete
    // Hack to stop the autocomplete popout being selected
    // This code is borrowed from _chatbox.scss, changes there should be mirrored here
    .buttons-205you ~ div[class^="autocomplete-"]{
        background-color: $b1;
        border-bottom: 1px solid $b2;
        border-radius: 0;
    }
    div[class^="autocomplete-"]{
        div[class^="contentTitle"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            strong{
                font-weight: normal;
                &::before,
                &::after{
                    content: "'";
                }
            }
        }
        div[class*="selector-"]{
            border-radius: 0;
        }
        div[class^="selectorSelected"]{
            background-color: var(--accent);
        }
        polygon{
            fill: #FFF;
        }
        div[class^="description"]{
            color: #FFF;
        }
    }

    // Reactions
    .reaction{
        border: 1px solid transparent;
        border-radius: 0;
        &:hover{
            border-color: $inputborder;
        }
        .reaction-count{
            color: rgba(255,255,255,.5);
            font-weight: normal;
        }
        &.reaction-me{
            background-color: var(--accent);
            color: #FFF;
            font-weight: normal;
        }
    }

    // Start of channel history
    div[class^="default-"]{
        height: auto;
        margin: 0;
        padding: 20px;
        background-color: #232323;
        background-image: none;
        h1{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwchat;
        }
    }

    // File attachments
    .attachment-33OFj0{
        height: 56px;
        padding: 8px;
        background-color: $b1;
        border-radius: 0;
        img[class^="icon-"]{
            display: none;
        }
        div[class^="attachmentInner"]{
            height: 40px;
            position: relative;
            padding-left: 48px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a[class*="fileNameLink-"],
            div[class^="filename-"]{
                font-size: $fsui;
                font-weight: $fwui;
                line-height: $lh;
            }
            div[class^="size-"]{
                line-height: $lh;
            }
            div[class^="metadata-"]{
                color: #FFF;
                font-weight: normal;
            }
            // Upload progress bar
            div[class^="progress-"]{
                background-color: rgba($color: #FFF, $alpha: 0.2) !important;
                border-radius: 0;
                div[class^="progressBar-"]{
                    background-color: var(--accent) !important;
                    border-radius: 0;
                }
            }
        }
        img[class^="icon-"]~div::before{
            content: "";
            width: 40px;
            height: 40px;
            padding: 8px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--accent);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            box-sizing: border-box;
        }
        svg[class^="downloadButton"] g{
            display: none;
        }
    }
}

// Special snowflakes
// Blocked messages
.theme-dark .messageGroupBlocked-3wrQQX{
    border: 1px solid transparent;
    border-radius: 0;
    .messageGroupBlockedBtn-1PBBh-{
        background: $b3;
        color: #fff;
        font-size: $fschat;
        font-weight: $fwchat;
        text-transform: none;
        &:hover{
            background-color: $b3;
        }
    }
    &.revealed-1_RKsf{
        background-color: $b3;
    }
}
