.chat-3bRxxu,
.chat-3bRxxu .messages-3amgkR{
    background-color: $b2;
}

.theme-dark .chat-3bRxxu{
    // New Message bars
    .newMessagesBar-mujexs,
    .jumpToPresentBar-9P20AM{
        background-color: var(--accent);
        border-radius: 0;
        .barButtonBase-3UKlW2{
            font-weight: normal;
        }
    }

    // Dividers
    .divider-JfaTT5{
        border-color: #555;
        &.isUnread-3Ef-o9{
            border-color: $alert;
            span{
                color: $alert;
            }
            .unreadPill-2HyYtt{
                text-transform: capitalize;
            }
        }
        span{
            padding: 2px 8px;
            background-color: $b2;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
        }
    }

    // Message
    .message-2qnXI6{
        // Remove hover state
        &:hover{
            background-color: transparent;
        }

        // Timestamp
        .timestampCompact-29LLPQ,
        .timestampCozy-1HNQR2{
            color: #CCC;
        }

        // Username
        .username-1A8OIy{
            font-weight: 400;
        }

        span.mention{
            background-color: transparent;
            color: var(--accent);
        }
    }
    
    .scroller-3sQKXg:after{
        content: unset;
    }

    // Message options
    .buttonContainer-DHceWr{
        .container-3npvBV{
            top: 0;
        }
        .wrapper-2aW0bm{
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
            .emojiButton-jE9tXC{
                display: none;
            }
            .emojiSeparator-10VgEJ{
                display: none;
            }
            .button-1ZiXG9{
                &:hover{
                    background-color: $b3;
                }
            }
        }
    }

    // Editing message
    .channelTextArea-3bF57p{
        .scrollableContainer-2NUZem{
            background-color: #000;
            border-radius: 0;
        }
        // Buttons
        .buttons-3JBrkn{
            .emojiButton-3uL3Aw{
                &::before{
                    content: "\E76E";
                    color: #CCC;
                    font-family: $icon;
                    font-size: 24px;
                }
                &:hover{
                    &::before{
                        color: #FFF;
                    }
                }
                .contents-18-Yxp{
                    display: none;
                }
            }
        }
    }
    .operations-36ENbA{
        color: #CCC;
        a{
            color: var(--link);
        }
    }

    // Auto complete
    // Hack to stop the autocomplete popout being selected
    // Changes to this code must be mirrored to _chat.scss
    div[class^="scrollableContainer-"] ~ div[class^="autocomplete-"]{
        background-color: $b1;
        border-bottom: 1px solid $b2;
        border-radius: 0;
    }
    div[class^="autocomplete-"]{
        div[class^="contentTitle"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            strong{
                font-weight: normal;
                &::before,
                &::after{
                    content: "'";
                }
            }
        }
        div[class*="selector-"]{
            border-radius: 0;
        }
        div[class^="selectorSelected"]{
            background-color: var(--accent);
        }
        polygon{
            fill: #FFF;
        }
        div[class^="description"]{
            color: #FFF;
        }
    }
}
