// Codeblock
.theme-dark .markup-2BOw-j pre{
    background-color: #2F2F2F;
    border: 0;
    border-left: 4px solid #5e5e5e;
    border-radius: 0;
    .hljs{
        border-radius: 0;
    }
    code{
        background-color: #2F2F2F;
        border: 0;
        @include FontMonospace;
        overflow-x: hidden;
        &::before{
            content: attr(class);
            width: calc(100% + 316px);
            display: block;
            margin: -7px 0 1em -316px;
            padding: 2px 6px 2px 0;
            background-color: #5E5E5E;
            color: #FFF;
            @include FontMonospace;
            font-size: 10px;
            line-height: 1.5625;
            text-transform: uppercase;
            word-spacing: 10px;
        }
    }
    // Hide language bar if no language is set
    code[class="scrollbarGhostHairline-1mSOM1 scrollbar-3dvm_9 hljs"]::before{
        display: none;
    }
}

// Inline code
.theme-dark .markup-2BOw-j code.inline{
    padding: 2px 4px;
    background-color: #2F2F2F;
    border-radius: 0;
    @include FontMonospace;
}
