.theme-dark .embed-IeVjo6{
    border-radius: 0;
    &.embedFull-2tM8--{
        background-color: $ChromeMedium;
        border-left: 4px solid #000;
    }

    // Media
    .embedMedia-1guQoW{
        border-radius: 0;
        // GIF
        .imageAccessory-3uSIjZ{
            top: unset;
            right: unset;
            bottom: 4px;
            left: 4px;
            .gifTag-31zFY8{
                width: auto;
                background-image: none;
                &::before{
                    content: "GIF";
                    color: #FFF;
                    @include FontCaption;
                    padding: 4px;
                    background-color: #000;
                }
            }
            // Remove Gif favourite
            .gifFavoriteButton-1gYkEU{
                display: none;
            }
        }

    }

    // Remove border radius on preview images
    .embedImage-2W1cML img,
    .embedImage-2W1cML video,
    .embedThumbnail-2Y84-K img,
    .embedThumbnail-2Y84-K video,
    .embedVideo-3nf0O9 img,
    .embedVideo-3nf0O9 video{
        border-radius: 0;
    }
}

// Audio
.theme-dark .wrapperAudio-1jDe0Q{
    background-color: $ChromeMedium;
    border: 0;
    border-radius: 0;
    // File type icon
    .audioMetadata-3zOuGv{
        &::before{
            content: "\EC4F";
            background-image: none;
            @include FontIcon;
            font-size: 24px;
            text-align: center;
            line-height: 36px;
        }
    }
    // Download
    .metadataDownload-1fk90V{
        padding-left: 8px;
        &::before{
            content: "\E896";
            @include FontIcon;
            font-size: 24px;
            text-align: center;
            line-height: 36px;
        }
        svg{
            display: none;
        }
    }
}

// Video
// Brought to you by the Department of Redundancy Department
.theme-dark .wrapper-2TxpI8,
.theme-dark .imageWrapper-2p5ogY,
.theme-dark .video-8eMOth{
    border-radius: 0;
}

// Media player controls
.theme-dark .audioControls-2HsaU6,
.theme-dark .videoControls-2kcYic{
    background-color: #000;
    border-radius: 0;
    // Duration
    div[class^="buffer"]{
        display: none;
    }
    div[class^="durationTimeWrapper"] span{
        @include FontNormal;
        @include FontCaption;
    }
    // Scrubbing bar
    div[class^="mediaBarInteraction"]{
        cursor: default;
    }
    div[class^="mediaBarWrapper"]{
        height: 2px;
        background-color: #fff;
        &::before,
        &::after{
            display: none;
        }
        div[class^="mediaBarPreview"]{
            &::before,
            &::after{
                display: none;
            }
        }
        div[class^="mediaBarProgress"]{
            height: 4px;
            margin-top: -1px;
            background-color: $Accent;
            span{
                width: 12px;
                height: 12px;
                margin-top: -8px;
                margin-right: -8px;
                background-color: $ChromeMedium;
                border: 2px solid $Accent;
                border-radius: 50%;
                transform: none;
                cursor: default;
                &:hover{
                    border-color: #FFF;
                }
            }
            &::before,
            &::after{
                display: none;
            }
        }
    }
    // Parent element is rotated 90deg CCW
    div[class*="mediaBarInteractionVolume-"]{
        padding: 12px;
        background-color: #000;
        border-radius: 0;
    }
}

// Spotify Invite
.accessory,
div[class^="modal-"]{
    div[class^="invite-"]{
        background-color: $ChromeMedium;
        border: 0;
        border-left: 3px solid #000;
        border-radius: 0;
        div[class^="header-"]{
            color: #FFF;
            @include FontBody;
            text-transform: none;
        }
        // Song name, Artist, Album
        div[class^="partyStatus"]{
            margin-top: 12px;
            @include FontCaption;
            div[class^="details-"]{
                @include FontCaption;
            }
            div[class^="state"]{
                @include FontCaption;
            }
        }

        // Poster avatar/People listening
        div[class^="partyMembers"]{
            margin-left: 12px;
            div[class^="avatar"]{
                width: 36px;
                height: 36px;
            }
        }

        // Album art
        img[class*="artwork-"]{
            border-radius: 0;
        }
        // Session ended art (just show a spotify logo)
        div[class^="artworkSpotifySessionEnded"]{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAACeVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8avHfUAAAA0nRSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQWGBkaGxweHyAhIiMkJSYoKiwtLi8wMTQ2Nzg5Ojs9QEJDRUZHSElKS0xNTlFSU1VWV1laXF1hYmNkZWZoaWprbG1ub3Fyc3R1dnd4ent9fn+AgYKDhIWGh4iLjI2Oj5CRkpSWmJmcnZ6foKKkpaanqaqrrK2ur7CxtLW2t7i5uru8vb6/wMHExcbHyMrLzM3Oz9DR0tTW19jZ2tze3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f6WqEk/AAADn0lEQVR4AZ3S618U9R8F8DMzP0BY+clFxBAq0/KiKRUWXQIJy0SjIERJQxERJUQiIkxLCqqtRLCLWpZplIEQJgkaEiAsErG6zPmLAmaB7zCzuzO8n50Hn/M639cMfIlNO/jppU6X2+3q/PmzQ+mLYYe07kirSh217e1ECdYsyGujqau7I62cFw/QJ9dbgSrkzB761ZutwI8HzzOgH5fBp5dctODOFpiTy1RaU6HARFAtLXOGmNyfpA0Nhga5lrY4Fegdpk0V0Nmk0q4tENw/SNvuPIRp8jnOwQ8KpmzlnGTBK7ybRneHBweGRsboR28ENIWcoXY2VOSkro0PD5IBSQmJXvpYel7VV9dNmw55B/RRo7aUp8bAXNST+04PcZZBbUIONV3r4F9wUvk16ryBCS3UJCMwOfGoizPaJQBrqBlVYMn/d17ntPUASqjxRECgOBbeFxcbHSLDKCS7m15HAFymVwkmLEjKfa+hpcdNzT83muort29YOGtFHTWtQPQYvdTjySnvNHtoqqMua6k4osN7E4vnaFl72SpMOUZNGgpoxy+ZoZhUT00xamjOPeRyjag06M6bB2C1m5pPcJ56nrbafS+uX+JQJEmSQxatfDbn3bN9FF3L3vBmP70uop2CrqqUSBjJy16p7aWpP3FLSN+Ewqf/JVWbdQxiUEiPwq95my9wtlFdwXJMU8KiYqIdQZjliTPU+1f3hEqMW7SxsPbijckPoI72/FZfvm1NMGY8dYWiAfxOweevV7apNBg+s3eFBK/gLynowPe0pr0oAZqHKfgJJ2iV5+TjmLCEgjrspQ1frwJQRkERnqHBcHN99YGdmRkZ23L3V59qvyeuOLHDSdFGRHooGDq1PyVegk5o4q7GEZpTY4AmIV+NgTnHpvp7NNECoFjIBfAt7vAADcoArBDycUyYv/qFHaVHP3I6P36/dPvzD8jwiio1vGQtxv3KaWNlKfnOPzzU6W/cvRyahAvUuSJh3GsMSG3eFa3/iTS5mBDWQwuGqxYDSNBvC8ekPbRk+EB45BcUFULj6KI17rsUdYfD62XOyVZMkU5zDs7KmBbXR9sGEiBIHaNNajp0CmlTCfSkY7SlRsYsSh1tcAbBQLGxoSYIJqTCMVqiHpRhLrWPFtxOg09xjQzo23j4IW3uol83MyT4F5Z/iz79XTAfgYW92kRTl7McsOiRokse6niailfClojk/A/Otd7sv/1X63cf7nk6Ej78B9PzXW2egHSAAAAAAElFTkSuQmCC);
            background-size: auto;
        }
    }
}

// File attachment
.theme-dark .attachment-33OFj0{
    max-width: 458px;
    height: 60px;
    position: relative;
    background-color: $ChromeMedium;
    border: 0;
    border-radius: 0;
    // Hide default image
    img{
        display: none;
        // Replace with MDL icon
        &~div::before{
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 8px;
            background-color: $Accent;
            color: #FFF;
            @include FontIcon;
            font-size: 24px;
        }
    }

    // Move filename and size
    .filenameLinkWrapper-1-14c5,
    .metadata-3WGS0M,
    .filename-3eBB_v{ // Filename while uploading
        margin-left: 50px;
    }

    .filenameLinkWrapper-1-14c5,
    .filename-3eBB_v{
        color: #FFF;
        @include FontBody;
        opacity: 1;
        a{
            color: var(--link);
        }
    }
    .metadata-3WGS0M{
        color: $BaseLow;
    }

    .progress-3Rbvu0{
        border-radius: 0;
        .progressBar-3u8FBM{
            background-color: $Accent !important;
            border-radius: 0;
        }
    }

    // Remove unneeded download icon
    .attachmentInner-3vEpKt ~ a{
        display: none;
    }


    img[title="acrobat"]~div::before{
        content: "\EA90"; //PDF
    }
    img[title="archive"]~div::before{
        content: "\E8B7"; // Folder
    }
    img[title="unknown"]~div::before,
    img[title="webcode"]~div::before,
    img[title="document"]~div::before{
        content: "\E8A5"; // Document
    }
}
