// Media
.theme-dark div[class^="embed-"]{
    & div[class^="embedPill-"]{
        background-color: #000;
        border-radius: 0;
    }
    & div[class^="embedInner"]{
        background-color: darken($color: $b2, $amount: 1);
        border: 0;
        border-radius: 0;
    }
    & a[class*="embedImage"]{
        border-radius: 0;
    }
}

// GIFV (eg. from giphy)
.embed .embed-thumbnail-gifv:after{
    content: "GIF";
    width: auto;
    height: auto;
    background-image: none;
    color: #FFF;
    top: auto;
    bottom: 8px;
    left: 8px;
    font-size: 18px;
}
