// Media
.theme-dark div[class^="embed-"]{
    & div[class^="embedPill-"]{
        background-color: #000;
        border-radius: 0;
    }
    & div[class^="embedInner"]{
        background-color: darken($color: $b2, $amount: 1);
        border: 0;
        border-radius: 0;
    }
    & a[class*="embedImage"]{
        border-radius: 0;
    }
}
.embedImage-2W1cML,
.embedThumbnail-2Y84-K,
.embedVideo-3nf0O9{
    border-radius: 0;
}

// GIF (eg. from giphy)
.imageWrapper-2p5ogY{
    border-radius: 0;
}
div[class^="embed-"] div[class^="gifTag-"],
div[class^="imageAccessory"],
div[class^="imageAccessory"] div[class^="gifTag-"]{
    width: auto;
    height: auto;
    top: initial;
    right: initial;
    bottom: 8px;
    left: 8px;
    background-image: none;
}
div[class^="embed-"] div[class^="gifTag-"]::before,
div[class^="imageAccessory"] div[class^="gifTag-"]::before{
    content: "GIF";
    color: #FFF;
    font-size: 18px;
}
// Remove GIF favourite button
.gifFavoriteButton-1gYkEU{
    display: none;
}

// Spotify Invite
.accessory,
div[class^="modal-"]{
    div[class^="invite-"]{
        background-color: darken($color: $b2, $amount: 1);
        border: 0;
        border-left: 3px solid #000;
        border-radius: 0;
        div[class^="header-"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        // Song name, Artist, Album
        div[class^="partyStatus"]{
            margin-top: 12px;
            font-size: $fschat;
            div[class^="details-"]{
                font-size: $fschat;
            }
            div[class^="state"]{
                font-size: $fschat;
            }
        }
        // Join the party button
        button[class*="lookFilled"][class*="colorGreen"]{
            height: 36px;
            background-color: transparent;
            border: 1px solid $inputborder;
            position: relative;
            &:hover{
                border-color: $inputborderhover;
            }
        }
        // Disabled button
        button[class*="lookFilled"][class*="colorGrey"]{
            height: 36px;
            background-color: transparent;
            border: 1px solid $inputborder;
            border-radius: 0;
            font-size: $fsui;
            font-weight: $fwui;
        }

        // Poster avatar/People listening
        div[class^="partyMembers"]{
            margin-left: 12px;
            div[class^="avatar"]{
                width: 36px;
                height: 36px;
            }
        }
        
        // Album art
        img[class*="artwork-"]{
            border-radius: 0;
        }
        // Session ended art (just show a spotify logo)
        div[class^="artworkSpotifySessionEnded"]{
            background-image: url(https://i.imgur.com/ccG6HYH.png);
            background-size: auto;
        }
    }
}

// Embedded AV
// Embedded audio metadata
.theme-dark div[class^="wrapperAudio"]{
    background-color: $b1;
    border: 0;
    border-radius: 0;

    // Icon
    div[class^="audioMetadata"]::before{
        content: "";
        width: 40px;
        height: 40px;
        background-color: var(--accent);
        background-position: center;
        background-repeat: no-repeat;
    }
    div[class^="metadataSize"]{
        color: #FFF;
    }
}
// Embedded video viewport
.theme-dark video{
    border-radius: 0;
}

.theme-dark a[class*="metadataDownload"] svg[name="Download"] g{
    display: none;
}
// AV controls
.theme-dark div[class^="audioControls-"],
.theme-dark div[class^="videoControls-"]{
    background-color: #000;
    border-radius: 0;
    // Duration
    div[class^="buffer"]{
        display: none;
    }
    div[class^="durationTimeWrapper"] span{
        font-family: $font;
        font-size: $fschat;
        font-weight: $fwui;
    }
    // Scrubbing bar
    div[class^="mediaBarInteraction"]{
        cursor: default;
    }
    div[class^="mediaBarWrapper"]{
        height: 2px;
        background-color: #fff;
        &::before,
        &::after{
            display: none;
        }
        div[class^="mediaBarPreview"]{
            &::before,
            &::after{
                display: none;
            }
        }
        div[class^="mediaBarProgress"]{
            height: 4px;
            margin-top: -1px;
            background-color: var(--accent);
            span{
                width: 12px;
                height: 12px;
                margin-top: -8px;
                margin-right: -8px;
                background-color: $b1;
                border: 2px solid var(--accent);
                border-radius: 50%;
                transform: none;
                cursor: default;
                &:hover{
                    border-color: #FFF;
                }
            }
            &::before,
            &::after{
                display: none;
            }
        }
    }
    // Parent element is rotated 90deg CCW
    div[class*="mediaBarInteractionVolume-"]{
        padding: 12px;
        background-color: #000;
        border-radius: 0;
    }
}
