.theme-dark .wrapper-35wsBm{
    background-color: #000;
    border: 0;
    border-radius: 0;

    // YOU'VE BEEN INVITED header
    h5[class*="header-"]{
        display: none;
    }

    // Server icon
    div[class^="icon-"]{
        background-color: transparent;
        border: 0;
        border-radius: 50%;
    }
    div[class^="guildIconExpired"]{
        position: relative;
        background-color: $alert;
        background-image: none;
        border-radius: 50%;
    }
    div[class^="guildIconExpired"]::before{
        content: "";
        width: 36px;
        height: 8px;
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -18px;
        position: absolute;
        background-color: #FFF;
    }

    // Server name
    div[class^="guildName"]{
        font-size: $fsui;
        font-weight: $fwui;
    }
    div[class^="guildNameExpired"]{
        color: $alert;
    }

    // Details
    div[class^="guildDetail"]{
        color: #FFF;
        font-weight: normal;
    }

    // Member counts
    div[class^="guildDetail"]{
        span{
            color: #FFF;
            font-size: 12px;
            font-weight: normal;
        }
        i[class^="statusOnline"]{
            width: 12px;
            height: 12px;
            background-color: $statusonline;
        }
        i[class^="statusOffline"]{
            width: 12px;
            height: 12px;
            background-color: $statusoffline;
        }
    }

    //Button
    button{
        height: 36px;
    }
    button svg{
        display: none;
    }
}
