.theme-dark .chat-3bRxxu .gatedContent-3-B7qB{
    // Remove image
    div[class^="image-"]{
        display: none;
    }

    // Title
    div[class^="title-"]{
        @include FontSubtitle;
        text-align: left;
    }

    // Description
    div[class^="description-"]{
        color: $BaseHigh;
        @include FontBody;
        text-align: left;
    }

    // Separator
    div[class^="separator-"]{
        display: none;
    }
}
