.theme-dark .welcomeMessage-ULm0mo{
    background-color: transparent;
    align-items: baseline;
    margin: 0 -20px 0 -20px;
    padding-top: 48px; // Clear the unread message bar
    padding-left: 20px;

    // Header
    h1{
        color: #FFF;
        font-size: $fsheader;
        font-weight: $fwheader;
        text-transform: none;
    }

    // Remove help items
    .itemContainer-1tq6cd{
        display: none;
    }

    // Remove watermark image
    .emptyMessage-3-SPAD{
        display: none;
    }
}
