div[class^="welcomeMessage"]{
    background-color: darken($b2, 1%);
    align-items: baseline;

    // Header
    & h1[class^="h1-"]{
        color: #FFF;
        font-size: $fsheader;
        font-weight: $fwheader;
        text-transform: none;
    }

    // Remove icons
    div[class^="icon-"]{
        display: none;
    }
    p{
        width: auto;
        margin: 0;
        padding: 0 0 10px;
        color: #FFF;
        line-height: 1.3333;
    }
    strong{
        font-weight: normal;
    }
    a{
        color: $a;
        &:hover{
            color: #FFF;
        }
    }

    // Remove footer watermark
    div[class^="emptyMessage"]{
        display: none;
    }
}
