.channels-wrap:after{
  width: 100%;
  height: 18px;
  background: var(--theme-accent);
  content: "A new version of Metro for Discord is available";
  color: #FFF;
  font-size: 10px;
  text-align: center;
  padding-top: 6px;
  margin-left: -1px;
  border-top: 1px solid var(--theme-base-border);
}