body.bd-blue .app::before{
    content: "Please disable \"BetterDiscord Blue\" mode in BetterDiscord settings.";
    height: 36px;
    background-color: $alert;
    color: #FFF;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
}
