.notice-2FJMB4{
    border-radius: 0;
    @include FontBody;
    line-height: 32px; // Override
    button{
        padding: 0 12px;
        border: 1px solid $BaseMedium;
        border-radius: 2px;
        @include FontBody;
    }
    .dismiss-SCAH9H{
        width: 32px;
        height: 32px;
        opacity: 1;
    }
}
