//META{"name":"Metro_for_Discord_Speech_Bubbles","description":"Speech bubbles addon for Metro For Discord.<br><a href='https://git.io/v63Jp' target='_BLANK'>Github Repo</a>","author":"Tako","version":"1.2.0"}*//{}

/* 
The oh-so-original speech bubbles addon for Metro for Discord.
Original idea by Uri, then nicked by everyone else.

Installation:
1. Place in your BetterDiscord themes folder as per-usual.
2. In Discord, enable "Developer Mode" in appearance settings, and turn on "Cozy" mode while you're there.
3. Right click your avatar in the members list and then click "Copy ID".
4. Replace the text in this theme which says "YOURIDHERE" with your ID and save.
5. In BetterDiscord settings, enable "Metro for Discord" and "Metro For Discord Speech Bubbles".
6. Restart Discord.
*/

.message-group:not(.compact){
    border-bottom: 0 !important;
    width: auto;
    position: relative;
}
.message-group:not(.compact) .comment{
    background-color: var(--b3);
    padding: 8px;
    margin-bottom: 8px;
    flex: initial;
}
.message-group:not(.compact) .comment:after {
    content: "";
    position: relative;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: var(--b3) transparent;
    display: inline-block;
    bottom: -19px;
    left: -8px;
}
.message-group:not(.compact) .comment .markup{
    overflow: hidden;
    line-height: 1.5625;
}
.message-group:not(.compact) .comment .markup pre{
    min-width: 100%;
}

.message-group:not(.compact) .avatar-large[style*="YOURIDHERE"]{
    position: absolute;
    right: 0;
}
.message-group:not(.compact) .avatar-large[style*="YOURIDHERE"]+.comment{
    background-color: var(--accent);
    display: block;
    margin: 0 60px 0 auto;
}
.message-group:not(.compact) .avatar-large[style*="YOURIDHERE"]+.comment:after{
    content: "";
    position: relative;
    border-width: 10px 0 0 10px;
    border-style: solid;
    border-color: var(--accent) transparent;
    display: inline-block;
    bottom: -19px;
    left: 100% !important;
    margin-left: -2px;
}

.message-group:not(.compact) .avatar-large[style*="YOURIDHERE"]+.comment .mentioned .message-text .mention,
.message-group:not(.compact) .avatar-large[style*="YOURIDHERE"]+.comment .mention{
    color: #fff;
}
.message-group:not(.compact) .mentioned .message-text:after{
    display: none;
}