.theme-dark div[class^="keybindShortcut-"]{
    color: #FFF;
    font-family: $mono;
    font-weight: normal;
    span{
        background-color: transparent;
        border: 1px solid #FFF;
        border-bottom: 4px solid #FFF;
        box-shadow: none;
        color: #FFF;
        g{
            fill: #FFF !important;
        }
        
    }
}
