.keybind-shortcut{
    color: #FFF;
    font-family: $mono;
    font-weight: normal;
}
.keybind-shortcut span,
.keybind-shortcut.dark span{
    background-color: transparent;
    border: 1px solid #FFF;
    border-bottom: 4px solid #FFF;
    box-shadow: none;
    color: #FFF;
}

// SVG
.keybind-shortcut span g,
.keybind-shortcut.dark span g{
    fill: #FFF !important;
}

// Dimmed shortcut
.keybind-shortcut.dim span{
    background-color: transparent;
    color: #FFF;
}
