.theme-dark .modal-3HD5ck.modal-1k91nT.sizeSmall-Sf4iOi{
    background-color: $b1;
    border: 1px solid var(--accent);
    box-shadow: none;

    // Header
    div[class*="header-"]{
        h2{
            padding: 36px 0 4px;
            font-size: $fsheader;
            font-weight: $fwheader;
            text-transform: none;
        }
    }
    div[class^="subText-"]{
        color: #FFF;
        font-size: $fsui;
    }

    // Input
    div[class^="input-"]:not(input){
        border: 0;
    }
    button[class^="copyButton-"]{
        margin-left: 8px;
    }
    // Checkbox
    .checkbox{
        .checkbox-inner span{
            border: 1px solid $inputborder;
            border-radius: 0;
            &:hover{
                border-color: $inputborderhover;
            }
        }
        .checkbox-inner input[type=checkbox]:checked+span{
            background-color: var(--accent);
            border-color: transparent;
            &::after{
                top: 1px;
                left: 5px;
                border-width: 0 1px 1px 0;
            }
            &:hover{
                border-color: $inputborderhover;
            }
        }
        .checkBoxLabel-2XGyJf{
            color: #FFF;
            font-size: $fsui;
        }
    }

    // Dropdown header
    h5{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        letter-spacing: normal;
        text-transform: none;
    }
    // Toggle label
    div[class*="switchItem"] h3{
        font-weight: $fwui;
    }
    // Toggle description
    div[class^="description-"]{
        color: #FFF;
        font-weight: $fwui;
    }

    // Footer
    div[class*="footerText-"]{
        color: #FFF;
        font-size: $fsui;
    }
}
