.theme-dark .modal-3c3bKg .inner-1ilYF7 .modal-yWgWj-{
    // Deauthorise application and foreign link warning
    &.container-14fypd{
        max-height: unset;
        // Header
        .title-18-Ds0{
            padding-top: 18px;
            @include FontSubtitle;
            text-align: left;
        }
        // Content
        .body-Mj9Oxz{
            // The url
            strong{
                padding: 4px;
                color: $alert;
                font-size: 15px;
                @include FontMonospace;
            }
        }

        // Footer
        .footer-2gL1pp{
            justify-content: unset;
            button{
                min-width: auto;
                flex: none;
            }
            .minorAction-OVxOke{
                text-align: right;
            }
        }
    }
}
