.theme-dark div[class^="modal-"] div[class^="message-"]{
    background-color: $b3;
    border-radius: 0;
    box-shadow: none;
}

div[class^="modal-"] div[class^="pro-"]{
    color: $safe;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
    text-transform: none;
}
div[class^="modal-"] div[class^="tip"]{
    opacity: 1;
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
}
