.instant-invite-modal{
    height: 271px;
    background-color: $b1;
    border: 1px solid var(--accent);
    border-radius: 0;
}

// Header
#instant-invite-modal .form-header{
    padding: 0 20px;
    background-color: $b1;
    text-align: left;
}
#instant-invite-modal .form-header header{
    padding-top: 56px;
    padding-bottom: 4px;
    color: #FFF;
    font-size: $fsheader;
    font-weight: $fwheader;
    line-height: $lh;
}
#instant-invite-modal .blurb{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
    opacity: 1;
}

// Content
#instant-invite-modal .form-inner{
    padding: 20px;
    background-color: $b1;
}
#instant-invite-modal .clipboard-input-inner{
    height: auto;
    background: transparent;
    border: 0;
    border-radius: 0;
}
#instant-invite-modal .clipboard-input-inner input{
    margin-right: 8px;
    background-color: transparent;
    border: 1px solid $inputborder;
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: 1 !important;
    &::selection{
        background-color: $a;
    }
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        border-color: var(--accent);
        color: #000;
    }
}
#instant-invite-modal .copy{
    height: 36px;
    padding: 9px 12px 10px;
    background-color: var(--accent);
    border: 1px solid transparent;
    font-size: $fsui;
    line-height: 1;
    text-transform: none;
    &:hover{
        border-color: $inputborderhover;
    }
}
.clipboard-input-inner button:first-of-type:before{
    display: none;
}
#instant-invite-modal .expire-text{
    margin-top: 8px;
    color: #FFF;
    font-size: 15px;
    text-align: left;
}

// Footer
#instant-invite-modal .form-actions{
    background-color: $b1;
    border-radius: 0;
}

// Advanced
// Content
#instant-invite-modal-advanced .form-inner{
    padding: 20px;
    background-color: $b1;
}

// Footer
#instant-invite-modal-advanced .form-actions{
    padding: 0 20px 20px 20px;
    background-color: $b1;
}
