.deprecated-settings-modal .settings-inner{
    background-color: $b1;
    border: 1px solid var(--accent);
}
.notification-settings-modal.deprecated-settings-modal .settings-inner:first-child,
.notification-settings-modal.deprecated-settings-modal .settings-actions{
    border-radius: 0;
}

// Mute server
.notification-settings-modal .mute-server .checkbox .help-text{
    color: #FFF;
}

// Form
.notification-settings-modal .mute-server .checkbox .label{
    color: #FFF;
}

// Checkbox
.checkbox .checkbox-inner{
    width: 20px;
    height: 20px;
}
.deprecated-settings-modal .checkbox .checkbox-inner span{
    border: 1px solid $inputborder;
    border-radius: 0;
    &:hover{
        border-color: $inputborderhover;
    }
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span{
    background-color: var(--accent);
    border-color: $inputborder;
    &:hover{
        border-color: $inputborderhover;
    }
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span:after{
    width: 5px;
    top: 2px;
    left: 6px;
    border: 1px solid #FFF;
    border-top-width: 0;
    border-left-width: 0;
}

// Radio group
.form.deprecated .control-group label{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    text-transform: none;
}

// Radio
.form.deprecated .radio-group .radio{
    color: #FFF;
    font-size: $fsui;
}
.radio .radio-inner{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid $inputborder;
    box-sizing: border-box;
    &:hover{
        border-color: $inputborderhover;
    }
}
.radio .radio-inner span{
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.radio .radio-inner span:after{
    width: 10px;
    height: 10px;
    background-color: var(--accent);
}
.form.deprecated .radio-group li+li{
    margin-top: 8px;
}
.form.deprecated .radio-group{
    line-height: 20px;
}
.checkbox .checkbox-inner+span{
    color: #FFF;
}

// Table
// Header
.notification-settings-modal .notification-settings-modal-channel-settings-header{
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.notification-settings-modal .notification-settings-modal-channel-settings-header label{
    padding: 10px 12px;
    color: rgba(255,255,255,.6);
    font-size: 11px;
    font-weight: 400;
    line-height: $lh;
    text-transform: none;
}
// List
.notification-settings-modal .notification-settings-modal-channel-settings-list{
    padding: 0;
    box-shadow: none;
}
.channel-notification-settings{
    width: 100%;
    border-bottom: 0;
}
.channel-notification-settings .content{
    height: auto;
}
.channel-notification-settings .content .content-inner > .content-inner{
    padding: 10px 12px;
}
.channel-notification-settings .content label{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
}
.channel-notification-settings .content label:before{
    color: #FFF;
    font-weight: $fwui;
}
.channel-notification-settings .content a{
    color: #FFF;
    font-size: 13px;
    text-transform: none;
}
.channel-notification-settings .content .radio-container{
    width: auto;
}
.channel-notification-settings .content .radio-container .radio-button{
    width: 75px;
}

// Actions
.deprecated-settings-modal .settings-actions{
    margin-top: -1px;
    padding: 20px;
    background-color: $b1;
    border: 0;
    border-right: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
}

// Button
.form.deprecated .btn{
    padding: 9px 12px 10px;
    border: 1px solid transparent;
    font-size: $fsui;
    font-weight: $fwui;
    line-height: 1;
}
.form.deprecated .btn-primary{
    background-color: var(--accent);
    border-radius: 0;
    &:hover{
        background-color: var(--accent);
        border-color: $inputborder;
    }
    &:active{
        background-color: var(--accent);
        border-color: $inputborderhover;
    }
}
