// Go Live Modal
.theme-dark .modalOverhang-3WFc1y .art-2gnmb7{
    display: none;
}

.theme-dark .modal-yWgWj-{
    background-color: $b1;
    .header-3po9qd{
        padding-top: 0;
        align-items: baseline;
    }
    .headerDescription-2zd5Co{
        padding: 0;
        text-align: left;
    }

    .modalBody-LuOFny{
        h5{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        .card-2qG0dv{
            background-color: #000;
            border-radius: 0;
        }
        .channelName-xnMBGK,
        .ellipsisText-jjCRgk{
            font-weight: $fwui;
        }
    }
}
