.theme-dark .modal-1UGdnR{
    // Main body
    .contentWrapper-3WC1ID{
        background-color: $b1;
        border: 1px solid var(--accent);
        border-radius: 0;
    }
    // 'sub' title
    .subTitle-3TUjmF{
        display: none;
    }
    // Pills
    .pill-1dHPfk{
        background-color: #000;
        span{
            color: #FFF;
            font-size: $fsui;
        }
    }

    // Remove custom image
    .inviteSplash-40aHus{
        display: none;
    }
}
