.theme-dark .keyboardShortcutsModal-3piNz7{
    background-color: $b1;
    border: 1px solid var(--accent);
    border-radius: 0;
    .modalTitle-37O4n6{
        color: #FFF;
        font-size: $fsheader;
        font-weight: $fwheader;
    }
    .modalSubtitle-1Pj5nv{
        border: 0;
        color: #FFF;
        font-size: $fsui;
    }
    .ddrArrows-lSnH7P{
        display: none;
    }
    .keyboardShortcutList-13cQ-8{
        padding: 20px;
        .keybindGroup--6Qp-w.groupEnd-1cdweh{
            margin-bottom: 20px;
        }
        .keybindDescription-2RDbC2{
            color: #FFF;
            font-size: $fschat;
            font-weight: $fwui;
            line-height: $lh;
            text-transform: none;
        }
    }
}
