.theme-dark div[class^="modal-"]{
    div[class^="imageWrapper-"]{
        border-radius: 0;
    }
    a[class^="downloadLink"]{
        opacity: 1;
        font-size: $fsui;
        font-weight: $fwui;
        &:hover{
            text-decoration: underline;
        }
    }
}
