// Backdrop
.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4{
    opacity: 0.5 !important;
}

// Modal Type 1
.theme-dark .modal-3c3bKg .inner-1ilYF7 .modal-yWgWj-{
    background-color: $ChromeBlackHigh;
    border: 1px solid $BorderTransient;
    border-radius: 4px;

    // Header
    .header-2tA9Os{
        padding: 18px 23px;
        border-radius: 0;
        .title-3sZWYQ{
            @include FontSubtitle;
        }
    }

    // Content
    .inner-ZyuQk0{
        padding: 0 23px;
        .primary-jw0I4K{
            color: $BaseHigh;
            @include FontBody;
        }
    }

    // Footer
    .footer-2gL1pp{
        padding: 18px 23px;
        background-color: $ChromeBlackHigh;
        border-radius: 0;
        box-shadow: none;
    }
}

// Modal Type 2
.theme-dark .layer-2KE1M9 .root-1gCeng{
    background-color: $ChromeBlackHigh;
    border: 1px solid $BorderTransient;
    border-radius: 4px;
    // Header
    .header-1TKi98{
        padding: 18px 23px;
        border-radius: 0;
        .title-3sZWYQ{
            @include FontSubtitle;
        }
    }

    // Content
    .inner-ZyuQk0{
        padding: 0 23px;
        .primary-jw0I4K{
            color: $BaseHigh;
            @include FontBody;
        }
    }

    // Footer
    .footer-2gL1pp{
        padding: 18px 23px;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }
}
