div[class^="modal-"]{
    border-radius: 0;
}
.theme-dark div[class^="modal-"] > div[class^="inner"] > div[class^="modal"]:not(.modal-image),
.theme-dark div[class^="modal-"] > div[class^="inner"] > form[class^="modal"]{
    background-color: $b1;
    border: 1px solid var(--accent);
    border-radius: 0;
}

// Close button
div[class^="modal-"] svg[class^="close-"]{
    position: absolute;
    top: 20px;
    right: 20px;
}

// Header
div[class^="modal"] div[class*="header"] h4,
div[class^="scroller-"][class*="content-"] h2{
    padding: 36px 0 4px;
    font-size: $fsheader;
    font-weight: $fwheader;
    line-height: $lh;
    text-transform: none;
}
div[class^="scroller-"][class*="content-"] h2{
    text-align: left;
}

// Body
div[class^="scroller-"][class*="content-"] div[class^="body-"]{
    color: #FFF;
    font-size: $fsui;
    text-align: left;
}
div[class^="scroller-"][class*="content"] div[class^="medium-"]{
    color: #FFF;
    font-size: $fsui;
    line-height: 1.33333;
}

// Footer
.theme-dark div[class^="modal"] div[class*="footer"]{
    background-color: transparent;
    box-shadow: none;
}

// Buttons
.theme-dark div[class^="modal"] div[class*="footer"] button{
    min-height: 36px;
}
.theme-dark div[class^="modal"] div[class*="footer"] button+button{
    margin-right: 8px;
}

// Fixes Change log font size
div[class^="modal"] div[class*="content"] ul li{
    margin-bottom: 8px;
    color: #FFF;
    font-size: $fsui;
}
