.theme-dark .modal-36zFtW{
    .theme-light{
        .wrapper-2ZbzR9{
            background: $b1;
            border: 1px solid var(--accent);
            border-radius: 0;
        }
        .slide-2pHaq5{
            background: $b1;
        }
        .slideBody-2nMrnU{
            background-image: none;
        }

        .header-3ZP1MY,
        .title-2Dc-Cb,
        .title-2CFvp_{
            color: #FFF;
            font-size: 24px;
            font-weight: $fwheader;
            text-transform: none;
            text-align: left;
        }
        .description-QF3836,
        .description-Bw8krY{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            text-align: left;
        }
        .slideBody-MG_LIJ{
            padding: 28px 40px 0;
        }

        // Input label
        .label-wQQoIq{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        // Enter an instant invite
        .inputLabel-vJ2Z0B{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            line-height: $lh;
        }
        // Back button
        .cancelButton-RGXhAE{
            color: #FFF;
            font-size: $fsui;
            text-transform: none;
            &::before{
                display: none;
            }
        }

        .regionSelectWrapper-1favwk{
            .regionSelect-3lf4eE{
                height: 32px;
                &:hover{
                    .regionSelectInner-24f4Ce,
                    button{
                        background-color: transparent;
                        border-color: $inputborderhover;
                    }
                }
                .regionSelectInner-24f4Ce{
                    padding: 0 10px;
                    border: 2px solid $inputborder;
                    border-right-width: 0;
                    border-radius: 0;
                }
                .regionSelectFlag-3uwFtG{
                    width: 32px;
                    height: 16px;
                    background-color: transparent;
                    background-size: 32px 16px;
                    border-radius: 0;
                }
                .regionSelectName-2-2FWh{
                    color: #FFF;
                    font-size: $fsui;
                    font-weight: $fwui;
                }
                button{
                    padding: 0 10px;
                    color: #FFF;
                    font-style: $fsui;
                    font-weight: $fwui;
                    border: 2px solid $inputborder;
                    border-radius: 0;
                }
            }
        }

        .helpText-h3r3wC{
            color: #FFF;
        }

        .sampleLink-KPFu3I{
            color: #FFF;
            font-weight: $fwui;
            text-align: left;
        }

        .avatar-21196O{
            border: 0;
        }
        .avatarUploaderInner-3UNxY3{
            background-color: #000;
            .avatarUploaderAcronym-3SioMc{
                font-size: 24px;
                font-weight: $fwheader;
                &:empty::before{
                    content: "...";
                }
            }
            .avatarUploaderHint-3SN212{
                font-size: $fsui;
                font-weight: $fwui;
                text-transform: none;
                white-space: normal;
            }
        }
        .removeButton-1hcZyG{
            font-weight: $fwui;
        }

        .action-1lSjCi{
            padding: 20px;
            background-color: transparent;
            border: 2px solid $inputborder;
            border-radius: 0;
            text-align: left;
            &:hover{
                border-color: $inputborderhover;
            }
            .actionHeader-2CT5c7{
                margin-top: 0;
                color: #FFF;
                font-size: $fsheader;
                font-weight: $fwheader;
                text-transform: none;
            }
            .actionButton-2PeQbJ{
                display: none;
            }
            .actionBody-1qj65C{
                margin-top: 24px;
                padding: 0;
                color: #FFF;
                font-size: $fsui;
                font-weight: $fwui;
                line-height: $lh;
            }
            .actionIcon-2IISM_{
                margin: 24px 0 4px 0;
                filter: grayscale(100%) brightness(300%);
            }
        }
        .or-3THJsp{
            display: none;
        }
    }
}
