.theme-dark{
    .root-SR8cQa{
        border-radius: 0;
    }
    // HEADER
    .topSectionNormal-2-vo2m,
    .topSectionPlaying-1J5E4n,
    .topSectionSpotify-1lI0-P{
        background-color: $b1;
    }
    .topSectionSpotify-1lI0-P .activityProfile-2bJRaP{
        background-color: #1DB954;
    }

    .username-3gJmXY{
        font-size: 24px;
        font-weight: $fwheader;
    }
    .discriminator-xUhQkU{
        margin-left: 4px;
        font-size: $fschat;
    }

    // Game details
    // We only want to change the background of the game details, not the tab bar below
    .headerFill-adLl4x{
        background-color: transparent;
    }
    .activityProfile-2bJRaP{
        background-color: rgba($color: #FFF, $alpha: 0.07);
    }

    // TAB BAR
    .tabBarContainer-1s1u-z{
        margin-top: 8px;
        border-top: 0;
    }
    .tabBar-2MuP6-{
        height: 32px;
    }
    .tabBarItem-1b8RUP{
        margin-right: 25px;
        font-size: $fsui;
        font-weight: $fwui;
    }
    // Never heard of a selected class?
    .tabBarItem-1b8RUP[style^="border-color: rgb(255, 255, 255)"]{
        border-color: var(--accent) !important;
        color: var(--accent) !important;
    }

    // BODY
    .body-3ND3kc{
        background-color: $b1;
    }

    // Personal notes
    .note-3kmerW.note-QfFU8y{
        textarea{
            height: 48px !important;
            padding: 10px;
            border: 2px solid $inputborder;
            border-radius: 0;
            font-size: $fsui;
            &:hover{
                border-color: $inputborderhover;
            }
            &:focus{
                background-color: #FFF;
                border-color: var(--accent);
                color: #000;
            }
        }
    }

    // Connected accounts
    .connectedAccounts-repVzS{
        .connectedAccount-36nQx7{
            position: relative;
            margin-top: 12px;
            padding: 4px 8px;
            background-color: $b2;
            border: 2px solid transparent;
            border-radius: 0;
            &:hover{
                border-color: $inputborder;
            }
            a{
                position: absolute;
                width: 100%;
                height: 100%;
                .connectedAccountOpenIcon-2cNbq5{
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    margin-top: -9px;
                }
            }
        }
    }

    // Mutual Servers
    .listRow-hutiT_{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        &:hover{
            background-color: $b3;
            background-image: none; 
        }
    }

    // No results
    .empty-2WtT5s{
        .emptyIcon-pGTAhd{
            display: none;
        }
        .emptyText-6tYmO5{
            margin-top: 0;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
    }
}
