.inner-1JeGVc{
    // Main body
    div[class*="root-"]{
        border: 1px solid var(--accent);
        border-radius: 0;
    }

    // Top half
    div[class*="topSection"]{
        background-color: $b1;
    }

    // Header
    div[class*="topSection"] header{
        background-color: var(--accent);
    }
    // Avatar
    div[class^="avatar-"] div[class*="mask"]{
        mask: none;
        -webkit-mask: none;
    }
    // Username
    div[class^="headerInfo"] span.username{
        font-size: 24px;
        font-weight: 300;
        line-height: $lh;
    }
    // Badge
    div[class^="headerInfo"] div[class^="profileBadgeText"]{
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
    }

    // Additional actions
    div[class^="additionalActionsIcon"]{
        height: 14px;
        position: relative;
        background: none;
        border-top: 2px solid $inputborder;
        border-bottom: 2px solid $inputborder;
        &::before{
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            border-top: 2px solid $inputborder;
        }
        &:hover{
            border-color: $inputborderhover;
        }
        &:hover::before{
            border-color: $inputborderhover;
        }
    }

    // Playing game
    div[class^="activityProfile"]{
        div[class^="headerText"]{
            margin-bottom: 24px;
            font-size: $fsheader;
            font-weight: $fwheader;
            text-transform: none;
        }
        img[class*="assetsLargeImageProfile"]{
            border-radius: 0;
            mask: none;
            -webkit-mask: none;
        }
        div[class^="name-"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: normal;
            line-height: 1.33333;
        }
        span[class^="playTime"]{
            color: #FFF;
            font-size: $fschat;
        }
        // Spotify
        div[class^="contentImagesProfile"]{
            color: #FFF;
            a[class^="bodyLink"]{
                color: #FFF;
                font-weight: $fwui;
            }
            div[class^="details-"]{
                color: #FFF;
                font-weight: $fwui;
            }
        }
        // Song progress bar
        div[class^="bar-"]{
            background-color: rgba($color: #FFF, $alpha: 0.3);
            border-radius: 0;
            ~ div div[class^="textLeft"],
            ~ div div[class^="textRight"]{
                color: #FFF;
                font-weight: normal;
            }
        }
        div[class^="barInner-"]{
            background-color: #FFF;
            border-radius: 0;
        }
        // Spotify listen along
        div[class^="playButtonWrapper"] ~ button,
        div[class^="playButtonWrapper"] ~ span[class*="disabledWrapper"] button{
            width: 36px;
            height: 36px;
            min-width: 36px;
            max-width: 36px;
            padding: 3px 0 0 0;
        }
        div[class^="playButtonWrapper"] ~ span[class*="disabledWrapper"]{
            height: 36px;
        }
    }

    // Horizontal tabs
    div[class^="tabBarContainer"]{
        padding-left: 20px;
        border: 0;
    }
    .tab-bar .tab-bar-item{
        color: rgba(255,255,255,.7);
        font-size: $fsheader;
        font-weight: $fwheader;
        border: 0;
        &:hover{
            color: #FFF;
            border: none;
        }
    }
    .tab-bar .tab-bar-item.selected{
        color: var(--accent);
        border: 0;
    }

    // Bottom Half
    div[class*="body-"]{
        background-color: $b1;
    }

    // Note textarea
    div[class^="userInfoSectionHeader"]{
        color: #FFF;
        font-size: 15px;
        font-weight: normal;
        text-transform: none;
    }
    div[class^="note-"] textarea{
        min-height: 32px;
        padding: 9px 12px 10px;
        border: 2px solid $inputborder;
        border-radius: 0;
        color: #FFF;
        font-size: $fsui;
        line-height: 1;
        &:hover{
            border-color: $inputborderhover;
        }
        &:focus{
            background-color: #FFF !important;
            border-color: var(--accent);
        }
    }

    // Connected accounts
    div[class*="connectedAccount-"]{
        background-color: #000;
        border: 0;
        border-radius: 0;
    }
    div[class*="connectedAccountName"]{
        color: #FFF;
        line-height: $lh;
    }

    // Common server list
    div[class*=listRow]{
        color: #FFF;
        font-weight: normal;
        &:hover{
            background-color: $b2;
            background-image: none;
        }
        div[class^="listName"]{
            line-height: $lh;
        }
        div[class^="guildNick"]{
            color: #FFF;
        }
    }

    // No common friends
    div[class^="emptyIconGuilds"],
    div[class^="emptyIconFriends"]{
        display: none;
    }
    div[class^="emptyText"]{
        margin: 0;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-transform: none;
    }
}
