.theme-dark div[class^="quickswitcher"]{
    background-color: $b1;
    border: 1px solid var(--accent);
    border-radius: 0;
    color: #FFF;

    // Input
    input{
        height: 32px;
        background-color: transparent;
        box-shadow: none;
        border: 2px solid $inputborder;
        border-radius: 0;
        font-size: $fsui;
        font-weight: $fwui;
        &::-webkit-input-placeholder{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
        }
        &:hover{
            border-color: $inputborderhover;
        }
        &:focus{
            background-color: #FFF;
            border-color: var(--accent);
            color: #000;
        }
    }

    // Empty
    div[class^="emptyState-"]{
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: none;
        div[class^="emptyStateNote-"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
        }
        div[class^="emptyStateCTA"]{
            color: $a;
            opacity: 1;
        }
    }

    // Section header
    div[class^="header-"]{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-transform: none;
    }

    // Result line
    div[class*="result-"]{
        border-radius: 0;
        font-size: $fsui;
        font-weight: $fwui;
        div[class*="badge"]{
            background-color: #003b67;
            border: 2px solid #1a4e76;
            z-index: 2;
            text-shadow: none;
            border-radius: 11px;
            box-shadow: none;
            font-weight: normal;
        }
        span[class^="note-"]{
            color: #FFF;
            font-size: 13px;
            font-weight: normal;
            text-transform: none;
        }
    }
    div[class^="resultFocused"]{
        background-color: var(--accent);
    }
}
