div[class^="regionSelectModal-"]{
    max-height: unset;
    background-color: $b1 !important;
    border: 1px solid $Accent;
    border-radius: 0;

    //Header
    div[class^="regionSelectModalHeader-"]{
        padding: 36px 0 0;
        color: #FFF;
        font-size: $fsheader;
        font-weight: $fwheader;
        text-align: left;
        text-transform: none;
    }
    div[class^="regionSelectModalOptions-"]{
        div[class^="regionSelectModalOption-"]{
            width: 100%;
            height: auto;
            padding: 4px;
            margin: 0 0 8px 0;
            justify-content: flex-start;
            flex-direction: row;
            background-color: transparent;
            border: 2px solid $inputborder;
            border-radius: 0;
            &:hover{
                border-color: $Accent;
            }
            div[class^="regionSelectFlag"]{
                clip-path: inset(1px 1px 1px 1px);
            }
            div[class^="regionSelectName"]{
                padding: 0 8px;
                margin: 0;
                color: #FFF;
                font-size: $fsui;
                font-weight: $fwui;
                text-align: left;
                display: inline;
            }
        }

    }
    // Footer
    div[class^="regionSelectModalFooter-"]{
        color: #FFF;
        font-size: $fsui;
        text-align: left;
    }
}
