div[class^="uploadModal"]{
    background-color: $b1;
    border: 1px solid var(--accent);
    border-radius: 0;
    div[class^="inner-"]{
        margin: 20px;
        border: 0;
        border-radius: 0;
        div[class^="file-"]{
            height: auto;
            div[class^="icon-"]{
                width: 90px;
                height: 90px;
                margin-top: 0;
                &[class*="image"]{
                    margin: 0;
                    border: 0;
                    border-radius: 0;
                }
            }
            div[class^="description"]{
                height: auto;
                padding: 0 0 0 8px;
                div[class^="filename"]{
                    height: auto;
                    font-size: $fsheader;
                    font-weight: $fwheader;
                    line-height: $lh;
                }
            }
        }
        div[class^="comment-"]{
            margin: 20px 0;
            div[class^="label-"]{
                margin: 8px 0;
                font-size: $fsui;
                font-weight: $fwui;
                text-transform: none;
            }
            div[class*="channelTextArea"] div[class*="inner-"]{
                margin: 0;
                background-color: #000;
                border-radius: 0;
                textarea{
                    padding: 10px 50px 10px 10px;
                    margin: 0;
                }
                 // Emoji button
                div[class*="emojiButton-"]{
                    width: 40px;
                    height: 40px;
                    right: 0;
                    top: 0;
                    div[class*="sprite-"]{
                        background-image: none;
                        transition: none;
                        &::before{
                            content: "\E170";
                            font-family: $icon;
                            font-size: 21px;
                            text-align: center;
                        }
                    }
                    div[class*="spriteHovered"]{
                        transform: none;
                    }
                    &.popout-open{
                        background-color: var(--accent);
                    }
                }
                div[class^="emojiButtonNormal-"]{
                    opacity: 1;
                }
            }
        }
    }
    div[class^="footer-"]{
        padding: 20px;
        button.button{
            margin-right: 8px;
            background-color: transparent;
            border: 1px solid $inputborder;
            border-radius: 0;
            &:hover{
                border-color: $inputborderhover;
                text-decoration: none;
            }
            span{
                color: #FFF;
                font-size: $fsui;
                font-weight: $fsui;
            }
            &::last-of-type{
                margin-right: 0;
            }
        }
        button.button-primary{
            background-color: var(--accent);
            border-color: var(--accent);
            &:hover{
                border-color: $inputborder;
            }
        }
    }

    // Autocomplete
    div[class^="autocomplete-"]{
        background-color: $b2;
        border-radius: 0;
        color: #FFF;
        div[class^="contentTitle-"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwheader;
            text-transform: none;
        }
        div[class*="selector-"]{
            border-radius: 0;
            div[class*="content-"],
            div[class*="description-"]{
                color: #FFF;
            }
            div[class^="descriptionUsername-"]{
                color: #FFF;
            }
            div[class*="descriptionDiscriminator-"]{
                color: #FFF;
            }
        }
        div[class^="selectorSelected"]{
            background-color: var(--accent);
        }
    }
}

div[class*="uploadModalIn"]{
    div[class^="uploadDropModal"]{
        width: 548px;
        min-height: 200px;
        div[class^="bgScale-"]{
            background: $b1;
            border: 1px solid var(--accent);
            border-radius: 0;
        }
        div[class^="inner-"]{
            align-items: initial;
            justify-content: initial;
            padding: 20px;
            border: 0;
            div[class^="icons-"]{
                display: none;
            }
            div[class^="title-"]{
                padding: 0 0 14px 0;
                font-size: $fsheader;
                font-weight: $fwheader;
            }
            div[class^="instructions-"]{
                color: #FFF;
                font-size: $fsui;
                line-height: 1.333;
                text-align: left;
            }
        }
    }
}
