.theme-dark .root-3QyAh1{
    .body-r6_QPy, .topSection-y3p-_D{
        background-color: #000;
    }

    // Avatar
    .avatar-AvHqJA{
        background-color: #000;
        border-color: #000;
    }

    // Username
    .nameTag-ECvD8P{
        @include FontNormal;
        @include FontSubtitle;
    }

    // Tabs
    .tabBarContainer-37hZsr{
        border: 0;
    }
    .tabBar-3nvOPa{
        height: 32px;
    }
    .tabBarItem-3dfX8P{
        margin-right: 24px;
        border: 0;
        @include FontBase;
        &.selected-3s45Ha{
            border: 0;
            &::before{
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                background-color: $Accent;
                border-radius: 4px;
            }
        }
    }

    // Body
    .body-r6_QPy{
        height: 328px;
    }
    .userInfoSection-q_35fn+.userInfoSection-q_35fn{
        border: 0;
        padding-top: 0;
    }
    .userInfoSectionHeader-3TYk6R{
        color: $BaseHigh;
        @include FontNormal;
        @include FontBase;
        text-transform: none;
    }
    // Fix note textbox size
    .note-367eZJ{
        margin: 0;
    }

    // Connected accounts
    .connectedAccount-2Jb-Z0{
        background-color: $ListLow;
        border-radius: 2px;
    }
    .connectedAccountName-E1KzaT{
        @include FontBase;
    }

    // No mutuals
    .emptyIcon-1yiM-z{
        display: none;
    }
    .emptyText-2d2yNp{
        color: $BaseHigh;
        text-transform: none;
        font-weight: normal;
    }
}
