.theme-dark div[class^="membersWrap"]{
    div[class*="members-"]{
        background-color: $b1;
    }

    // Rank headers
    div[class^="membersGroup-"]{
        margin: 0 15px 10px 15px;
        padding: 8px;
        color: #FFF;
        font-size: $fsheader;
        font-weight: $fwheader;
        text-transform: none;
        letter-spacing: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: 2px solid rgba(255,255,255,.3);
    }

    // Member
    div[class*="member-"]{
        margin: 0 0 0 4px;
        border-radius: 0;
        div[class^="content-"]{
            height: 40px;
            padding: 4px 8px 4px 12px;
            border: 2px solid transparent;
            border-radius: 0;
            box-sizing: border-box;
        }
        &:hover div[class^="content"]{
            background-color: transparent;
            border-color: rgba(255,255,255,0.1);
        }

        // Avatar
        span[class^="avatarWrapper-"]{
            margin-right: 8px;
            div[class^="avatar-"]{
                width: 32px;
                height: 32px;
            }
            div[class*="mask-"]{
                mask: none;
                -webkit-mask: none;
            }
            div[class*="status-"]{
                right: 0;
                bottom: 0;
                border: 0;
                &[class*="typing-"]{
                    left: 2px;
                }
            }
        }

        div[class^="memberInner"]{
            width: 160px;
        }
        // Username
        div[class^="nameTag-"]{
            line-height: 1.3;
            span[class*="username-"]{
                font-size: $fsui;
                font-weight: $fwui;
            }
        }

        // Activity
        div[class^="activityText-"]{
            color: #FFF;
            font-size: 0;
            line-height: 1.3;
            strong{
                font-size: 11px !important;
                font-weight: normal;
            }
        }
    }

    // Member online default text colour
    div[class^="memberOnline-"]{
        color: #FFF;
    }
}
