.theme-dark .channel-members{
    background-color: $b1;
}

// Header
.channel-members h2{
    margin: 0 15px 10px 15px;
    padding: 8px 0;
    border-bottom: 2px solid rgba(255,255,255,.3);
    font-size: $fsheader;
    font-weight: $fwheader;
    line-height: 1.5625;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.theme-dark .channel-members h2{
    color: #FFF;
}

// Member
.channel-members .member{
    padding: 5px 20px;
}
.theme-dark .channel-members .member{
    color: #ACACAC;
}
.channel-members .member .member-inner{
    width: 150px;
}
.theme-dark .channel-members .member.popout-open,
.theme-dark .channel-members .member:hover{
    background: rgba(255,255,255,0.1);
}
.channel-members .member .member-username{
    font-size: $fsui;
    font-weight: $fwui;
}

// Avatar
.channel-members .avatar-small .status{
    bottom: 0;
    right: 0;
    border: 0;
}

// Playing status
.channel-members .member .member-activity{
    color: #FFF;
    font-size: 0;
}
.channel-members .member .member-activity strong{
    font-size: 12px;
    font-weight: normal;
}
