.theme-dark .friendsTable-133bsv{
    .friendTableAddWrapper-nHHZtK{
        .friendTableAddHeader-m9bzFr{
            background-color: transparent;
            background-image: none;
            border: 0;
        }
        .friendsTableAdd-1w2_qZ{
            h2{
                font-size: 24px;
                font-weight: $fwheader;
                text-transform: none;
            }
            .friendTableAddDescription-19D3dl{
                color: #FFF;
                font-size: $fsui;
                font-weight: $fwui;
            }

            .wrapper-1cBijl{
                height: 64px;
                padding: 0;
                background-color: transparent;
                border: 0;
                border-radius: 0;
                input{
                    height: 32px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    border: 2px solid $inputborder;
                    font-size: $fsui;
                    font-weight: $fwui;
                    line-height: 1.3;
                    letter-spacing: normal;
                    &:hover{
                        border-color: $inputborderhover;
                    }
                    &:focus{
                        background-color: #FFF;
                        border-color: var(--accent);
                        color: #000;
                        &::-webkit-input-placeholder{
                            color: #999;
                        }
                        ~ .addFriendHint-3Y70FX{
                            color: #000;
                        }
                    }
                    &::-webkit-input-placeholder{
                        color: $inputborder;
                    }
                }
                .addFriendHint-3Y70FX{
                    left: 12px;
                    color: $inputborder;
                    font-size: $fsui;
                    font-weight: $fwui;
                    line-height: calc(32px * 2); // input height * 2
                    letter-spacing: normal;
                    z-index: 1;
                }
            }
        }
        .friendTableSuggestionsHeader-2zSnpD{
            border: 0;
            h2{
                font-size: 24px;
                font-weight: $fwheader;
                text-transform: none;
            }
        }
    }
}
