.theme-dark .container-1D34oG{
    .peopleColumn-29fq28{
        .sectionHeader-20RGqu{
            background-color: transparent;
            background-image: none;
            border: 0;
        }
        .addInputWrapper-1BOZ3d{
            h2{
                @include FontSubtitle;
            }
            .description-1EvxpH{
                @include FontBody;
            }

            .wrapper-1cBijl{
                height: 64px;
                padding: 0;
                background-color: transparent;
                border: 0;
                border-radius: 0;
                input{
                    height: 32px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    background-color: $AltMediumLow;
                    border: 2px solid $BaseMedium;
                    border-radius: 2px;
                    @include FontBody;
                    letter-spacing: normal;
                    &:hover{
                        background-color: $AltMedium;
                        border-color: $BaseMediumHigh;
                    }
                    &:focus{
                        background-color: $ChromeWhite;
                        border-color: $Accent;
                        color: $AltMedium;
                        &::-webkit-input-placeholder{
                            color: $AltMedium;
                        }
                        ~ .addFriendHint-3Y70FX{
                            color: $AltMedium;
                        }
                    }
                    &::-webkit-input-placeholder{
                        color: $BaseMedium;
                    }
                }
                .addFriendHint-3Y70FX{
                    left: 12px;
                    color: $BaseMedium;
                    @include FontBody;
                    line-height: calc(32px * 2); // input height * 2
                    letter-spacing: normal;
                    z-index: 1;
                }
            }
        }
        .friendTableSuggestionsHeader-2zSnpD{
            border: 0;
            h2{
                @include FontBody;
            }
        }
    }
}
