.theme-dark .friendsTable-133bsv{
    margin-top: 0;
    background-color: $b2;
    .friendsTableHeader-32yE7d{
        padding: 8px 20px;
        .friendsColumn-eVHFqJ{
            color: #FFF;
            font-weight: normal;
            letter-spacing: normal;
            text-transform: none;
        }
    }
    .friendsRow-2yicud{
        height: 50px !important;
        margin: 0;
        padding: 0 20px;
        font-size: $fsui;
        font-weight: $fwui;
        line-height: normal;
        &:hover{
            margin: 0;
            padding: 0 20px;
            background-color: $b3;
            border-radius: 0;
            .friendsColumnActions-1LT3_M{
                padding-right: 20px;
            }
        }
        .friendsColumnName-1zBOKm,
        .friendsColumnStatus-ZH4ho2{
            color: #FFF;
            .friendActivityText-2lmziy strong{
                font-weight: normal;
            }
        }
        .friendsColumnActions-1LT3_M{
            padding-right: 20px;
            .friendsAction-__WNE9{
                border-radius: 0;
            }
            .friendsActionVoiceCall-3EdPsR,
            .friendsActionAccept-3mkemT{
                background-color: $safe;
                &:hover{
                    background-color: darken($safe, 10%) !important;
                }
            }
            .friendsActionRemove-qu8nnl,
            .friendsActionIgnore-1-RPlq{
                background-color: $alert;
                &:hover{
                    background-color: darken($alert, 10%) !important;
                }
            }
        }
    }
    // meems ecks dee
    .friendsEmpty-1KQXin{
        .image-1GzsFd{
            display: none;
        }
        h4::before{
            content: "No Results";
            color: #FFF;
            font-weight: normal;
            text-transform: none;
        }
        .text-GwUZgS{
            display: none;
        }
    }
}
