.theme-dark .container-1D34oG{
    background-color: $b2;
    .tabBody-3YRQ8W{
        &::before{
            content: unset;
        }
        .peopleColumn-29fq28{
            .scroller-2FKFPG{
                overflow-y: auto;
            }
            .peopleList-3c4jOR{
                background-color: $b2;
            }
            // Header
            .title-30qZAO{
                margin: 0;
                padding: 16px 20px 8px 20px;
                color: #FFF;
            }
            .container-2ax-kl{
                font-size: $fsheader;
                font-weight: $fwheader;
                line-height: $lh;
                text-transform: none;
            }

            // Person list
            .peopleListItem-2nzedh{
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                &:hover{
                    background-color: $b3;
                    border-radius: 0;
                }

                
                .actionButton-uPB8Fs{
                    background-color: transparent;
                    border-radius: 0;
                    &:hover{
                        background-color: $b4;
                    }
                    svg{
                        display: none;
                    }
                    &::before{
                        color: #FFF;
                        font-size: 20px;
                        font-family: $icon;
                    }
                    &[aria-label="Message"]::before{
                        content: "\E8BD";
                    }
                    &[aria-label="More"]::before{
                        content: "\E712";
                    }
                    &[aria-label="Accept"]::before{
                        content: "\E8FB";
                    }
                    &[aria-label="Ignore"]::before{
                        content: "\E711";
                    }
                    &[aria-label="Unblock"]::before{
                        content: "\E711";
                    }
                }
                
            }

            // Username
            .username-31C1TQ{
                font-weight: $fwui;
            }
            .discriminator-22Okc1{
                font-weight: $fwui;
            }

            // Empty state
            .friendsEmpty-1KQXin{
                .image-1GzsFd{
                    display: none;
                }
                .text-GwUZgS{ // ecksdee
                    color: #FFF;
                }
            }
        }

        // Activity
        .nowPlayingColumn-2sl4cE{
            background-color: $b1;
            .header-13Cw0-{
                color: #FFF;
                font-size: $fsheader;
                font-weight: $fwheader;
                line-height: $lh;
                text-transform: none;
            }
            .emptyCard-1RJw8n{
                padding: 0;
                align-items: flex-start;
                background-color: transparent;
                h5{
                    font-size: $fsui;
                    font-weight: $fwui;
                }
                .emptyText-2zjpZr{
                    display: none;
                }
            }
            .itemCard-v9viV7{
                padding: 0;
                padding-bottom: 12px;
                background-color: transparent;
                border-bottom: 1px solid #333;
                border-radius: 0;
                &:last-child{
                    border-bottom: 0;
                }

                // Inset
                .body-1ld4H7{
                    margin-left: 46px;
                    background-color: $b3;
                    border-radius: 0;
                }

                // Live badge
                .live-vBWnV6{
                    background-color: $alert !important;
                    border-radius: 0;
                }

                // Game stream preview
                .applicationStreamingPreviewWrapper-8QqvVY{
                    border-radius: 0;
                }
                .emptyPreviewContainer-1KOcxV{
                    background-color: $b4;
                    border: 2px dashed #000;
                    .emptyPreviewImage-IBznSI{
                        display: none;
                    }
                    .emptyPreviewText-2IOfAL{
                        color: #FFF;
                        font-size: $fsui;
                    }
                }
                .applicationStreamingHoverText-IEVyfS{
                    width: 100%;
                    background-color: #000;
                    text-align: center;
                    border-radius: 0;
                }
            }
        }
    }
}
