.theme-dark .container-3gCOGc .headerBar-UHpsPw{
    padding: 0;
    background-color: $b1;
    border: 0;
    box-shadow: none;
    
    // Left buttons
    .tabBar-1E2ExX{
        .item-PXvHYJ{
            margin: 0;
            padding: 0 12px;
            border-radius: 0;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            letter-spacing: normal;
            line-height: 48px;
            &:hover:not(.itemSelected-1qLhcL){
                background-color: rgba(255,255,255,0.1);
            }
            &.itemSelected-1qLhcL{
                background-color: var(--accent);
                color: #FFF;
            }
            .badge-xFJoEU{
                background-color: #003b67;
                color: #FFF;
                vertical-align: middle;
            }
        }
        .separator-gCa7yv{
            display: none;
        }
        &:hover:not(.selected) .badge-xFJoEU{
            color: #FFF;
        }

        // Add friend
        .primary-3j8BhM{
            background-color: transparent !important; // Apparently they think this is important...
            &:hover{
                background-color: rgba(255,255,255,0.1) !important;
            }
        }
        .primarySelected-3uHKZn{
            background-color: var(--accent) !important;
            color: #FFF !important;
        }
    }

    // Right buttons
    .iconMargin-2YXk4F{
        height: 48px;
        margin: 0 2px;
    }
    svg[class*="icon-"]{
        width: 68px;
        height: 48px;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        opacity: 1;
        path{
            display: none;
        }
        &:hover{
            background-color: rgba(255,255,255,.1);
        }
    }
}
