.theme-dark .container-1D34oG .container-1r6BKw{
    // LTR

    padding: 0;
    background-color: $b1;
    box-shadow: none;

    // Left tabs
    .children-19S4PO{
        // Remove current icon, and 'channel' name
        .iconWrapper-2OrFZ1{
            display: none;
        }
        .title-29uC1r{
            display: none;
        }
        .divider-3FBTu8{
            display: none;
        }
        .tabBar-ZmDY9v{
            .item-PXvHYJ{
                min-width: 68px;
                min-height: 48px;
                margin: 0;
                border-radius: 0;
                color: #FFF;
                font-size: $fsui;
                font-weight: $fwui;
                &.selected-3s45Ha{
                    background-color: var(--accent);
                }
                &.primary-3j8BhM{
                    background-color: transparent !important;
                    &:hover{
                        background-color: $b3 !important;
                    }
                }
                &.primarySelected-3uHKZn{
                    background-color: var(--accent) !important;
                    color: #FFF !important;
                }
                &:not(.selected-3s45Ha):hover{
                    background-color: $b3;
                }
                // Add Friend
                // Discord stop.
                &[style*="rgb(67, 181, 129)"]{
                    background-color: transparent !important;
                    &:hover{
                        background-color: $b3 !important;
                    }
                }
                &[style*="rgba(67, 181, 129, 0.2)"]{
                    background-color: var(--accent) !important;
                    color: #FFF !important;
                    &:hover{
                        background-color: var(--accent) !important;
                        cursor: default;
                    }
                }
                
            }
        }
        &::after{
            display: none;
        }
    }

    // Buttons
    .toolbar-1t6TWx{
        .iconWrapper-2OrFZ1{
            width: 68px;
            height: 48px;
            margin: 0;
            > svg{
                display: none;
            }
            &:hover{
                background-color: $b3;
            }
            &.selected-1GqIat{
                background-color: var(--accent);
            }
            &::before{
                width: 68px;
                height: 48px;
                position: absolute;
                color: #FFF;
                font-family: $icon;
                font-size: 20px;
                text-align: center;
                line-height: 48px;
            }
        }
        .divider-3FBTu8{
            display: none;
        }
    }

    // Remove help button
    .anchor-3Z-8Bb{
        display: none;
    }
    div[aria-label="New Group DM"]::before{
        content: "\E902";
    }
    div[aria-label="Mentions"]::before{
        content: "\E910";
    }
}
