.theme-dark #friends div[class*="headerBar"]{
    padding: 0;
    background-color: $b1;
    border: 0;
    box-shadow: none;
    
    // Left buttons
    .tab-bar{
        font-size: $fsui;
        font-weight: $fwui;
        letter-spacing: normal;
        .tab-bar-item{
            margin: 0;
            padding: 0 12px;
            border-radius: 0;
            color: #FFF;
            line-height: 48px;
            &:hover:not(.selected){
                background-color: rgba(255,255,255,0.1);
            }
            &.selected{
                background-color: var(--accent);
                color: #FFF;
            }
        }
        .tab-bar-separator{
            display: none;
        }
        .tab-bar-item .badge{
            background-color: #003b67;
            color: #FFF;
            vertical-align: middle;
        }
        &:hover:not(.selected) .badge{
            color: #FFF;
        }

        // Add friend
        .tab-bar-item.tab-bar-item-primary{
            background-color: transparent;
            &:hover:not(.selected){
                background-color: rgba(255,255,255,0.1);
            }
            &.selected{
                background-color: var(--accent);
                color: #FFF;
            }
        }
    }

    // Right buttons
    .iconMargin-2YXk4F{
        height: 48px;
        margin: 0 2px;
    }
    svg[class*="icon-"]{
        width: 68px;
        height: 48px;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        opacity: 1;
        path{
            display: none;
        }
        &:hover{
            background-color: rgba(255,255,255,.1);
        }
    }

    // Search help text
    .tab-bar::after{
        content: "Press CTRL + K to search";
        padding: 0 8px;
        color: #FFF;
        font-size: 10px;
        position: absolute;
        right: 220px;
    }
}
