#friends .friends-table .friend-table-add-wrapper h2{
    font-size: $fsheader;
    font-weight: $fwheader;
    text-transform: none;
}
#friends .friends-table .friend-table-add-wrapper .friend-table-add-description{
    font-size: $fsui;
    font-weight: $fwui;
    line-height: $lh;
}
.theme-dark #friends .friends-table .friend-table-add-description{
    color: #FFF;
}

// Sends request button
#friends .btn{
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: 0;
    font-size: $fsui;
    font-weight: $fwui;
    &:hover{
        background-color: var(--accent);
        border-color: $inputborder;
    }
    &:active{
        filter: brightness(80%);
    }
}

// Empty
#friends .friends-empty.section-add-friend-no-connection .empty-state-image{
    display: none;
}
