.private-channels .search-bar{
    height: 40px;
    padding: 0;
    background-color: $b1;
    border: 0;
    border-bottom: 1px solid $b2;
    box-shadow: none;
}
.private-channels .search-bar .search-bar-inner{
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.private-channels .search-bar .search-bar-inner::before{
    content: "\E094";
    position: absolute;
    top: 12px;
    right: 12px;
    color: #FFF;
    font-family: $icon;
}
.private-channels .search-bar input{
    height: 40px;
    font-family: $font;
    font-size: $fsui;
}
.private-channels .search-bar input::-webkit-input-placeholder{
    color: #FFF;
}
