.platform-win .scroller-2TZvBN{
    padding: 0;
    background-color: transparent;
}

.theme-dark .wrapper-1Rf91z{
    width: 48px;
    margin-top: 40px;
    margin-bottom: 96px;
    background-color: transparent;
    z-index: 10;

    .listItem-2P_4kh{
        margin: 0;
        width: 48px;
        &:hover{
            background-color: $ListLow;
        }
        // Pill
        .pill-31IEus,
        .pill-2uzAFe,
        .pill-3YxEhL{
            .item-2hkk8m{
                width: 2px;
                height: 24px !important;
                margin-left: 4px;
                border-radius: 1px;
                // Guild is selected
                &[style*="height: 40px;"]{
                    height: 24px !important;
                    background-color: $Accent;
                }
            }
        }
        // Guild icon
        .wrapper-25eVIn{
            svg foreignObject{
                mask: none;
            }
            .icon-27yU2q{
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
            .acronym-2mOFsV{
                width: 24px;
                height: 24px;
                background-color: transparent;
                color: $BaseHigh;
                @include FontBase;
            }
        }
        .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
        .wrapper-1BJsBx:hover .childWrapper-anI2G9{
            background-color: transparent;
        }

        // Home
        .wrapper-1BJsBx{
            .childWrapper-anI2G9{
                background-color: transparent;
            }
            .homeIcon-tEMBK1{
                background-position: center;
                background-repeat: no-repeat;
                background-size: 18px;
                path{
                    display: none;
                }
            }
        }
        // Remove Home :active transform
        .blobContainer-239gwq:active{
            transform: none;
        }

        // Separator
        .guildSeparator-3s64Iy{
            display: none;
        }
        // Add server/Server Discovery icons
        .circleIconButton-jET_ig{
            background-color: transparent;
            color: #FFF;
            &[aria-label]{
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        // Offline
        .guildsError-b7zR5H{
            background-color: $alert;
            border: 0;
            border-radius: 0;
            transition: none;
            font-weight: 400;
        }
        //badge
        .lowerBadge-29hYVK,
        .upperBadge-2XnnGB{
            right: 4px;
            transform: none !important;
        }
        .upperBadge-2XnnGB{
            top: 4px;
        }
        .lowerBadge-29hYVK{
            bottom: 4px;
            z-index: 1;
        }

        .participating-NBGDkr{
            width: 32px;
            height: 32px;
            transform: translateX(-4px) translateY(4px);
            background-color: transparent;
            border: 2px solid rgba(var(--voice), 1);
            border-radius: 50%;
            svg{
                display: none;
            }
        }
    }
    // Folders
    .wrapper-21YSNc{
        .listItem-2P_4kh{
            .wrapper-25eVIn{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
        // Fix folder container being too tall
        ul[role="group"]{
            height: auto !important;
        }
    }
    .folder-21wGz3{
        background-color: transparent;
    }
    .folderIconWrapper-226oVY{
        background-color: transparent !important;
        border-radius: 0;
    }
    .closedFolderIconWrapper-15K9MK{
        padding: 8px;
    }
    .expandedFolderBackground-2sPsd-{
        left: 0;
        bottom: 0;
        background-color: $ListLow;
        border-radius: 0;
        &.collapsed-1GMuSb{
            background-color: transparent;
        }
    }
    .expandedFolderIconWrapper-1xLaU-{
        svg path{
            clip-path: inset(1px 1px 1px 1px);
        }
    }
    .expandedGuilds-1JMD4M{
        height: auto !important;
    }
    // Unread notification bars
    // These break due to our fixed buttons at the bottom, so we remove them
    .unreadMentionsIndicatorTop-gA6RCh,
    .unreadMentionsIndicatorBottom-BXS58x{
        display: none;
    }
}
