.theme-dark .wrapper-1Rf91z{
    width: 48px;
    background-color: transparent;
    border-radius: 0;

    // Remove padding
    .scroller-2TZvBN{
        margin-bottom: 96px;
        padding: 0;
        background-color: transparent;
    }

    // Item
    .listItem-2P_4kh{
        width: 48px;
        margin: 0;
        &:hover{
            background-color: $ListLow;
        }
    }
    .wrapper-25eVIn{
        svg{
            foreignObject{
                mask: none;
            }
        }
        .icon-27yU2q{
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
        .acronym-2mOFsV{
            width: 24px;
            height: 24px;
            background-color: transparent;
            color: #FFF;
            font-size: 15px;
            font-weight: $fwui;
            &.selected-bZ3Lue{
                color: $Accent;
            }
        }
    }

    // Pill
    .item-2hkk8m{
        width: 2px;
        height: 24px !important;
        margin-left: 4px;
        border-radius: 1px;
        transform:  none !important;
        // Guild is selected
        &[style*="height: 40px;"]{
            height: 24px !important;
            background-color: $Accent;
        }
    }

    // Remove active state
    .blobContainer-239gwq:active{
        transform: none;
    }

    // Home
    .wrapper-1BJsBx{
        .childWrapper-anI2G9{
            background-color: transparent;
        }
        svg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            path{
                display: none;
            }
        }
    }
    // Stop home :active transform
    .listItemWrapper-3X98Pc:active{
        transform: none;
    }

    // Separator
    .guildSeparator-3s64Iy{
        display: none;
    }

    // Add Guild
    .circleIconButton-jET_ig{
        background-color: transparent;
        color: #FFF;
    }

    // Offline
    .guildsError-b7zR5H{
        background-color: $alert;
        border: 0;
        border-radius: 0;
        transition: none;
        font-weight: $fwui;
    }

    //badge
    .lowerBadge-29hYVK,
    .upperBadge-2XnnGB{
        right: 4px;
        transform: none !important;
    }
    .upperBadge-2XnnGB{
        top: 4px;
    }
    .lowerBadge-29hYVK{
        bottom: 4px;
        z-index: 1;
    }

    .participating-NBGDkr{
        width: 32px;
        height: 32px;
        transform: translateX(-4px) translateY(4px);
        background-color: transparent;
        border: 2px solid var(--voice);
        border-radius: 50%;
        svg{
            display: none;
        }
    }

    // // Voice connected
    // .upperBadge-2XnnGB{
    //     top: 9px;
    //     right: 9px;
    // }
    // .iconBadge-2wi9r4{
    //     width: 30px;
    //     height: 30px;
    //     background-color: transparent;
    //     border: 2px solid var(--voice);
    //     border-radius: 50%;
    //     svg path{
    //         display: none;
    //     }
    // }

    // Unread notification bars
    // These break due to our fixed buttons at the bottom, so we remove them
    .unreadMentionsIndicatorTop-gA6RCh,
    .unreadMentionsIndicatorBottom-BXS58x{
        display: none;
    }

    // Folders
    .wrapper-21YSNc{
        .listItem-2P_4kh{
            .wrapper-25eVIn{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
    }
    .folder-21wGz3{
        background-color: transparent;
    }
    .folderIconWrapper-226oVY{
        background-color: transparent !important;
        border-radius: 0;
    }
    .expandedFolderBackground-2sPsd-{
        left: 0;
        bottom: 0;
        background-color: $b2;
        border-radius: 0;
        &.collapsed-1GMuSb{
            background-color: transparent;
        }
    }
    .expandedFolderIconWrapper-1xLaU-{
        svg path{
            clip-path: inset(1px 1px 1px 1px);
        }
    }
    .expandedGuilds-1JMD4M{
        height: auto !important;
    }
}
