.theme-dark .guildsWrapper-5TJh6A{
    background-color: $b1;
    width: 64px;

    .guilds-1q_RqH{
        margin-bottom: 112px;
        padding: 8px;
    }

    // Friends online
    .friendsOnline-_wi_fM{
        color: #FFF;
        text-transform: none;
    }

    // DMs
    .dms-rcsEnV{
        // We can afford these to be slightly larger
        .avatar-small{
            background-size: 32px;
        }
    }

    // Separator
    .guildSeparator-1X4GQ1{
        display: none;
    }

    // Badges
    .badge-1GsMF2{
        right: 1px;
        bottom: 1px;
        max-width: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Hide the element when it's empty
    .dms-rcsEnV:empty{
        display: none;
    }

    // Guild
    .guild-1EfMGQ:not(.guildsAdd-21_IdK){
        width: 48px;
        height: 48px;
        border: 2px solid transparent;
        box-sizing: border-box;
        // Hide pills
        &::before{
            display: none;
        }
        &:hover{
            border-color: rgba(255,255,255,.5);
        }
        &+.guild-1EfMGQ{
            margin-top: 4px;
        }
        .guildInner-3DSoA4{
            background-color: transparent !important;
            border-radius: 0 !important; // why
            line-height: 48px;
            a{
                width: 48px;
                height: 48px;
            }
            .guildIcon-CT-ZDq{
                width: 44px;
                height: 44px;
                background-repeat: no-repeat;
                background-size: 24px;
            }
            .noIcon-1a_FrS{
                font-size: $fsui !important; // why
                line-height: 48px;
            }
        }
        
        // Status'
        &.unread-qLkInr{
            background-color: var(--accent);
        }
        &.selected-ML3OIq{
            background-color: #FFF;
            .noIcon-1a_FrS{
                color: #000;
            }
            .homeIcon-1FoKUJ{
                filter: invert(100%);
            }
        }

        // Special cases
        // Home
        .homeIcon-1FoKUJ{
            margin: -2px 0 0 -2px;
            padding: 0;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            g{
                display: none;
            }
        }
    }

    // Add
    .guildsAdd-21_IdK{
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 60px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        border: 0;
        border-radius: 0;
        &:hover{
            background-color: $b3;
        }
        .guildsAddInner-1KMFy-{
            display: none;
        }
    }

    // Mention bar
    .bar-30k2ka{
        border-radius: 0;
        box-shadow: none;
        text-transform: capitalize;
        opacity: 1;
        &.mention-1f5kbO{
            background-color: $alert;
        }
    }
    .unreadMentionsIndicatorBottom-BXS58x{
        bottom: 108px;
    }
}
