.theme-dark .wrapper-1Rf91z{
    width: 48px;
    background-color: $b1;
    border-radius: 0;

    // Remove padding
    .scroller-2TZvBN{
        margin-bottom: 96px;
        padding: 0;
    }

    // Item
    .listItem-2P_4kh{
        width: 48px;
        margin: 0;
        &:hover{
            background-color: $b3;
        }
    }
    .wrapper-25eVIn{
        .icon-27yU2q{
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
        .acronym-2mOFsV{
            width: 24px;
            height: 24px;
            background-color: transparent;
            color: #FFF;
            font-size: 15px;
            font-weight: $fwui;
            &.selected-bZ3Lue{
                color: var(--accent);
            }
        }
    }

    // Pill
    .item-2hkk8m{
        width: 4px;
        height: 12px !important;
        margin-left: 0;
        border-radius: 0;
        transform: none !important;
        // Guild is selected
        &[style*="opacity: 1;"]{
            height: 24px !important;
            background-color: var(--accent);
            transform: none !important;
        }
    }

    // Home
    .button-OhfaWu{
        background-color: transparent;
        svg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            path{
                display: none;
            }
        }
    }

    // Separator
    .guildSeparator-3s64Iy{
        display: none;
    }
    
    // Add Guild
    .circleIconButton-jET_ig{
        background-color: transparent;
        color: #FFF;
    }

    // Offline
    .guildsError-b7zR5H{
        background-color: $alert;
        border: 0;
        border-radius: 0;
        transition: none;
        font-weight: $fwui;
    }
    
    //badge
    .lowerBadge-29hYVK,
    .upperBadge-2XnnGB{
        right: 4px;
        transform: none !important;
    }
    .upperBadge-2XnnGB{
        top: 4px;
    }
    .lowerBadge-29hYVK{
        bottom: 4px;
    }
    .numberBadge-2s8kKX{
        min-width: 20px;
        min-height: 20px;
        background-color: #003b67 !important;
        border: 2px solid #1a4e76;
    }
    
    // Voice connected
    .upperBadge-2XnnGB{
        top: 9px;
        right: 9px;
    }
    .iconBadge-2wi9r4{
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 2px solid var(--voice);
        border-radius: 50%;
        svg path{
            display: none;
        }
    }

    // Unread notification bars
    // These break due to our fixed buttons at the bottom, so we remove them
    .unreadMentionsIndicatorTop-gA6RCh,
    .unreadMentionsIndicatorBottom-BXS58x{
        display: none;
    }
}
