div[class^="channels-"] .container-2Thooq > div[class*="noWrap-"] > div~div~button[class*="button"]{
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-size: 24px;
    opacity: 1;
    border-radius: 0;
    &:hover{
        background-color: $b3;
    }
}
