.theme-dark .channels-Ie2l6A .container-3baos1 .noWrap-3jynv6 button[aria-label="User Settings"]{
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    border-radius: 0;
    &:hover{
        background-color: $b3;
    }
    &::before{
        content: "\E713";
        font-family: $icon;
        font-size: 18px;
    }
}
