.theme-dark div[class^="attachPopout-"]{
    padding: 0;
    background-color: $b1;
    border-radius: 0;
    font-size: $fsui;
    font-weight: $fwui;
    transform: translateX(12px) translateY(24px);
    div[class^="attachPopoutRow-"]{
        padding: 15px 24px;
        border-radius: 0;
        transition: none;
        &:hover{
            background-color: var(--accent);
        }
        svg{
            display: none;
        }
        div[class^="attachPopoutRowText-"]{
            margin-left: 0;
        }
    }
}
