.theme-dark #autocomplete-popout{
    border: 1px solid var(--accent);
    border-radius: 0;
    .autocomplete-shadow{
        border-radius: 0;
    }
    .autocomplete-arrow-wrapper{
        display: none;
    }
    header{
        height: auto;
        padding: 8px;
        .autocomplete-header-background{
            background-color: $b1;
        }
        h3{
            display: none;
        }
        input{
            height: 36px;
            padding: 9px 12px 10px;
            box-sizing: border-box;
            border: 1px solid $inputborder;
            color: #FFF !important;
            &:hover{
                border-color: $inputborderhover;
            }
            &:focus{
                border-color: var(--accent);
            }
            &::-webkit-input-placeholder{
                color: #FFF !important;
            }
        }
    }
    section{
        background-color: $b1;
        color: #FFF;
        .row.selected{
            background-color: $b2;
            background-image: none;
        }
    }
}
