// User popout>add role
.theme-dark{
    .container-VSDcQc{
        border: 1px solid $Accent;
        border-radius: 0;
        .autocompleteShadow-iiGWFU{
            display: none;
        }
        .autocompleteArrowWrapper-3Z7OuM{
            display: none;
        }
        header{
            height: auto;
            padding: 8px;
            background-color: $b1;
            .autocomplete-header-background{
                background-color: $b1;
            }
            h3{
                display: none;
            }
            input{
                height: 36px;
                padding: 10px;
                box-sizing: border-box;
                border: 2px solid $inputborder;
                color: #FFF !important;
                &:hover{
                    border-color: $inputborderhover;
                }
                &:focus{
                    border-color: $Accent;
                }
                &::-webkit-input-placeholder{
                    color: #FFF !important;
                }
            }
        }
        .sectionTag-pXyto9{
            background-color: $b1;
            color: #FFF;
            .scroller-2FKFPG{
                overflow-y: auto;
            }
            .row-rrHHJU.selected-1pIgLL{
                background-color: $b2;
                background-image: none;
            }
        }
    }

}
