#autocomplete-popout{
    border: 1px solid var(--accent);
    border-radius: 0;
}

#autocomplete-popout header::before{
    display: none;
}
#autocomplete-popout header{
    background-color: $b1;
    padding: 0 10px;
}
#autocomplete-popout header h3{
    display: none;
}
#autocomplete-popout input[type=text]{
    height: 36px;
    padding: 9px 12px 10px;
    border: 1px solid $inputborder;
    box-sizing: border-box;
    font-size: $fsui;
    font-weight: $fwui;
    &::-webkit-input-placeholder{
        color: rgba(255,255,255,.5);
    }
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        border-color: var(--accent);
        color: #000;
        &::-webkit-input-placeholder{
            color: rgba(0,0,0,.5);
        }
    }
}

#autocomplete-popout section{
    background-color: $b1;
    border-radius: 0;
}

#autocomplete-popout .row{
    padding: 8px;
    color: #FFF;
    line-height: 1;
}
#autocomplete-popout .row.selected{
    background-color: var(--accent);
    background-image: none;
}
