.option-popout{
    width: 74px;
    margin-right: 8px;
}
.small-popout-box{
    background-color: $b1;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 0;
}
.option-popout .btn-item{
    padding: 6px 10px;
    color: #FFF;
    font-family: $font;
    font-size: $fschat;
    font-weight: $fwui;
    line-height: 1.5625;
    text-align: left;
    &:hover{
        color: #FFF;
        background-color: $b3;
    }
}
.option-popout .btn-item:first-of-type{
    margin-top: 8px;
}
.option-popout .btn-item:last-of-type{
    margin-bottom: 8px;
}
