.theme-dark .container-1rPqdX{
    width: 6.5rem;
    margin-right: 8px; // Clear scrollbar
    margin-bottom: -10px; // Bring closer to button
    padding: 8px 0;
    background-color: $b1;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 0;
    button{
        width: calc(100%);
        padding: 7px 12px 8px;
        margin: 0 0px;
        justify-content: flex-start;
        border-radius: 0;
        color: #FFF;
        font-size: $fschat;
        font-weight: $fwui;
        text-align: left;
        &:hover{
            background-color: $b3;
        }
    }
}
