// Status changer and server dropdown menu

.menu-Sp6bN1{
    margin-left: 24px;
    padding: 8px 0;
    .statusItem-2uzPIV{
        margin: 0;
        border-radius: 0;
        .statusIconText-3b4TkH{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
        }
        .helper-2c73HK{
            display: none;
        }
    }
    // Remove last separator
    .separator-2zcjq8{
        display: none;
    }
}
