.theme-dark .emojiPicker-3m1S-j{
    background-color: $b2;
    border: 1px solid var(--accent);
    border-radius: 0;
    box-shadow: none;

    // Header
    .header-1nkwgG{
        border: 0;
        // Search bar
        .searchBar-2pWH0_{
            background-color: transparent;
            .inner-3ErfOT{
                background-color: transparent;
                border-radius: 0 !important; // why
                input{
                    height: 36px;
                    border: 2px solid $inputborder;
                    color: #FFF;
                    font-size: $fsui;
                    font-weight: $fwui;
                    &::-webkit-input-placeholder{
                        color: #FFF;
                        font-size: $fsui;
                        font-weight: $fwui;
                    }
                    &:hover{
                        border-color: $inputborderhover;
                    }
                    &:focus{
                        background-color: #fff;
                        color: #000;
                        border-color: var(--accent);
                    }
                }
                .iconLayout-1WxHy4{
                    display: none;
                }
            }
        }
        // Diversity selector
        .diversitySelector-tmmMv0{
            width: 36px;
            height: 36px;
            border: 2px solid $inputborder;
            box-sizing: border-box;
            &:hover{
                border-color: $inputborderhover;
            }
            .item-16cXuq{
                width: 32px;
                height: 32px;
                padding: 0;
            }
            .popout-2nUePc{
                height: auto !important; // override element style
                margin-top: -2px;
                margin-left: -2px;
                background-color: $b2;
                border: 2px solid var(--accent);
                border-radius: 0;
                .item-16cXuq{
                    &:hover{
                        background-color: var(--accent);
                    }
                }
            }
        }
    }

    // Remove sticky header
    .stickyHeader-1SS0JU{
        display: none; 
    }

    // Category headers
    .category-2U57w6{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-transform: none;
    }

    .infoBar-U6oBFk{
        background-color: $b3;
    }

    // Emoji
    .scroller-3vODG7{
        .emojiItem-109bjA{
            border-radius: 0;
            &.selected-39BZ4S{
                background-color: var(--accent);
            }
            &.disabled-1H1CfW{
                cursor: not-allowed;
            }
            &.selected-39BZ4S.disabled-1H1CfW{
                background-color: transparent;
            }
        }
    } 

    // Emoji info
    .infoBarWrapper-283ttO{
        .infoBar-U6oBFk{
            background-color: $b1;
            border-top: 1px solid $b4;
            border-bottom: 1px solid $b4;
        }
    }

    // Categories
    .categories-1feg4n{
        margin: 0;
        padding: 0 8px;
        background-color: $b1;
        border: 0;
        .item-16cXuq{
            width: 35px;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            &.selected-39BZ4S{
                border-color: var(--accent);
            }
            svg{
                display: none;
            }
        }
    }

    // Dimmer
    .dimmer-3iH-5D{
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 0;
        z-index: 2;
        &.visible-3k45bQ{
            background-color: rgba($color: #000000, $alpha: 0.5)
        }
    }

    // No results
    .noSearchResultsContainer-3Dee0U .wrapper-1GJGVj{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        .sadImage-2ph8SI{
            display: none;
        }
    }

    // Promotion
    .premiumPromo-yVfLiA{
        display: none;
    }
}
