.popout.popout-top-right.no-arrow.no-shadow{
    transform: translateX(-40px) translateY(-100%) !important;
    margin-top: -4px;
}

.theme-dark div[class^="emojiPicker"]{
    background-color: $b2;
    border: 1px solid var(--accent);
    border-radius: 0;

    // Dimmer
    div[class^="dimmer"]{
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        z-index: 2;
        border-radius: 0;
    }
    div[class*="visible-"]{
        background-color: rgba($color: #000000, $alpha: 0.8);
    }

    // Search
    div[class^="header-"]{
        .search-bar{
            padding: 8px;
            background-color: transparent;
            .search-bar-inner{
                background-color: transparent;
                border: 0;
                border-radius: 0 !important;
                input{
                    height: 36px;
                    padding: 4px 30px 4px 11px;
                    border: 1px solid $inputborder;
                    color: #FFF;
                    font-family: $font;
                    font-size: $fsui;
                    font-weight: $fwui;
                    line-height: 1;
                    &:hover{
                        border-color: $inputborderhover;
                    }
                    &:focus{
                        border-color: var(--accent);
                        ~ .search-bar-icon{
                            filter: invert(100%);
                        }
                    }
                    &::-webkit-input-placeholder{
                        color: #FFF;
                        font-family: $font;
                        font-size: $fsui;
                        font-weight: $fwui;
                    }
                }
                .search-bar-icon{
                    width: auto;
                    .icon{
                        top: 9px;
                    }
                }
            }
        }
        // Diversity Selector
        div[class^="diversitySelector"]{
            width: 36px;
            height: 36px;
            border: 1px solid $inputborder;
            box-sizing: border-box;
            div[class^="item-"]{
                width: 26px;
                height: 26px;
            }
            &:hover{
                border-color: $inputborderhover;
            }
            div[class^="popout"]{
                height: auto !important;
                background-color: $b2;
                border: 1px solid var(--accent);
                border-radius: 0;
                div[class^="item"]{
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }

    // Sticky header
    div[class^="stickyHeader-"]{
        display: none;
    }
    // Category header
    div[class^="category-"]{
        margin-bottom: 4px;
        border-bottom: 1px solid $b3;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        text-transform: none;
    }

    // Row
    div[class^="row-"]{
        height: auto;
        div[class^="emojiItem-"]{
            width: 40px;
            height: 40px;
            border: 0;
            line-height: 1;
            div[class^="spriteItem"]{
                margin: 9px;
            }
        }
        div[class*="selected-"]{
            background-color: $b3 !important;
            border-radius: 0 !important;
        }
    }    

    // Categories
    div[class^="categories-"]{
        width: 460px;
        height: 40px;
        margin: 0;
        background-color: $b1;
        border: 0;
        line-height: 40px;
        div[class^="item-"]{
            width: 40px;
            height: 40px;
            margin: 0;
            border: 0;
           
            &:hover{
                background-color: $b3;
            }
        }
        div[class*="selected-"]{
            background-color: var(--accent);
        }
    }

    // No results found
    .no-search-results{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        .sad-discord{
            display: none;
        }
    }

    // Discord Nitro promotion
    div[class^="premiumPromo-"]{
        align-items: baseline;
        padding: 20px;
        background-color: $b1;
        border: 1px solid var(--accent);
        border-radius: 0;
        box-sizing: border-box;
        img[class*="Image-"]{
            display: none;
        }
        div[class*="Title-"]{
            margin-bottom: 20px;
            color: #FFF;
            font-family: $font;
            font-size: $fsheader;
            font-weight: $fwheader;
            line-height: $lh;
        }
        div[class*="Description"]{
            margin: 0 0 20px 0;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            line-height: 1.33333;
            text-align: left;
        }
        .btn{
            height: 36px;
            background-color: var(--accent);
            border: 1px solid transparent;
            border-radius: 0;
            font-size: $fsui;
            font-weight: $fwui;
            &:hover{
                border-color: $inputborder;
            }
            &:active{
                border-color: $inputborderhover;
            }
        }
    }
}
