.theme-dark .noArrow-3BYQ0Z.noShadow-321ZPm.popout-3sVMXz.popoutBottomRight-2JrySt.arrowAlignmentTop-iGQczz.theme-undefined{
    top: calc(30px + 40px) !important; // Titlebar + toobar
    right: 0 !important;
    left: initial !important;
    animation: 350ms slideinright cubic-bezier(0.1,0.9,0.2,1);
    transform: none !important;
}
.theme-dark .popout-103y-5{
    min-height: calc(100vh - 80px);
    max-height: unset;
    background-color: $b1;
    &.modal-3HD5ck{
        box-shadow: none;
    }

    // Header
    .header-1R_AjF{
        h4{
            padding: 0;
        }
        .subtitle-2P4u9v{
            color: #FFF;
            font-size: $fsui;
        }
        // Search
        .container-2XeR5Z{
            background-color: transparent;
            input{
                color: #FFF;
                font-size: $fsui;
                border: 2px solid $inputborder;
                min-height: 32px;
                &:hover{
                    border-color: $inputborderhover;
                }
                &:focus{
                    background-color: #FFF;
                    border-color: var(--accent);
                    color: #000;
                }
                &::-webkit-input-placeholder{
                    color: rgba($color: #FFF, $alpha: .5);
                }
            }
            .tag-2gHSR7{
                height: 36px;
                background-color: rgba($color: #FFF, $alpha: .1);
                border-radius: 0;
                line-height: 36px;
                svg{
                    display: none;
                }
            }
        }
    }

    // User list
    .scroller-2FKFPG{
        max-height: unset;
    }
    .friendWrapper-LdKLp8{
        .friend-2E0q2S{
            .nickname-2CALbl{
                font-size: $fsui;
                font-weight: normal;
            }
            .discordTag-3gO1VA{
                font-size: $fschat;
                span{
                    font-weight: $fwui;
                }   
            }
        }
        .friendSelected-3J_Uh8{
            background-color: var(--accent);
            border-radius: 0;
        }

    }

    // Footer
    .footer-1eyGBa{
        flex: 0 1 auto !important;
    }
}
