.private-channel-recipients-invite{
    height: calc(100vh - 72px);
}

.theme-dark .private-channel-recipients-invite{
    background-color: $b1;
    border: 0;
    border-radius: 0;
    .header{
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        .title{
            font-size: $fsheader;
            font-weight: $fwheader;
            text-align: left;
        }
        .subtitle{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-align: left;
        }

        .search-bar{
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            .search-bar-inner{
                background-color: transparent;
                border: 0;
                .search-bar-tag{
                    margin: 6px 2px;
                }
            }
            input{
                height: 36px;
                border: 1px solid $inputborder;
                color: #FFF;
                font-family: $font;
                font-size: $fsui;
                font-weight: $fwui;
                &:hover{
                    border-color: $inputborderhover;
                }
                &:focus{
                    background-color: #FFF;
                    border-color: var(--accent);
                    color: #000;
                }
                &::-webkit-input-placeholder{
                    color: rgba(255,255,255,.5);
                }
            }
        }
    }
    
    .body{
        .scroller{
            height: auto;
            overflow-y: auto;
        }
        .friend{
            background-color: transparent;
            &:hover{
                background-color: var(--accent);
                background-image: none;
            }
            &.selected{
                background-color: transparent;
                background-image: none;
                &:hover{
                    background-color: var(--accent);
                }
            }
            .discord-tag{
                font-size: $fsui;
            }
        }
        .checkbox .checkbox-inner span{
            border: 1px solid $inputborder;
            border-radius: 0;
            &:hover{
                border-color: $inputborderhover;
            }
        }
    }

    .footer{
        background-color: transparent;
        button{
            background-color: var(--accent);
            border: 1px solid transparent;
            border-radius: 0;
            font-size: $fsui;
            font-weight: $fwui;
            &:hover{
                background-color: var(--accent);
                border-color: $inputborder;
            }
            &:focus{
                border-color: $inputborderhover;
            }
            &:disabled:hover{
                background-color: var(--accent);
                border-color: transparent;
            }
        }
    }

    .error-state{
        // No results
        &.search-results{
            height: auto;
            .icon{
                display: none;
            }
        }
        // Not friends
        &.not-friends{
            .btn{
                width: auto;
                padding: 9px 12px 10px;
                background-color: var(--accent);
                border: 1px solid transparent;
                border-radius: 0;
                box-sizing: border-box;
                font-size: $fsui;
                font-weight: $fwui;
                &:hover{
                    background-color: var(--accent);
                    border-color: $inputborder;
                }
                &:focus{
                    border-color: $inputborderhover;
                }
                &:disabled:hover{
                    background-color: var(--accent);
                    border-color: transparent;
                }
            }
            .icon{
                display: none;
            }
        }
        .text{
            padding: 0;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            line-height: 1;
        }
    }
}
