.theme-dark .streamPreviewWrapper-2DSWOK{
    padding-left: 8px;
    .streamPreview-2-WUWT{
        background-color: $b1;
        border-radius: 0;
    }

    .body-Ogsp8i{
        button{
            span{
                display: none !important;
            }
        }
        .protip-3-1FNm{
            display: none;
        }
    }
}
