.ui-popout-list{
    border: 1px solid var(--accent);
    border-radius: 0;
}
.theme-dark .ui-popout-list{
    background-color: $b1;
}

// Search
.theme-dark .ui-popout-list .ui-search-bar{
    height: auto;
    position: relative;
    background-color: transparent;
}
.theme-dark .ui-popout-list .ui-search-bar input{
    height: 36px;
    padding: 9px 12px 10px;
    border: 1px solid $inputborder;
    border-radius: 0;
    box-sizing: border-box;
    font-size: $fsui;
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        border-color: var(--accent);
        color: #000;
    }
}
.ui-popout-list .ui-search-bar .ui-search-bar-icon{
    position: absolute;
    top: 4px;
    right: 4px;
}

// List
.ui-popout-list .ui-selectable-item{
    padding: 8px;
    border: 0;
    border-radius: 0;
    &:hover{
        background-color: rgba(255,255,255,.1);
    }
}
.ui-popout-list .ui-selectable-item .ui-selectable-item-label{
    font-size: $fsui;
}
.ui-popout-list .ui-selectable-item .ui-selectable-item-label div[class^="avatar-"]{
    width: 25px;
    height: 25px;
}
.theme-dark .ui-popout-list .ui-selectable-item[style*="background: rgb(114, 137, 218)"]{
    background-color: var(--accent) !important
}
