// Located in: Server settings > Audit Log > Filter action
.theme-dark div[class^="popoutList-"]{
    background-color: $b1;
    border: 1px solid $Accent;
    border-radius: 0;

    // Search bar
    div[class*="searchBar-"]{
        height: 36px;
        background-color: transparent;
        border-radius: 0;
        input{
            border: 1px solid $inputborder;
            border-radius: 0;
            font-size: $fsui;
            &::-webkit-input-placeholder{
                color: #FFF;
            }
            &:hover{
                border-color: $inputborderhover;
            }
            &:focus{
                background-color: #FFF;
                color: #000;
                border-color: $Accent;
            }
        }
        div[class^="searchBarIcon"]{
            margin-top: 3px;
            margin-left: -18px;
        }
    }

    // Items
    div[class*="actionItem-"]{
        height: 30px;
        border-radius: 0;
        &:hover{
            background-color: $b2;
        }
    }
    div[class*="actionItem-"][class*="selected-"]{
        background-color: $Accent !important;
    }
}
