.noArrow-2iqI6w.noShadow-31NiLA.popout-2RRwAO.popoutBottomRight-3JmvG2{
    margin-top: 0;
}
.messagesPopoutWrap-1VBR-j{
    max-height: calc(100vh - 72px) !important;
    min-height: calc(100vh - 72px);
    position: absolute;
    right: 0 !important;
    left: initial !important;
}
.noArrow-2iqI6w.noShadow-31NiLA.popout-2RRwAO.popoutBottomRight-3JmvG2{
    right: 0 !important;
    left: initial !important;
    animation: 350ms slideinright cubic-bezier(0.1,0.9,0.2,1);
    transform: none !important;
}

.theme-dark .messagesPopoutWrap-1VBR-j{
    background-color: $b1;
    border: 0;
    border-radius: 0;

    // Header
    .header-y_zptc{
        background-color: transparent;
        box-shadow: none;
        .title-1SAkRa{
            font-size: $fsheader;
            font-weight: $fwheader;
            line-height: 1;
        }
    }
    // Tab bar
    .headerTabBarWrapper-3uOJ6x .tab-bar.TOP .tab-bar-item{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        &.selected{
        color: var(--accent);
        border-color: var(--accent);
        }
    }
    // Filter
    .mentionFilter-wE0FR9{
        font-size: $fsui;
        .label-3EbduD{
            color: #FFF;
        }
    }
    .scroller{
        overflow-y: auto;
    }
    // Chanel separator
    .channelSeparator-21vGh8{
        .channelName-1C6XzK{
            font-size: $fsui;
            font-weight: $fwui;
            line-height: $lh;
        }
        .guildName-wbcfYO{
            font-weight: normal;
        }
    }
    // Message
    .messagesPopout-MzE43I{
        .message-group{
            background-color: transparent;
            border: 1px solid $b3;
            border-radius: 0;
            &:hover{
                border-color: $b4;
            }
            .actionButtons-LKmOj2 .jumpButton-1CVJpO{
                background-color: $b3;
                border-radius: 0;
                &:hover{
                    background-color: $b4;
                }
                .text-W1x7LP{
                    color: #FFF;
                }
            }
        }
        // Jump to button
        .message-group:hover .actionButtons-LKmOj2{
            background-color: transparent;
            box-shadow: none;
        }
    }
    // Empty
    .messagesPopout-MzE43I .emptyPlaceholder-2T_EMT{
        .body-1fAJW-{
            font-size: 0;
            &::before{
                content: "Nothing to show...";
                color: #FFF;
                font-size: $fsheader;
                font-weight: $fwheader;
            }
        }
        .image-1drLpb{
            display: none;
        }
        &.bottom-2LPJ1w{
            top: 0;
            right: 0;
            bottom: unset;
            left: 0;
        }
    }
    // Footer
    .footer-1aZ98z{
        background-color: transparent;
        border-radius: 0;
        // Protip
        div[class^="pro-"],
        div[class^="tip-"]{
            display: none;
        }
    }
}
