.recentMentionsPopout-2fmau1,
.messagesPopoutWrap-1MQ1bW:not(.recentMentionsPopout-2fmau1){
    max-height: calc(100vh - 80px) !important;
    min-height: calc(100vh - 80px);
    position: absolute;
    right: 0 !important;
    left: initial !important;
}
.messagesPopoutWrap-1MQ1bW:not(.recentMentionsPopout-2fmau1){
    right: -200px !important;
}

.theme-dark .messagesPopoutWrap-1MQ1bW{
    margin-top: -8px;
    background-color: $b1;
    border: 0;
    border-radius: 0;

    .messagesPopout-24nkyi{
        background-color: $b1;
    }

    // Header
    div[class^="header-"]{
        background-color: transparent;
        box-shadow: none;
        div[class^="title-"]{
            font-size: $fsheader;
            font-weight: $fwheader;
            line-height: 1;
        }
    }
    // Tab bar
    div[class^="headerTabBarWrapper-"] .tab-bar.TOP .tab-bar-item{
        color: rgba($color: #FFF, $alpha: 0.5);
        font-size: $fsui;
        font-weight: $fwui;
        &.selected{
        color: $Accent;
        border-color: $Accent;
        }
    }
    // Filter
    div[class^="mentionFilter-"]{
        font-size: $fsui;
        div[class^="label-"]{
            color: #FFF;
        }
    }
    .scroller{
        overflow-y: auto;
    }
    // Chanel separator
    div[class^="channelSeparator-"]{
        span[class^="channelName-"]{
            font-size: $fsui;
            font-weight: $fwui;
            line-height: $lh;
        }
        span[class^="guildName-"]{
            font-weight: normal;
        }
    }
    // Message
    .messageGroupWrapper-o-Zw7G{
        background-color: transparent;
        border: 1px solid $b3;
        border-radius: 0;
        &:hover{
            border-color: $b4;
        }
        span.mention{
            background: none;
            color: $a;
        }
        div[class^="actionButtons-"] div[class^="jumpButton-"]{
            height: 21px;
            margin-right: 1px;
            background-color: $b3;
            border-radius: 0;
            line-height: 21px;
            &:hover{
                background-color: $b4;
            }
            div[class^="text-"]{
                color: #FFF;
            }
        }

        // Jump to button
        .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug{
            background-color: transparent;
            box-shadow: none;
            button{
                padding: 2px 4px;
                background-color: $b3;
                border-radius: 0;
                &:hover{
                    background-color: $b4;
                }
            }
        }
    }
    // Empty
    div[class*="messagesPopout-"] div[class^="emptyPlaceholder-"]{
        div[class^="body-"]{
            font-size: 0;
            &::before{
                content: "Nothing to show...";
                color: #FFF;
                font-size: $fsheader;
                font-weight: $fwheader;
            }
        }
        div[class^="image-"]{
            display: none;
        }
        &[class*="bottom-"]{
            top: 0;
            right: 0;
            bottom: unset;
            left: 0;
        }
    }
    // Footer
    div[class^="footer-"]{
        background-color: transparent;
        border-radius: 0;
        // Protip
        div[class^="pro-"],
        div[class^="tip-"]{
            display: none;
        }
    }
}
