.theme-dark .container-2x5lvQ{
    border: 1px solid var(--accent);
    header{
        background-color: $b1;
        border-radius: 0;
        font-size: $fsheader;
        font-weight: $fwheader;
        text-transform: none;
        justify-content: initial;
        padding: 36px 12px 12px;
    }

    // Latency graph
    div[class^="sparkline"] svg g polyline:first-of-type{
        fill: #FFF !important;
    }
    div[class^="sparkline"] svg g polyline:last-of-type{
        stroke: #FFF !important;
    }

    // Section
    section{
        background-color: $b1;
        border-radius: 0;
        p{
            color: #FFF;
            font-size: $fschat;
        }
        hr{
            border: 0;
            border-top: 1px solid $b2;
        }
    }
    
    // Debug button
    a[class^="debugButton-"]{
        color: #FFF;
        font-weight: $fwui;
    }
}
