.popout.popout-bottom.no-shadow[style*="z-index: 1000"]{
    margin-top: 0;
    right: 0 !important;
    left: initial !important;
    animation: 350ms slideinright cubic-bezier(0.1,0.9,0.2,1);
}
.theme-dark div[class^="searchPopout-"]{
    max-height: calc(100vh - 72px) !important;
    min-height: calc(100vh - 72px);
    position: absolute;
    right: 0 !important;
    left: initial !important;
    background-color: $b1;
    border-radius: 0;

    div[class^="option-"][class*="searchQuery"]{
        display: none;
    }

    div[class^="resultsGroup-"]{
        // Remove top border
        &::before{
            content: unset;
        }
        // Header
        div[class^="header-"]{
            color: #FFF;
            font-size: $fsheader;
            font-weight: $fwheader;
            text-transform: none;
        }
        // Option
        div[class^="option-"]{
            font-size: $fsui;
            font-weight: $fwui;
            border-radius: 0;
            &[class*="selected-"]{
                background-color: rgba($color: #FFF, $alpha: 0.1);
            }
        }
        div[class*="searchOption-"]{
            span[class^="filter-"]{
                color: #FFF;
                font-weight: $fwui;
            }
            span[class^="answer-"]{
                color: #FFF;
                font-weight: $fwui;
            }
        }
    }

    // Calendar
    .react-datepicker{
        background-color: transparent;
        // inc/dec month buttons
        &__navigation.react-datepicker__navigation--previous{
            width: 10px;
            height: 10px;
            top: 23px;
            right: 60px;
            left: initial;
            background-image: none;
            border: 0;
            border-top: 2px solid $inputborder;
            border-right: 2px solid $inputborder;
            transform: rotate(-45deg);
            &:hover{
                border-color: $inputborderhover;
            }
        }
        &__navigation.react-datepicker__navigation--next{
            width: 10px;
            height: 10px;
            top: 16px;
            right: 30px;
            background-image: none;
            border: 0;
            border-right: 2px solid $inputborder;
            border-bottom: 2px solid $inputborder;
            transform: rotate(45deg);
            &:hover{
                border-color: $inputborderhover;
            }
        }
        
        
        // Header
        &__header{
            background-color: transparent;
            border: 0;
        }
        // Current month
        &__current-month{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            border: 0;
        }
        // Calendar
        // weekdays
        &__day-name{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
        }
        // Week
        &__week .react-datepicker__day{
            font-size: $fsui;
            border: 2px solid transparent;
            border-radius: 0 !important;
            &:hover{
                background-color: transparent;
                border-color: $inputborderhover;
            }
            &--outside-month{
                background-color: transparent;
            }
            &--today{
                background-color: var(--accent);
                font-weight: $fwui;
            }
            &--selected{
                border-color: $inputborder;
                &::after{
                    content: unset;
                }
            }
            &--disabled{
                background-color: transparent;
                color: $alert;
                &:hover{
                    background-color: transparent;
                    color: $alert;
                    border-color: $alert;
                }
            }
        }
    }
    div[class^="datePickerHint-"]{
        border: 0;
        span[class^="hint-"]{
            color: #FFF;
            font-style: $fsui;
        }
        span[class^="hintValue"]{
            background-color: var(--accent);
            border-radius: 0;
            font-weight: $fwui;
            &:hover{
                background-color: #FFF;
                color: #000;
            }
        }
    }
}
