.popout-2RRwAO{
    border-radius: 0;
}
.theme-dark .menu-3BZuDT{
    background-color: $b2;
    border: 1px solid var(--accent);
    border-radius: 0;
    div[class^="item-"]{
        color: #FFF;
        &:hover{
            background-color: $b3;
        }
        div[class^="icon-"]{
            display: none;
        }
    }
    div[class^="separator-"]{
        border-bottom: 1px solid $b3;
    }

    // Special types
    // Leave server
    div[class*="leave-"]{
        color: $alert;
        &:hover{
            background-color: $alert;
            color: #FFF;
        }
    }
    // Invite
    div[class*="invite-"]{
        &:hover{
            color: #FFF;
        }
    }
}
