.menu-Sp6bN1{
    margin-left: 24px;
    div[class^="item-"]{
        div[class^="helper-"]{
            display: none;
        }
    }
    // Remove last separator
    .separator-2zcjq8:last-of-type{
        display: none;
    }
}
