.theme-dark.popouts .popout.popout-right.no-arrow.no-shadow,
.theme-dark.popouts .popout.popout-left.no-arrow.no-shadow,
.theme-dark.popouts .popout.popout-right.no-arrow[style*="top: 3"]{
    position: absolute;
    top: 32px !important;
    right: 0 !important;
    left: initial !important;
    margin: 0;
    transform: none !important;
    animation: 350ms slideinright cubic-bezier(0.1,0.9,0.2,1);
}

.theme-dark div[class^="userPopout-"]{
    width: 420px;
    height: calc(100vh - 32px);
    background-color: $b1;
    border-radius: 0;
    transform: none !important; // Fixes PermissionsViewer plugin
    
    // Header
    div[class^="headerNormal"],
    div[class^="headerPlaying"],
    div[class^="headerSpotify"],
    div[class^="headerStreaming"]{
        div[class*="headerTop"]{
            padding: 20px;
            flex-direction: initial;
            justify-content: initial;
            background-color: var(--accent);
            div[class*="avatarWrapper-"]{
                margin-bottom: 0;
                div[class^="image-"]{
                    mask: none;
                    -webkit-mask: none;
                }
                div[class^="avatarStatus"]{
                    box-shadow: none;
                }
            }
            div[class^="headerText-"]{
                align-items: baseline;
                margin-left: 20px;
                text-align: left;
                div[class^="headerName"]{
                    margin: 0;
                    padding: 0;
                    font-size: $fsheader;
                    font-weight: $fwheader;
                }
                span{
                    display: block;
                    line-height: 1.3333;
                }
                span.username{
                    font-size: $fsheader;
                    font-weight: $fwheader;
                }
                span.discriminator{
                    font-size: $fsui;
                    font-weight: $fwui;
                }
                span[class*="botTag-"]{
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                    color: hsla(0,0%,100%,.6);
                    font-size: 0;
                    text-transform: capitalize;
                    &::before{
                        content: "Bot";
                        font-size: $fsui;
                    }
                }
            }
        }
    }

    // Header (playing game)
    div[class^="headerPlaying"]{
        background-color: transparent;
        div[class*="headerTop"]{
            background-color: var(--accent);
        }
    }

    // Activity
    div[class^="activityUserPopout-"]{
        padding: 20px;
        background-color: transparent;
        div[class^="headerTextNormal-"]{
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            line-height: $lh;
        }

        // Generic now playing (has generic question mark image)
        div[class^="contentGameImageUserPopout"]{
            margin-left: 20px;
            color: #FFF;
            div[class^="nameNormal"]{
                font-size: $fsui;
                font-weight: $fwui;
            }
            span[class^="playTime-"]{
               font-size: $fschat; 
            }
        }

        // No images (eg. status set by a bot)
        div[class^="contentNoImagesUserPopout"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
        }

        // Rich status
        div[class^="assets-"]{
            img[class^="assetsLargeImageUserPopout"]{
                mask: none;
                -webkit-mask: none;
                border-radius: 0;
            }
            img[class^="assetsSmallImageUserPopout"]{
                background-color: $b3;
            }
        }
        div[class^="contentImagesUserPopout"]{
            margin-left: 20px;
            color: #FFF;
            div[class^="nameNormal"]{
                font-size: $fsui;
                font-weight: $fwui;
            }
            div[class^="details-"]{
                color: #FFF;
                font-size: $fschat;
            }
            div[class^="state-"],
            div[class^="timestamp-"]{
                font-size: $fschat;
            }
            // Spotify song/artist
            a[class^="bodyLink-"]{
                color: #FFF;
            }
        }

        // Spotify progress bar
        div[class^="timeBarUserPopout"]{
            div[class^="bar-"]{
                border-radius: 0;
                div[class^="barInner"]{
                    background-color: #FFF;
                    border-radius: 0;
                }
                ~ div div[class^="textLeft-"],
                ~ div div[class^="textRight-"]{
                    color: #FFF;
                    font-weight: $fwui;
                }
            }
        }

        // Spotify listen along
        div[class^="playButtonWrapper"] ~ button{
            width: 36px;
            height: 36px;
            min-width: 36px;
            max-width: 36px;
            padding: 3px 0 0 0;
        }
    }

    // Body
    div[class^="body-"]{
        padding: 20px;
        background-color: transparent;
        div[class^="bodyTitle"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            text-transform: none;
            line-height: $lh;
        }
        ul{
            li{
                color: #FFF;
                font-weight: $fwui;
                line-height: $lh;
                border-width: 2px;
            }
        }
        div[class^="note-"]{
            margin-left: 0;
            textarea{
                min-height: 36px;
                padding: 9px 12px 10px;
                border: 1px solid $inputborder;
                border-radius: 0;
                color: #FFF;
                font-size: $fsui;
                line-height: 1;
                &:hover{
                    border-color: $inputborderhover;
                }
                &:focus{
                    background-color: #FFF !important;
                    color: #000;
                    border-color: var(--accent);
                }
            }
        }
    }

    // Footer
    div[class^="footer-"]{
        padding: 0 20px 20px;
        background-color: transparent;
        border: 0;
        input{
            height: 36px;
            background-color: transparent;
            font-size: $fsui;
            line-height: $lh;
            border: 1px solid $inputborder;
            border-radius: 0;
            box-sizing: border-box;
            &:hover{
                border-color: $inputborderhover;
            }
        }
        div[class^="protip-"]{
            display: none;
        }
    }
}
