.user-popout{
    border: 1px solid var(--accent);
    border-radius: 0;
}

// Header
.user-popout .header{
    padding: 0 10px;
    background-color: $b1;
    background-image: none;
    border-radius: 0;
    align-items: baseline;
}

// Avatar
.user-popout .avatar-wrapper{
    margin: 10px 0 10px;
}
.user-popout .avatar-wrapper .avatar-popout{
    background-color: transparent;
    border: 0;
}
.user-popout .avatar-wrapper .avatar-hint{
    margin: 0;
    background-color: rgba(0,0,0,0.6);
    box-shadow: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
}
.user-popout .avatar-wrapper .avatar-popout .status{
    box-shadow: none;
}

// Username
.user-popout .username-wrapper{
    text-align: left;
}
.user-popout .username-wrapper .discord-tag,
.user-popout .username-wrapper .nickname,
.user-popout .username-wrapper .username{
    margin-bottom: 0;
    font-size: $fsheader;
    font-weight: $fwheader;
    line-height: $lh;
}
.user-popout .username-wrapper.has-nickname .discriminator,
.user-popout .username-wrapper.has-nickname .username{
    color: #FFF;
}

// Bot tag
.user-popout .bot-tag{
    padding: .2em .6em .3em;
    border-radius: 0;
    font-size: 10px;
    font-weight: normal;
    text-transform: lowercase;
    vertical-align: middle;
}
.user-popout .bot-tag.bot-tag-invert{
    background-color: #000;
    color: #FFF !important;
}

// Activity
.user-popout .username-wrapper .activity{
    color: #FFF;
    line-height: $lh;
}
.user-popout .username-wrapper .activity strong{
    font-weight: $fwui;
}

// Body
.user-popout .body{
    background-color: $b1;
}
.user-popout .body .section .label{
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: $lh;
}
.user-popout .body .roles .icon,
.user-popout .body .section .label .icon{
    display: none;
}

// Roles
.user-popout .body .section.roles{
    max-height: 160px;
    overflow-y: auto;
}
.user-popout .member-roles .member-role{
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 0;
    font-size: $fschat;
    font-weight: $fwchat;
    line-height: 1.5625;
}

// Notes
.user-popout .note{
    padding: 0 10px;
}
.user-popout .note textarea{
    min-height: 36px;
    padding: 4px 8px;
    border: 1px solid $inputborder;
    color: #FFF;
    font-size: $fsui;
    line-height: $lh;
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        color: #000;
        border-color: var(--accent);
    }
}
.user-popout .note textarea::-webkit-input-placeholder{
    color: rgba(255,255,255,.6);
}

// Message
.user-popout .footer .quick-message-wrapper{
    margin: 0 10px 10px 10px;
}
.user-popout .quick-message{
    height: 36px;
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid $inputborder;
    border-radius: 0;
    font-size: $fsui;
    line-height: $lh;
}
.user-popout .quick-message::-webkit-input-placeholder{
    color: rgba(255,255,255,.6);
}

// Footer
.user-popout .footer{
    background-color: $b1;
    border: 0;
}
.user-popout .footer .update-notice{
    display: none;
}
