div[class^="userPopout-"]{
    border: 1px solid var(--accent);
    border-radius: 0;
    box-shadow: none;

    div[class^="headerNormal"],
    div[class^="headerPlaying"]{
        background-color: $b1;
    }
    div[class*="headerTop"]{
        background-color: var(--accent);
    }
    div[class*="mask"]{
        mask: none;
        -webkit-mask: none;
    }
    span.username{
        font-size: $fsheader;
        font-weight: $fwheader;
    }
    span.discriminator{
        padding-left: 4px;
        font-size: $fschat;
    }

    // Now Playing
    div[class^="activityUserPopout"]{
        div[class^="headerText"]{
            margin-bottom: 12px;
            font-size: $fsui;
            font-weight: $fwheader;
            text-transform: none;
        }
        div[class^="name-"]{
            color: #FFF;
            font-size: $fsui;
            font-weight: normal;
            line-height: 1.33333;
        }
        span[class^="playTime"]{
            font-size: 13px;
        }
    }

    //Bottom half
    div[class*="body-"]{
        background-color: $b1;
    }

    div[class^="bodyTitle"]{
        color: #FFF;
        font-size: $fsui;
        font-weight: normal;
        text-transform: none;
    }

    // Note
    .note textarea{
        min-height: 36px;
        padding: 9px 12px 10px;
        border: 1px solid $inputborder;
        border-radius: 0;
        color: #FFF;
        font-size: $fsui;
        line-height: 1;
        &:hover{
            border-color: $inputborderhover;
        }
        &:focus{
            background-color: transparent !important;
            border-color: var(--accent);
        }
    }

    // Footer
    div[class^="footer"]{
        padding: 6px;
        background-color: $b1;
        border: 0;
    }
    input[class^="quick-message"]{
        margin-bottom: 0;
        padding: 9px 12px 10px;
        border: 1px solid $inputborder;
        border-radius: 0;
        color: #FFF;
        font-size: $fsui;
        line-height: 1;
        &:hover{
            border-color: $inputborderhover;
        }
        &:focus{
            background-color: transparent !important;
            border-color: var(--accent);
        }
    }
    .protip{
        display: none;
    }
}
