.chat-3bRxxu div[class^="titleWrapper"] div[class^="search-"]{
    margin: 0;
    .searchBar-3dMhjb{
        width: 64px;
        height: 48px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        border-radius: 0;
        cursor: pointer;
        &:hover{
            background-color: $b3;
        }
        .public-DraftEditorPlaceholder-root,
        .searchBarIcon-1J6sKG{
            display: none;
        }
    }

    .search-2oPWTC.focused-31_ccS .searchBar-3dMhjb,
    .search-2oPWTC.open-6Y_aH .searchBar-3dMhjb,
    .search-2oPWTC.popout-open .searchBar-3dMhjb{
        width: 232px;
        height: 32px;
        background-color: $b4;
        background-image: none;
        cursor: text;
        border: 2px solid $inputborder;
    }
    .search-2oPWTC.focused-31_ccS .searchBar-3dMhjb{
        border-color: var(--accent);
    }

    .search-2oPWTC.open-6Y_aH .search-bar-icon,
    .search-2oPWTC.focused-31_ccS .search-bar-icon,
    .search-2oPWTC.open-6Y_aH .searchBar-3dMhjb .public-DraftEditorPlaceholder-root,
    .search-2oPWTC.focused-31_ccS .searchBar-3dMhjb .public-DraftEditorPlaceholder-root{
        display: block;
    }
    .search-2oPWTC .searchBar-3dMhjb .DraftEditor-root{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
        .public-DraftEditor-content{
            overflow-x: hidden;
        }
        .public-DraftEditor-content,
        .public-DraftEditorPlaceholder-root{
            padding: 3px 8px 0;
            box-sizing: border-box;
        }
    }
    .seasearch-2oPWTCrch .searchBar-3dMhjb .public-DraftEditorPlaceholder-root{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
    }
    .search-2oPWTC .searchBar-3dMhjb .icon{
        top: 5px;
    }

    span[class^="searchAnswer-"],
    span[class^="searchFilter-"]{
        background-color: #FFF;
        color: #000;
        font-weight: normal;
    }
}
