.chat div[class^="titleWrapper"] div[class^="search-"]{
    margin: 0;
}
.chat div[class^="titleWrapper"] .search .search-bar{
    height: 40px;
    border-radius: 0;
}
.theme-dark .chat div[class^="titleWrapper"] .search .search-bar{
    background-color: $b3;
}
.chat div[class^="titleWrapper"] .search .DraftEditor-root{
    font-size: $fsui;
    font-weight: $fwui;
    line-height: 35px;
}
.chat div[class^="titleWrapper"] .search .search-bar .public-DraftEditorPlaceholder-root{
    padding: 3px 11px 10px;
}
.search .DraftEditor-root .public-DraftEditor-content{
    padding: 3px 11px 10px;
}
.theme-dark .chat div[class^="titleWrapper"] .search .search-bar .public-DraftEditorPlaceholder-root{
    color: #FFF;
}

// Eyeglass icon
.chat div[class^="titleWrapper"] .search .search-bar .icon{
    top: 12px;
}

// Search in use
.chat div[class^="titleWrapper"] .search.focused .search-bar,
.chat div[class^="titleWrapper"] .search.open .search-bar,
.chat div[class^="titleWrapper"] .search.popout-open .search-bar{
    width: 240px;
}
