.theme-dark .chat-3bRxxu .container-1r6BKw{
    // LTR
    height: 40px;
    padding: 0 0 0 20px;
    background-color: $ChromeMedium;
    box-shadow: none;

    // Channel name, MOTD
    .children-19S4PO{
        // Remove hash symbol
        .iconWrapper-2OrFZ1{
            display: none;
        }
        // Title
        .title-29uC1r{
            margin-right: 12px;
            @include FontBaseAlt;
        }
        // Remove divider
        .divider-3FBTu8{
            display: none;
        }

        // AKA
        .akaBadge-1M-1Gw{
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-radius: 0;
            color: $BaseHigh;
            @include FontBody;
            font-style: italic;
        }
        // Other nicknames
        .nicknames-1XK4Zt{
            color: $BaseHigh;
            @include FontBody;
        }
        // Topic
        .topic-TCb_qw{
            margin: 0;
            color: $BaseHigh;
            @include FontBody;
        }
        // Remove end gradient
        &::after{
            display: none;
        }
    }

    // Buttons
    .toolbar-1t6TWx{
        .iconWrapper-2OrFZ1{
            width: 68px;
            height: 48px;
            margin: 0;
            opacity: 1;
            > svg{
                display: none;
            }
            &:hover{
                background-color: $ListLow;
            }
            &.selected-1GqIat{
                background-color: $ListAccentLow;
            }
            &::before{
                width: 68px;
                height: 48px;
                position: absolute;
                color: #FFF;
                font-family: $icon;
                font-size: 16px;
                text-align: center;
                line-height: 48px;
            }

            .iconBadge-qZ4Ksk{
                width: 100%;
                height: 100%;
                right: 0;
                bottom: 0;
                background-color: $alert;
                border-radius: 0;
                z-index: -1;
            }
        }
    }

    // Remove help button
    a[href="https://support.discordapp.com"]{
        display: none;
    }

    div[aria-roledescription="Channel Mute Switch"][aria-checked="false"]::before{
        content: "\EA8F";
    }
    div[aria-roledescription="Channel Mute Switch"][aria-checked="true"]::before{
        content: "\E7ED";
        color: $alert;
    }
    div[aria-label="Pinned Messages"]::before{
        content: "\E840";
    }
    div[aria-label="Member List"]::before{
        content: "\E779";
    }
    div[aria-label="Update Ready"]::before{
        content: "\ECC5";
    }
    div[aria-label="Mentions"]::before{
        content: "\E910";
    }
    // DM specific
    div[aria-label="Start Voice Call"]::before{
        content: "\E717";
    }
    div[aria-label="Start Video Call"]::before{
        content: "\E714";
    }
    div[aria-label="Add Friends to DM"]::before{
        content: "\E902";
    }
}
