.theme-dark .chat-3bRxxu .container-1r6BKw,
.theme-dark .threadSidebar-1o3BTy .container-1r6BKw{ // Thread sidebar
    // LTR
    height: 40px;
    padding: 0 0 0 20px;
    background-color: $ChromeBlackMediumLow;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);

    // Channel name, MOTD
    .children-19S4PO{
        // Remove hash symbol
        .iconWrapper-2OrFZ1{
            display: none;
        }
        // Title
        .title-29uC1r{
            margin-right: 12px;
            @include FontBase;
        }
        // Caret (when a thread is open)
        .caret-3W7cBB{
            margin-right: 12px;
        }
        // Remove divider
        .divider-3FBTu8{
            display: none;
        }

        // AKA
        .akaBadge-1M-1Gw{
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-radius: 0;
            color: $BaseHigh;
            @include FontBody;
            font-style: italic;
        }
        // Other nicknames
        .nicknames-1XK4Zt{
            color: $BaseHigh;
            @include FontBody;
        }
        // Topic
        .topic-TCb_qw{
            margin: 0;
            color: $BaseHigh;
            @include FontBody;
        }
        // Remove end gradient
        &::after{
            display: none;
        }
    }

    // Buttons
    .toolbar-1t6TWx{
        .iconWrapper-2OrFZ1{
            width: 68px;
            height: 40px;
            margin: 0;
            opacity: 1;
            > svg{
                display: none;
            }
            &:hover{
                background-color: $ListLow;
            }
            &.selected-1GqIat{
                &::after{
                    content: "";
                    width: 32px;
                    height: 2px;
                    position: absolute;
                    bottom: 4px;
                    left: calc(50% - 25%);
                    background-color: $Accent;
                    border-radius: 1px;
                }
            }
            &::before{
                width: 68px;
                height: 40px;
                position: absolute;
                color: $BaseHigh;
                @include FontIcon;
                font-size: 16px;
                text-align: center;
                line-height: 40px;
            }
            // For Inbox notifications
            &.badge-2qGa_k::after{
                width: 34px;
                height: 2px;
                bottom: 4px;
                right: 16px;
                background-color: $Accent;
                border: 0;
            }

            .iconBadge-qZ4Ksk{
                width: 32px;
                height: 2px;
                bottom: 4px;
                left: calc(50% - 25%);
                background-color: $alert;
                border-radius: 1px;
            }
        }

    }


    // Remove help button
    a[href="https://support.discord.com"]{
        display: none;
    }

    div[aria-label="Threads"]::before{
        content: "\E8C4"; // ShowBcc
    }
    div[aria-label="More"]::before{
        content: "\E712"; // More
    }
    div[aria-label="Notification settings"]::before{
        content: "\EA8F";
    }
    div[aria-label="Close"]::before{
        content: "\E89F"; // ClosePane
    }
    div[aria-label^="Mute channel"][aria-checked="false"]::before{
        content: "\EA8F";
    }
    div[aria-label^="Mute channel"][aria-checked="true"]::before{
        content: "\E7ED";
        color: $alert;
    }
    div[aria-label="Pinned messages"]::before{
        content: "\E840";
    }
    div[aria-label="Member list"]::before{
        content: "\E779";
    }
    div[aria-label="Update Ready!"]{
        &::before{
            content: "\ECC5";
        }
        &::after{
            content: "";
            width: 50%;
            height: 2px;
            position: absolute;
            bottom: 4px;
            left: calc(50% - 25%);
            background-color: $alert;
            border-radius: 1px;
            animation: blink 2s ease-out infinite;
        }
    }
    div[aria-label="Inbox"]::before{
        content: "\E715";
    }
    // DM specific
    div[aria-label="Start voice call"]::before{
        content: "\E717";
    }
    div[aria-label="Start video call"]::before{
        content: "\E714";
    }
    div[aria-label="Add friends to DM"]::before{
        content: "\E902";
    }
}
