.bg-h5JY_x,
.container-16j22k{
    // Background is declared in /core/options
    background-size: cover;
    &::before{
        content: "";
        width: 328px;
        height: 100%;
        position: absolute;
        background-color: rgba(#2d2d2d, 0.7);
        background-repeat: repeat;
    }
}
// Make 100% wide when load screen is shown
.container-16j22k::before{
    width: 100%;
}
