.channels-wrap header{
	height: 40px;
	background-color: $b1;
	padding: 0 8px;
	border: 0;
	box-shadow: none;
    font-family: $font;
    font-size: $fsheader;
	font-weight: $fwheader;
	&:hover{
		background-color: $b4;
	}
}
