// This allows us to move the Settings button and user's Avatar to the guilds list instead of the traditional account box
.theme-dark .base-3dtUhz{
    height: calc(100vh - 32px);
    position: unset;
    margin-left: -48px;
}
