.theme-dark .colorPickerCustom-2CWBn2{
    background-color: $ChromeMediumLow;
    border: 1px solid $BorderTransient;
    border-radius: 4px;
    .saturation-1FDvtn>div,
    .saturation-1FDvtn>div>div{
        border-radius: 2px;
    }
}
