.theme-dark .colorPickerCustom-2CWBn2{
    background-color: #2D2D2D;
    border: 1px solid rgba($color: #000000, $alpha: 0.36);
    border-radius: 4px;
    .saturation-1FDvtn>div,
    .saturation-1FDvtn>div>div{
        border-radius: 2px;
    }
}
