.contentWrapper-SvZHNd{
    background-color: $ChromeMediumLow;
    border: 1px solid $BorderTransient;
    border-radius: 4px;
}
.theme-dark .emojiPicker-3PwZFl{
    grid-template-rows: 46px auto 48px; // Allows to re-adjust inspector size
    background-color: $ChromeMediumLow;
    // Fix bug with top border of search box being cut off
    // Remove bottom border
    .header-8ilj5e{
        padding-top: 1px;
        box-shadow: none;
    }
    // Search
    .container-2XeR5Z{
        background-color: transparent;
        border-radius: 0;
    }
    .inner-3ErfOT{
        padding: 0;
    }
    .input-1Rv96N, // Emoji
    .input-3Xdcic{ // GIF
        height: 32px;
        padding: 0 42px 2px 12px;
        background-color: $AltMediumLow;
        border: 1px solid $BaseMedium;
        border-radius: 2px;
        @include FontBody;
        color: $BaseHigh;
        &::-webkit-input-placeholder{
            color: $BaseMedium;
        }
        &:hover{
            background-color: $AltMedium;
            border-color: $BaseMediumHigh;
        }
        &:focus{
            background-color: $ChromeWhite;
            color: $ChromeBlackHigh;
            border-width: 2px;
            border-color: $Accent;
            &::-webkit-input-placeholder{
                color: $AltMedium;
            }
        }
    }
    // Search/clear icon
    .iconLayout-1WxHy4, // Emoji
    .iconLayout-3OgqU3{ // GIF
        position: absolute;
        right: 0;
    }

    // Diversity selector
    .diversitySelector-2kYFHA{
        width: 32px;
        height: 32px;
        border: 1px solid $BaseMedium;
        border-radius: 2px;
        box-sizing: border-box;
        .diversityEmojiItemImage-2gPNoS{
            width: 20px;
            height: 20px;
            margin: 4px;
        }
    }
    .diversitySelectorPopout-3FiGaM{
        height: auto !important;
        margin-top: -1px;
        margin-left: -1px;
        background-color: $ChromeMediumLow;
        border: 1px solid $Accent;
        border-radius: 2px;
        box-sizing: border-box;

        .diversityEmojiItem-L6_IXw{
            border-radius: 0;
            &:hover{
                background-color: $ListLow;
            }
            .diversityEmojiItemImage-2gPNoS{
                margin: 2px;
            }
        }
    }

    // Emoji
    .emojiPickerListWrapper-fz8KNK{
        .wrapper-1-Fsb8{
            margin-bottom: 4px;
            background-color: $ChromeMediumLow;
            border-bottom: 1px solid $BaseMedium;
            &:hover{
                border-bottom-color: $BaseHigh;
            }
            .headerLabel-3dG4M-{
                color: $BaseHigh;
                @include FontBody;
                text-transform: none;
            }
        }
    }

    // Description bar
    .inspector-S2gM3e{
        height: 48px;
        background-color: $ChromeLow;
    }
}

.theme-dark #emoji-picker-tab-panel{
    // Category list
    .categoryList-2Kzf65{
        background-color: $ChromeMedium;

    }
    // Replace emoji icons
    .categoryItemDefaultCategory-aBZ6nJ{
        &.categoryItem-1D0nxC{
            svg{
                display: none;
            }
            &::before{
                padding: 2px;
                color: $BaseHigh;
                @include FontIcon;
                font-size: 20px;
                line-height: calc(32px - 8px);
                vertical-align: middle;
            }
            &[aria-label="recent"]::before{
                content: "\E81C";
            }
            &[aria-label="custom"]::before{
                content: "\E74C";
            }
            &[aria-label="people"]::before{
                content: "\ED53";
            }
            &[aria-label="nature"]::before{
                content: "\E708";
            }
            &[aria-label="food"]::before{
                content: "\ED56";
            }
            &[aria-label="activity"]::before{
                content: "\EA86";
            }
            &[aria-label="travel"]::before{
                content: "\ED57";
            }
            &[aria-label="objects"]::before{
                content: "\ED55";
            }
            &[aria-label="symbols"]::before{
                content: "\EB51";
            }
            &[aria-label="flags"]::before{
                content: "🏳‍🌈";
                @include FontBody;
            }
        }
    }
}

#gif-picker-tab-panel{
    // Search
    .container-2XeR5Z{
        background-color: transparent;
        border-radius: 0;
    }
    .inner-3ErfOT{
        padding: 0;
    }
    .input-1Rv96N, // Emoji
    .input-3Xdcic{ // GIF
        height: 32px;
        padding: 0 42px 2px 12px;
        background-color: $AltMediumLow;
        border: 1px solid $BaseMedium;
        border-radius: 2px;
        @include FontBody;
        color: $BaseHigh;
        &::-webkit-input-placeholder{
            color: $BaseMedium;
        }
        &:hover{
            background-color: $AltMedium;
            border-color: $BaseMediumHigh;
        }
        &:focus{
            background-color: $ChromeWhite;
            color: $ChromeBlackHigh;
            border-width: 2px;
            border-color: $Accent;
            &::-webkit-input-placeholder{
                color: $AltMedium;
            }
        }
    }
    // Search/clear icon
    .iconLayout-1WxHy4, // Emoji
    .iconLayout-3OgqU3{ // GIF
        position: absolute;
        right: 0;
    }
    .result-3w1ZcL{
        border-radius: 2px;
        .gif-1TcNIB{
            border-radius: 2px;
        }
        .categoryFadeBlurple-1j72_A{
            background-color: rgba(0,0,0,.4);
        }
        &:hover::after{
            border: 2px solid $Accent;
            border-radius: 2px;
            box-shadow: none;
        }
    }

    // Empty
    .emptyHints-1EYR-5{
        .emptyHintCard-2mUdMe{
            background-color: $ListLow;
            border-radius: 2px;
        }
        .emptyHintText-1QDF9N{
            color: $BaseHigh;
        }
    }

    // Whatever the hell this is
    .endContainer-1ZDW8j{
        display: none;
    }
}

// Emoji picker opened from chatbox
.theme-dark .contentWrapper-SvZHNd{
    background-color: $ChromeMediumLow;
    border: 1px solid $BorderTransient;
    border-radius: 4px;

    // Pivot
    .nav-7UD0KD{
        .navItem-3Wp_oJ+.navItem-3Wp_oJ{
            margin-left: 0;
        }
        .navButton-2gQCx-{
            padding: 0 0 8px 0;
            margin: 0 12px;
            color: $BaseMedium;
            &:hover{
                color: $BaseMediumHigh;
            }
        }
        .navButtonActive-1MkytQ{
            background-color: transparent;
            color: $BaseHigh;
            &::after{
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $Accent;
                border-radius: 2px;
            }
        }
    }

    // Fixes double border
    #emoji-picker-tab-panel .emojiPicker-3PwZFl{
        border: 0;
    }
}
