.recentMentionsPopout-3rCiI6,
.messagesPopoutWrap-1MQ1bW{
    max-height: calc(100vh - 72px) !important;
    min-height: calc(100vh - 72px);
    position: absolute;
    right: 0 !important;
    left: initial !important;
    margin-top: -8px;
    border-radius: 0;
    animation: 350ms cubic-bezier(0.19, 1, 0.22, 1) slideinright;
}
.messagesPopoutWrap-1MQ1bW:not(.recentMentionsPopout-3rCiI6){
    right: -200px !important;
}

.theme-dark .container-enaOkj,
.theme-dark .messagesPopoutWrap-1MQ1bW{
    background-color: $ChromeLow;
    // Header
    .header-ykumBX{
        background-color: $ChromeLow;
        box-shadow: none;
        // Pivot
        .topPill-30KHOu{
            .item-PXvHYJ{
                margin: 8px 12px 0;
                padding: 0 0 8px;
                background-color: transparent;
                border-bottom: 2px solid transparent;
                border-radius: 0;
                @include FontSubtitle;
                color: $BaseMedium;
                &:hover{
                    color: $BaseMediumHigh;
                }
                &.selected-3s45Ha{
                    border-color: $Accent;
                    color: $BaseHigh;
                }
            }
        }
        // right buttons
        .button-1-5Aqk{
            background-color: transparent;
            &:hover{
                background-color: $ListLow;
            }
            &:active{
                background-color: $BaseMediumLow;
            }
        }
    }

    // Tutorial
    .tutorial-3w5I9h{
        background-color: $ChromeMediumLow;
        border: 1px solid $BorderTransient;
        border-radius: 4px;
        .tutorialIcon-3f1miQ{
            background-color: transparent;
            &::before{
                content: "\E946";
                @include FontIcon;
                color: $BaseHigh;
                font-size: 24px;
            }
            svg{
                display: none;
            }
        }
        > div ~ div{ // class?
            h3{
                @include FontBase;
            }
            > div{ // class!
                @include FontBody;
                color: $BaseHigh;
            }
        }
    }

    // Message
    .channel-3pEHab,
    .container-3iAQ-0{ // Mentions
        .channelHeader-3Gd2xq{
            padding: 0 12px 0 48px;
            background-color: $ChromeMediumLow;
            border-radius: 4px 4px 0 0;
            .guildIcon-3Co6k-{
                border-radius: 50%;
            }
            // right buttons
            .button-1-5Aqk{
                background-color: transparent;
                &:hover{
                    background-color: $ListLow;
                }
                &:active{
                    background-color: $BaseMediumLow;
                }
            }
            .collapseButton-2ZsEjz{
                left: 12px;
            }
        }
        .messages-3G3erD,
        .messageContainer-gbhlwo{ // Mentions
            background-color: $ChromeMedium;
            border-radius: 0 0 4px 4px;
            // Divider
            .divider-JfaTT5{
                border-color: $ChromeMediumLow;
                span{
                    padding: 2px 8px;
                    background-color: $ChromeMediumLow;
                    @include FontCaption;
                    color: $BaseHigh;
                }
            }
        }
    }
    // Mentions can't be collapsed, so move the server image back to the left
    .container-3iAQ-0{
        .channelHeader-3Gd2xq{
            padding: 0 12px;
        }
    }
}
