.theme-dark{
    .userPopout-xaxa6l{
        background-color: $AltHigh;
        border-radius: 4px;
        border: 1px solid $BorderTransient;

        // Avatar
        .avatar-37jOim{
            background-color: $AltHigh;
            border-color: $AltHigh;
        }

        // User has NO nickname
        .headerTagNoNickname-3qrd77{
            @include FontSubtitle;
        }
        // User has nickname
        // Nickname
        .nickname-3M3Jfa{
            @include FontSubtitle;
        }

        // Set server nickname link
        .setIdentityLink-1t8Ahd a{
            color: $Accent;
        }


        // Body
        .bodyInnerWrapper-26fQXj{
            background: transparent;
        }
        // Section title
        .bodyTitle-1ySSKn{
            @include FontBase;
            color: $BaseHigh;
            text-transform: none;
        }

        // Role
        .role-2irmRk{
            height: 24px;
            border-radius: 12px;
            border-width: 2px;
        }
        // Add role
        .addButton-pcyyf6{
            border-color: $BaseMedium;
            color: $BaseMedium;
            &:hover{
                border-color: $BaseHigh;
                color: $BaseMedium;
            }
        }

        // Note
        .note-1oo11U{
            margin: 0;
        }

        // Footer
        .footer-3UKYOU{
            background-color: transparent;
        }
    }
}
