.theme-dark .userPopout-3XzG_A{
    width: calc(4px * 75);
    max-height: calc(100vh - 32px);
    border: 1px solid $BorderTransient;
    border-radius: 4px;

    // Headers
    .header-2BwW8b{
        background-color: $ChromeMediumLow;
        // Normal
        &.headerNormal-T_seeN{
            background-color: lighten($color: $ChromeMediumLow, $amount: 3);
        }

        // Playing game
        &.headerPlaying-j0WQBV{
            .activity-11LB_k{
                background-color: $Accent;
            }
        }

        // Streaming
        &.headerStreaming-2FjmGz{
            .activity-11LB_k{
                background-color: #6441A4;
            }
        }

        // Spotify
        &.headerSpotify-zpWxgT{
            .activity-11LB_k{
                background-color: #1DB954;
            }
        }

        // Xbox
        &.headerXbox-3G-4PF{
            .activity-11LB_k{
                background-color: #107C10;
            }
        }

        // Align to left side
        .headerTop-3C2Zn0{
            flex-direction: initial;
            justify-content: initial;
            padding: 10px;
            display: block;
        }
        // Add right margin
        .avatarWrapper-3H_478{
            margin-right: 10px;
            margin-bottom: 0;
            display: inline-block;
        }
        // Align text to left
        .headerText-2sdzFM{
            text-align: left;
            align-items: initial;
            display: inline-block;
        }

        // User with nickname
        .headerText-2sdzFM{
            // Nickname
            .headerName-fajvi9{
                @include FontBody;
            }
            // Normal name
            .headerTagWithNickname-3IthZD{
                .username-2b1r56{
                    color: $BaseHigh;
                    @include FontBody;
                    vertical-align: bottom;
                }
                span:not(.username-2b1r56):not(.bot-2Fta1w){
                    padding-left: 4px;
                    color:$BaseMedium;
                    @include FontCaption;
                    vertical-align: bottom;
                }
            }
        }

        // User with no nickname
        .headerTagNoNickname-ENx6no{
            .username-2b1r56{
                color: $BaseHigh;
                @include FontBody;
                vertical-align: bottom;
            }
            span:not(.username-2b1r56):not(.bot-2Fta1w){
                padding-left: 4px;
                color:$BaseMedium;
                @include FontCaption;
                vertical-align: bottom;
            }
        }

        // Custom status
        .customStatus-1bh2V9{
            width: auto;
            margin-top: 8px;
            color: $BaseHigh;
            @include FontBody;
            text-align: left;
        }
        .customStatusSoloEmoji-XOvnMc{
            width: 16px;
            height: auto;
        }
    }

    // Activity
    .activity-11LB_k{
        // Change screenshare icon
        .screenshareIcon-Bnlgnp{
            background-image: none;
            z-index: 0;
            &::before{
                content: "\EC15"; // MiracastLogoSmall
                @include FontIcon;
                font-size: 64px;
                line-height: 32px;
            }
        }
        .nameNormal-2lqVQK,
        .activityName-1IaRLn{
            color: $BaseHigh;
            @include FontBody;
        }
        // game with no icon (see Dyno Bot's help message)
        .contentNoImagesUserPopout-PCCPyZ{
            .nameWrap-3Z4G_9{
                color: $BaseHigh;
                @include FontBody;
            }
        }
        .playTime-2uWd1Z{
            @include FontCaptionAlt;
        }
    }

    // Spotify
    .assetsLargeImage-eYwpTX{
        border-radius: 2px;
    }
    // Progress bar
    .timeBarUserPopout-AWPFf2{
        .bar-3urHkF,
        .barInner-3NDaY_{
            height: 3px;
            border-radius: 0;
        }
        .bar-3urHkF{
            background-color: $BaseLow;
        }
        .barInner-3NDaY_{
            background-color: $BaseHigh;
        }
        // Times
        .textLeft-3EZXG6,
        .textRight-1XO5Ye{
            color: $BaseHigh;
            @include FontCaption;
        }
    }

    // Body
    .bodyInner-245q0L{
        padding: 12px 6px 12px 10px;
        background-color: $ChromeMediumLow;
    }
    .bodyTitle-Y0qMQz,
    .headerText-1HLrL7{
        color: $BaseHigh;
        @include FontBody;
        text-transform: none;
    }
    // Tags
    .role-2irmRk{
        border-width: 2px;
        @include FontCaption;
    }
    .addButton-pcyyf6{
        border-color: $BaseMedium;
        color: $BaseMedium;
        &:hover{
            border-color: $BaseMediumHigh;
            color: $BaseMediumHigh;
        }
    }

    // Note
    .footer-1fjuF6{
        padding-top: 0;
        background-color: $ChromeMediumLow;
        border: 0;
    }
    .note-3HfJZ5{
        margin-left: 0;
        textarea{
            padding: 10px;
            height: 82px !important;
            background-color: $AltMediumLow;
            border: 2px solid $BaseMedium;
            border-radius: 2px;
            color: $BaseHigh;
            @include FontBody;
            &::-webkit-input-placeholder{
                color: $BaseMedium;
            }
            &:hover{
                background-color: $AltMedium;
                border-color: $BaseMediumHigh;
            }
            &:focus{
                background-color: $ChromeWhite;
                border-color: $Accent;
                color: $ChromeBlackHigh;
                &::-webkit-input-placeholder{
                    color: $AltMedium;
                }
            }
        }
    }

    // Quick message
    .quickMessage-2XpSaN{
        height: 32px;
        padding: 0 10px;
        background-color: $AltMediumLow;
        border: 2px solid $BaseMedium;
        border-radius: 2px;
        color: $BaseHigh;
        @include FontBody;
        &::-webkit-input-placeholder{
            color: $BaseMedium;
        }
        &:hover{
            background-color: $AltMedium;
            border-color: $BaseMediumHigh;
        }
        &:focus{
            background-color: $ChromeWhite;
            border-color: $Accent;
            color: $ChromeBlackHigh;
            &::-webkit-input-placeholder{
                color: $AltMedium;
            }
        }
    }
    // Remove protip
    .protip-YaFfgO{
        display: none;
    }
}
