.theme-dark .content-98HsJk{
    // Sidebar
    .sidebar-2K8pFh{
        // Header
        .discoverHeader-1TWTqG{
            margin: 0;
            padding: 0 12px;
            background-color: $ChromeBlackMediumLow;
            @include FontBase;
            line-height: 40px;

            // Hack to stop selecting the 'header' in friends
            &~.container-2Pjhx-{
                margin-left: 48px;
            }
        }


        .container-2Pjhx-{
            margin: 0;
            padding: 0;
            border-radius: 0;
            color: $BaseHigh;
            &:hover{
                background-color: $ListLow;
            }
            &.selectedCategoryItem-3X8ujp{
                border-radius: 0;
                .itemInner-3gVXMG{
                    background-color: $ListAccentLow;
                }
            }

            .layout-2DM8Md{
                padding: 4px;
                border-radius: 0;
            }

            // List item name
            .name-uJV0GL{
                @include FontBody;
            }
        }
    }

    // Main
    .pageWrapper-1PgVDX{
        background-color: $ChromeMediumLow;

        // Remove max-width
        .viewWrapper-8-8h4T{
            max-width: none;
        }

        // Search
        .searchHeader-2I26nG{
            margin: -40px -40px 32px -40px;
            .headerImage-3X1tyY{
                border-radius: 0;
                clip-path: inset(8px);
            }
            .search-1iTphC{
                margin: auto;
            }
        }


        .searchBox-3Y2Vi7{
            background-color: transparent;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            input{
                padding-right: 32px;
                color: $BaseHigh;
                &::-webkit-input-placeholder{
                    color: $BaseMedium;
                }
                &:hover{
                    color: $BaseHigh;
                    &::-webkit-input-placeholder{
                        color: $BaseMedium;
                    }
                }
                &:focus{
                    color: $ChromeBlackHigh;
                    &::-webkit-input-placeholder{
                        color: $AltMedium;
                    }
                }
            }
            // Remove "press enter to search" text
            .cta-BiH9zX{
                display: none;
            }

            // Move clear button into search box
            .clear-U3WkKp{
                position: absolute;
                right: 12px;
                svg{
                    height: 16px;
                    color: #FFF;
                }
            }
            .searchBoxInputWrapper-nKncfu:focus-within ~ .clear-U3WkKp{
                svg{
                    color: #000;
                }
            }
        }

        // Servers
        .card-3DjzTQ{
            background-color: $ChromeMedium;
            border-radius: 0;
            .guildInfo-2wGKIg{
                background-color: $ChromeMedium;
            }
        }

        // Search results
        .categories-1ywIbh{
            max-width: none;
            .categoryPill-34fszg{
                margin-right: 24px;
                padding: 4px 0;
                border-radius: 0;
                &:hover{
                    background-color: transparent;
                    .categoryLabel-2G3r2V{
                        color: $BaseMediumHigh;
                    }
                }
                &.selected-1dONk0{
                    background-color: transparent;
                    border-bottom: 2px solid $Accent;
                    .categoryLabel-2G3r2V{
                        color: $BaseHigh;
                    }
                }

                .categoryLabel-2G3r2V{
                    color: $BaseMedium;
                    @include FontBody;
                }
            }
        }

        // Language select dropdown
        .languageSelector-LEtpHP{
            height: 32px;
            .css-1pcexqc-container{
                background-color: transparent;
                border: 1px solid $BaseMedium;
                border-radius: 2px;
                &:hover{
                    border-color: $BaseMediumHigh;
                }
                .css-1b86x2o-control,
                .css-1o55ng5-control{
                    min-height: 32px;
                    height: 32px;
                    @include FontBody;
                }
                .css-123uooi-menu{
                    background-color: $ChromeMedium;
                    border-radius: 0;
                    box-shadow: none;
                }
            }
        }
    }
}
