.theme-dark .pageWrapper-1PgVDX{
    background-color: $ChromeMediumLow;
    // Remove background image
    .bg-AYqtMd{
        display: none;
    }

    // Less head, please
    .pageHeader-3615mp{
        height: 32px;
    }

    // Main content
    .body-2lagau{
        margin: 0;
        // Header
        .mainHeader-1i17pL{
            @include FontSubtitle;
            text-align: left;
        }

        // Header/search
        .search-JQJ-3r{
            justify-content: normal;
            margin-bottom: 42px;
            // Search
            .searchBox-3Y2Vi7{
                padding-right: 0;
                background-color: transparent;
                box-shadow: none;
                border-radius: 0;
                input{ // Hover and focus states don't work if this isn't here
                    border-width: 1px;
                    border-style: solid;
                }
            }
            // Remove search button
            .searchIcon-1a1-yA,
            .clear-U3WkKp{
                display: none;
            }
            // Remove 'help' text
            .searchHelpText-19imBp{
                display: none;
            }
        }

        // Langauge dropdown
        .languageSelector-1R8fPE{
            height: 32px;
            .css-1wqqa50-container{
                background-color: transparent;
                border: 1px solid $BaseMedium;
                border-radius: 2px;
                &:hover{
                    border-color: $BaseMediumHigh;
                }
                .css-ncjuf0-control,
                .css-5fjw8m-control{
                    min-height: 32px;
                    @include FontBody;
                }
                .css-1rckt42-menu{
                    background-color: $ChromeMedium;
                    border-radius: 0;
                    box-shadow: none;
                }
            }
        }

        // No results
        .emptySearchResults-1ba__I{
            width: auto;
            margin-top: 42px;
            background-image: none;
            letter-spacing: normal;
            // Remove image
            .emptySearchImage-1qOMLW{
                display: none;
            }
            // Header
            .emptySearchTitle-2zDhhZ{
                @include FontSubtitle;
                text-align: left;
            }
            // Error description
            .emptySearchDescription-2AmfE4{
                @include FontBody;
                text-align: left;
            }
        }

        // Section
        section{
            h3{
                @include FontSubtitle;
            }

            // Guilds
            .guildList-1ItbxP{
                .guildCard-2arfcG{
                    .card-3DjzTQ{
                        min-height: 60px;
                        background-color: $ChromeMedium;
                        border-radius: 0;
                        &:hover{
                            box-shadow: none;
                            transform: none;
                        }
                    }
                    .cardHeader-Int16m{
                        margin-bottom: 0;
                        flex: 0 0 83px;
                        .guildIcon-3W0pfo{
                            top: 16px;
                            bottom: unset;
                            svg foreignObject{
                                mask: none !important;
                            }
                        }
                    }
                    .guildInfo-2wGKIg{
                        padding: 16px;
                        .description-2QALGo{
                            color: $BaseHigh;
                            @include FontBody;
                        }
                    }
                }
            }
        }
    }
}
