div[class^="channels-"] .container-2Thooq{
    height: 40px;
    margin-bottom: 0;
    background-color: $b1;
    .status-2kJpnA{
        border: 0;
        right: 0;
        bottom: 0;
    }
    button{
        width: 40px;
        height: 40px;
        border-radius: 0;
        &:hover{
            background-color: $b3;
        }
    }
}
