.theme-dark div[class^="channels-"] .container-3baos1{
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: $b1;
    // Remove right margin to stop controls shifting
    .avatarWrapper-2yR4wp{
        margin-right: 0;
    }
    .avatar-SmRMf2{
        width: 48px;
        height: 48px;
        margin: 0 0 97px 0;
        border-radius: 0;
        &:hover{
            background-color: $b3;
        }
        .inner-1W0Bkn{
            width: 24px;
            height: 24px;
            margin: 12px 0 0 12px;
        }
    }
    .status-2zcSVk{
        border: 0;
        right: 10px;
        bottom: 10px;
    }
    .nameTag-3uD-yy{
        display: none;
    }
    button{
        width: 48px;
        height: 48px;
        border-radius: 0;
        opacity: 1;
        &:hover{
            background-color: $b3;
        }
        .contents-18-Yxp{
            display: none;
        }
    }

    // Default state - No voice connection
    width: 48px;
    .flex-1xMQg5.flex-1O1GKY{
        button[aria-label="Mute"],
        button[aria-label="Unmute"],
        button[aria-label="Deafen"],
        button[aria-label="Undeafen"]{

            display: none;
            &::before{
                font-family: $icon;
                font-size: 18px;
            }
        }
        button[aria-label="Mute"]::before{
            content: "\E720";
        }
        button[aria-label="Unmute"]::before{
            content: "\EC54";
            color: $alert;
        }
        button[aria-label="Deafen"]::before{
            content: "\E767";
        }
        button[aria-label="Undeafen"]::before{
            content: "\E74F";
            color: $alert;
        }
        
    }
}
// Show Mic/Speaker controls when connected to voice
div[class^="channels-"] .container-1giJp5~.container-3baos1{
    width: auto;
    .flex-1xMQg5.flex-1O1GKY{
        button[aria-label="Mute"],
        button[aria-label="Unmute"],
        button[aria-label="Deafen"],
        button[aria-label="Undeafen"]{
            display: block;
        }
    }
}
