.theme-dark .panels-j1Uci_{
    background-color: transparent;
    margin-left: 48px;
}
.theme-dark .container-3baos1{
    height: 48px;
    margin-bottom: 0;
    padding: 0;

    // Hide name
    .nameTag-3uD-yy{
        display: none;
    }

    .avatarWrapper-2yR4wp{
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 48px;
        left: 0;
        margin-right: 0;
        &:hover{
            background-color: $ListLow;
            cursor: pointer;
        }
        .avatar-SmRMf2{
            width: 24px !important;
            height: 24px !important;
            margin: 12px;
            &:hover{
                opacity: 1;
            }
        }
    }

    .button-14-BFJ{
        height: 48px;
        border-radius: 0;
        .contents-18-Yxp{
            display: none;
        }
        &::before{
            @include FontIcon;
            font-size: 16px;
        }
        &:hover{
            background-color: $ListLow
        }
    }

    // Mute/Deafen buttons
    button[aria-label="Mute"],
    button[aria-label="Deafen"]{
        width: 60px;

    }

    // Place the setting button in the guilds list
    button[aria-label="User Settings"]{
        position: absolute;
        width: 48px;
        bottom: 0;
        left: 0;
    }

    // Icon replacements
    button[aria-label="Mute"][aria-checked="false"]::before{
        content: "\E720";
    }
    button[aria-label="Mute"][aria-checked="true"]::before{
        content: "\EC54";
        color: $alert;
    }
    button[aria-label="Deafen"][aria-checked="false"]::before{
        content: "\E767";
    }
    button[aria-label="Deafen"][aria-checked="true"]::before{
        content: "\E74F";
        color: $alert;
    }
    button[aria-label="User Settings"]::before{
        content: "\E713";
    }
}
