.panels-j1Uci_{
    background-color: transparent;
}
.theme-dark .sidebar-2K8pFh .container-3baos1{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    margin-bottom: 0;
    padding: 0;
    .avatarWrapper-2yR4wp{
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 48px;
        left: 0;
        margin-right: 0;
        &:hover{
            background-color: $ListLow;
            cursor: pointer;
        }
        .avatar-SmRMf2{
            width: 24px !important;
            height: 24px !important;
            margin: 12px;
            &:hover{
                opacity: 1;
            }
        }
    }

    // Hide name
    .nameTag-3uD-yy{
        display: none;
    }

    // Buttons
    .flex-1xMQg5{
        margin-left: 48px;
    }
    .button-14-BFJ{
        width: 48px;
        height: 48px;
        color: #FFF;
        border-radius: 0;
        &:hover{
            background-color: $ListLow;
        }
        &::before{
            @include FontIcon;
            font-size: 16px;
        }
        .contents-18-Yxp{
            display: none;
        }
    }
    button[aria-label="Mute"],
    button[aria-label="Unmute"],
    button[aria-label="Deafen"],
    button[aria-label="Undeafen"]{
        background-color: transparent;
    }

    button[aria-label="Mute"][aria-checked="false"]::before{
        content: "\E720";
    }
    button[aria-label="Mute"][aria-checked="true"]::before{
        content: "\EC54";
        color: $alert;
    }
    button[aria-label="Deafen"][aria-checked="false"]::before{
        content: "\E767";
    }
    button[aria-label="Deafen"][aria-checked="true"]::before{
        content: "\E74F";
        color: $alert;
    }
    button[aria-label="User Settings"]::before{
        content: "\E713";
    }
    // Place the setting button in the guilds list
    button[aria-label="User Settings"]{
        position: absolute;
        width: 48px;
        height: 48px;
        bottom: 0;
        left: 0;
    }
}
.theme-dark .sidebar-2K8pFh .container-1giJp5~.container-3baos1{
    width: 96px;
    button[aria-label="Mute"],
    button[aria-label="Unmute"],
    button[aria-label="Deafen"],
    button[aria-label="Undeafen"]{
        display: block;
    }
}
