.theme-dark .activityPanel-28dQGo{
    height: 48px;
    padding: 0 0 0 8px;
    border-bottom: 0;

}

html[lang^="en-"].theme-dark .activityPanel-28dQGo{
    .actions-aUdUfC{
        button{
            width: 48px;
            height: 48px;
            .contents-18-Yxp{
                display: none;
            }
            &::before{
                @include FontIcon;
                font-size: 16px;
            }
        }

        // Icon replacements
        button[aria-label^="Stream"]::before,
        button:disabled::before{
            content: "\F71C";
        }
        button[aria-label^="Stop Streaming"]::before{
            content: "\F71D";
        }
    }
}
