.theme-dark{
    // Mention indicator
    .base-PmTxvP.numberBadge-2s8kKX{
        min-width: 20px;
        min-height: 20px;
        background-color: #003b67 !important;
        border: 2px solid #1a4e76 !important;
        z-index: 2;
        text-shadow: none;
        border-radius: 50%;
        box-shadow: none;
        font-weight: normal;
    }

    .base-PmTxvP.live-vBWnV6{
        background-color: $alert !important;
        font-size: 0;
        animation: ease-in 1s infinite;
    }
}
