.theme-dark{
    .base-PmTxvP{
        width: auto !important;
        min-width: 20px;
        min-height: 20px;
        background-color: #003b67 !important;
        border: 2px solid #1a4e76 !important;
        z-index: 2;
        text-shadow: none;
        border-radius: 50%;
        box-shadow: none;
        font-weight: normal;
    }
}
