.platform-win .sidebar-2K8pFh{
    background: transparent;
    border-radius: 0;
}

.theme-dark .sidebar-2K8pFh{
    width: 288px;
    .container-3w7J-x{
        background-color: transparent;
    }

    // Header container
    .container-1taM1r{
        .header-2V-4Sw{
            height: 40px;
            padding: 0 12px;
            box-shadow: none;
            background-color: $ChromeBlackMediumLow;
            @include FontBase;
            transition: none;
            &:hover{
                background-color: $ListLow;
            }
            // Remove badge
            .guildIconContainer-2FW_iA{
                display: none;
            }
            .name-1jkAdW{
                @include FontBase;
            }
        }
        // Guild banner
        .animatedContainer-1NSq4T{
            left: 48px;
            background-color: transparent;
            box-shadow: none;
            .bannerImage-3KhIJ6{
                &::before{
                    display: none;
                }
            }
        }
    }

    .scroller-RmtA4e{
        margin-left: 48px;
    }

    // Community stage notice
    .channelNotice-2bJINM{
        margin-left: 48px;
        padding-left: 16px;
    }

    // Channel tree root
    .containerDefault-3tr_sE,
    .containerDragBefore-1YqewQ{
        .wrapper-PY0fhH{
            height: 32px;
            padding-left: 36px;
            padding-right: 6px;
            color: $BaseHigh;
            &::before{
                content: "\E70D";
                position: absolute;
                left: 12px;
                @include FontIcon;
                font-size: 12px;
            }
            &:hover{
                background-color: $ListLow;
            }
            .icon-2yIBmh{
                display: none;
            }
            .name-3l27Hl{
                color: $BaseMedium;
                @include FontBody;
                text-transform: none;
            }

            &.collapsed-2-tg8y{
                &::before{
                    content: "\E76C";
                }
                .icon-WnO6o2{
                    display: none;
                }
            }
            &.muted-2JBAyG{
                .name-3l27Hl{
                    color: $alert;
                }
            }
        }
        // Add channel to tree button
        .children-L002ao{
            button[aria-label="Create Channel"]{
                opacity: .5;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    // Text Channel
    .containerDefault--pIXnN{
        &:hover{
            .wrapper-2jXpOf{
                background-color: $ListLow;
            }
            .content-1x5b-n{
                background-color: transparent;
            }
        }
        .wrapper-2jXpOf{
            height: 32px;
        }
        .content-1x5b-n{
            height: 32px;
            margin: 0 0 0 28px;
            padding: 0 8px 0 0;
            background-color: transparent;
            > svg{
                width: 16px;
                height: 16px;
                margin-right: 8px;
                color: $BaseMedium;
            }
            &:hover{
                background-color: transparent;
            }
            // Channel name
            .name-23GUGE{
                color: $BaseMedium;
                @include FontBody;
            }
        }
        // Muted channel
        .modeMuted-onO3r-{
            svg{
                filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
            }
            .name-23GUGE{
                color: $alert;
            }
        }
        // Selected channel
        .modeSelected-346R90{
            &::before{
                content: "";
                position: absolute;
                width: 2px;
                height: 16px;
                top: 50%;
                left: 4px;
                margin-top: -8px;
                background-color: $Accent;
                border-radius: 1px;
            }
            svg.icon-1DeIlz,
            .name-23GUGE{
                color: $Accent;
            }
        }
        // Unread channel
        .modeUnread-1qO3K1{
            // Unread dot
            .unread-2lAfLh{
                height: 16px;
                width: 2px;
                left: 4px;
                margin-top: -8px;
                background-color: $BaseHigh;
                border-radius: 0;
            }
            .content-1x5b-n > div > svg{
                color: $BaseHigh;
            }
            .name-23GUGE{
                color: $BaseHigh;
            }
        }

        // Connected to voice dot
        .modeConnected-3IsKId{
            &::before{
                content: "";
                position: absolute;
                width: 2px;
                height: 15px;
                top: 50%;
                left: 4px;
                margin-top: -8px;
                background-color: rgba(var(--voice), 1);
                border-radius: 1px;
            }
            svg.icon-1DeIlz,
            .name-23GUGE{
                color: rgba(var(--voice), 1);
            }
        }
        // Channel actions (instant invite, settings)
        .actionIcon-PgcMM2{
            color: $BaseMedium;
        }
        // Voice user popout open
        .selected-3t3Csj{
            .content-1Wq3SX{
                background-color: transparent;
                .username-3KYl0N{
                    color: $BaseHigh;
                }
            }
        }
    }

    // Voice channel
    .list-2luk8a{
        padding-left: 0;
    }
    // Voice user
    .voiceUser-1K6Xox{
        padding-left: 44px;
    }
    .userSmall-YJ5L9_{
        height: 30px;
        &:hover{
            background-color: $ListLow;
        }
        .avatarSmall-1PJoGO{
            width: 20px;
            height: 20px;
        }
    }
    .voiceUser-1K6Xox{
        &:hover .content-1Wq3SX{
            background-color: transparent;
        }
    }
    .content-1Wq3SX{
        margin: 0;
        .username-3KYl0N{
            color: $BaseHigh;
            @include FontBody;
        }
    }

    // Unread messages bar
    .container-35XQWE{
        left: 48px;
    }
}
