// Remove rounded corners on top-left and bottom-left
.platform-win{
    // Removes the gap between guilds and channel list
    .base-3dtUhz{
        left: 48px;
    }
    // Removes top-left rounded corner of the channels list
    .sidebar-2K8pFh{
        border-radius: 0;
    }
}

.theme-dark .sidebar-2K8pFh{
    // Header
    header{
        padding: 0 12px;
        background-color: transparent;
        box-shadow: none;
        font-weight: $fwheader;
        &:hover{
            background-color: transparent;
        }
        span{
            font-size: $fsheader;
            font-weight: $fwheader;
            line-height: 1.3;
        }
        // Remove guild level icon
        .guildIconContainer-E1JUVt{
            div[aria-label^="Level"],
            div[aria-label^="No Level"]{
                display: none;
            }
        }
    }
    // Server banned image
    .bannerImage-1jOskm{
        &::before{
            content: "";
            width: 100%;
            height: 135px;
            position: absolute;
            background-image: linear-gradient(transparent 0%, $b1 100%);
        }
    }

    // Channels background
    .container-PNkimc{
        background-color: $b1;
    }

    // Only show scrollbar when it's needed
    .scroller-2FKFPG{
        overflow-y: auto;
    }

    // Channel tree root
    .containerDefault-3GGEv_,
    .containerDragBefore-3Dzc5x{
        .wrapper-CU3qI5{
            height: 30px;
            padding-left: 36px;
            padding-right: 12px;
            color: #FFF;
            // Collapse icon
            .icon-WnO6o2{
                width: 7px;
                height: 7px;
                top: 9px;
                left: 18px;
                border-right: 1px solid #FFF;
                border-bottom: 1px solid #FFF;
                transform: rotate(45deg);
                path{
                    display: none;
                }
            }
            .name-IbjUBS{
                font-size: $fsui;
                font-weight: $fwui;
                line-height: 1.3;
                text-transform: none;
            }

            &.collapsed-4WdoJ7{
                .icon-WnO6o2{
                    top: 11px;
                    left: 18px;
                    transform: rotate(-45deg);
                }
            }
            &.muted-1NRuDm{
                .name-IbjUBS{
                    color: $alert;
                }
            }
        }
        // Add channel to tree button
        svg[name="PlusAlt"]{
            opacity: .5;
        }
    }

    // Text Channel
    .containerDefault-1ZnADq{
        &:hover{
            .wrapper-1ucjTd{
                background-color: $b3;
            }
            .content-3at_AU{
                background-color: transparent;
            }
        }
        .wrapper-1ucjTd{
            height: 30px;
        }
        .content-3at_AU{
            height: 30px;
            margin: 0 0 0 24px;
            padding: 0 8px 0 0;
            background-color: transparent;
            > svg{
                margin-right: 8px;
                color: rgba($color: #FFF, $alpha: .5);
            }
            &:hover{
                background-color: transparent;
            }
            // Channel name
            .name-3_Dsmg{
                color: rgba($color: #FFF, $alpha: .5);
                font-size: $fsui;
                font-weight: $fwui;
            }
        }
        // Muted channel
        .modeMuted-3osy7j{
            svg{
                filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
            }
            .name-3_Dsmg{
                color: $alert;
            }
        }
        // Selected channel
        .modeSelected-1zApJ_{
            &::before{
                content: "";
                position: absolute;
                width: 3px;
                height: 15px;
                top: 50%;
                margin-top: -8px;
                background-color: var(--accent);
            }
            svg.icon-1_QxNX,
            .name-3_Dsmg{
                color: var(--accent);
            }
        }
        // Unread channel
        .modeUnread-1zpFdA{
            // Unread dot
            .unread-3zKkbm{
                height: 15px;
                width: 3px;
                margin-top: -8px;
                background-color: #FFF;
                border-radius: 0;
            }
            .content-3at_AU > svg{
                color: #FFF;
            }
            .name-3_Dsmg{
                color: #FFF;
            }
        }

        // Connected to voice dot
        .modeConnected-2IEL4z{
            &::before{
                content: "";
                position: absolute;
                width: 3px;
                height: 15px;
                top: 50%;
                margin-top: -8px;
                background-color: var(--voice);
            }
            svg.icon-1_QxNX,
            .name-3_Dsmg{
                color: var(--voice);
            }
        }
        // Channel actions (instant invite, settings)
        .actionIcon-2Hi9ZG{
            color: rgba($color: #FFF, $alpha: .5);
        }
        // Badge
        .numberBadge-2s8kKX{
            min-width: 20px;
            min-height: 20px;
            background-color: #003b67 !important;
            border: 2px solid #1a4e76;
        }
        // Voice user popout open
        .selected-3TGCSZ{
            .content-3xS9Lh{
                background-color: transparent;
                .username-lm8y6T{
                    color: #FFF;
                }
            }
        }
    }

    // Voice channel
    // Voice user
    .userSmall-2t9H7n{
        height: 30px;
    }
    .voiceUser-14U_Ns{
        &:hover .content-3xS9Lh{
            background-color: transparent;
        }
    }
    .content-3xS9Lh{
        margin: 0;
        .usernameFont-aFalyR{
            color: rgba($color: #FFF, $alpha: 0.5);
            font-size: $fsui;
            font-weight: $fwui;
        }
    }
}
