// Remove rounded corners on top-left and bottom-left
.guilds-wrapper ~ div[class*="base-"]{
    border-radius: 0;
}

// Channel header
div[class^="channels-"] header{
    height: 40px;
    background-color: $b1;
    padding: 0 18px;
    border: 0;
    box-shadow: none;
    font-family: $font;
    font-weight: $fwheader;
    &:hover{
        background-color: $b4;
    }
}
div[class^="channels-"] header span{
    font-size: $fsheader;
}

// Channels bg
div[class^="channels-"] > div[class*="noWrap"]{
    background-color: $b1;
}
// Tree root
// Decrease padding between categories
div[class^="channels-"] div[class^="container-"]:not(.container-0) > div[class^="containerDefault"]:first-of-type{
    padding-top: 19px;
}
div[class^="channels-"] div[class^="container-"]:not(.container-0) > div > div[class^="containerDefault"]:first-of-type >,
div[class^="channels-"] div[class^="container-"]:not(.container-0) > div[class^="containerDefault"]:first-of-type >{
    & div[class*="wrapperDefault"],
      div[class*="wrapperHovered"],
      div[class*="wrapperCollapsed"],
      div[class*="wrapperMuted"]{
        padding-left: 38px;
    }
}

div[class^="channels-"] .container-1 > div ~ div[class^="containerDefault"] >,
div[class^="channels-"] div[class^="container-"]:not(.container-0) > div[draggable] ~ div[class^="containerDefault"] >,
div[class^="channels-"] div[class^="container-"]:not(.container-0) > div[class^="containerDefault"] ~ div[class^="containerDefault"] >{
    & div[class*="wrapperDefault"],
      div[class*="wrapperSelected"],
      div[class*="wrapperUnread"],
      div[class*="wrapperHovered"],
      div[class*="wrapperCollapsed"],
      div[class*="wrapperMuted"]{
        padding-left: 14px;
    }
}

div[class^="channels-"] div[class^="container-"] > div > div >,
div[class^="channels-"] div[class^="container-"] > div > div > div >{
    & div[class*="nameDefault"],
      div[class*="nameHovered"],
      div[class*="nameCollapsed"],
      div[class*="nameMuted"]{
        color: #FFF;
        font-size: $fsui;
        font-weight: 400;
        text-transform: none;
    }
}
div[class^="channels-"] div[class^="container-"] > div > div > div[class*="nameMuted"]{
    color: $alert;
}
// Arrow (pointing down)
div[class^="channels-"] div[class^="container-"] > div > div > div >,
div[class^="channels-"] div[class^="container-"] > div > div >,
div[class^="channels-"] div[class^="container-"] > div >{
    & svg[class^="iconDefault-"],
      svg[class^="iconHovered-"],
      div[class*="wrapperMuted"] > svg[class^="iconMuted-"]{
        width: 16px;
        height: 16px;
        left: 11px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEUAAAD///////////84wDuoAAAABHRSTlMAEDDg0PkRYQAAAClJREFUeAFjoA1gZEKwmZhABDNEBMKEUxgMDKVQAkkEykeIwPkIC8kGACyzAFxm5t42AAAAAElFTkSuQmCC);
    }
}
// Arrow (pointing right)
div[class^="channels-"] div[class^="container-"] > div > div > div >,
div[class^="channels-"] div[class^="container-"] > div > div >{
    & svg[class^="iconCollapsed-"],
      svg[class^="iconHoveredCollapsed-"],
      svg[class^="closed-"]{
        width: 16px;
        height: 16px;
        left: 11px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAElBMVEUAAAD///////////////////8+Uq06AAAABnRSTlMAEJ+gz9D4rCXUAAAAH0lEQVR4AWMgEjAyMaKJMLPQSISZlZGqfEZmOJ8wAAAxcABf9SknGQAAAABJRU5ErkJggg==);
        transform: none;
    }
}
// Hide default arrow
div[class^="channels-"] div[class^="container-"] > div > div > div >,
div[class^="channels-"] div[class^="container-"] > div > div >{
    & svg[class^="iconDefault-"] path,
      svg[class^="iconHovered-"] path,
      svg[class^="iconCollapsed-"] path,
      svg[class^="iconHoveredCollapsed-"] path,
      svg[class^="iconMuted-"] path{
        display: none;
    }
}

// All channels
div[class^="channels-"] div[class*="containerDefault"] div[class*="name-"]{
    font-size: $fsui;
    font-weight: $fwui;
}
// Normal channel state
div[class^="channels-"] div[class*="wrapperDefaultText"] > div[class*="contentDefaultText"] > div[class*="nameDefaultText"]{
    color: #999;   
}
//Hovered channel
div[class^="channels-"] div[class*="contentHoveredText"]{
    background-color: transparent;
}
div[class^="channels-"] div[class*="contentHoveredText"] > div[class*="nameHoveredText"]{
    color: #FFF;
}
div[class^="channels-"] div[class*="wrapperHoveredText"] > div[class*="unread"]{
    width: 4px;
    height: 17px;
    margin-top: -9px;
    background-color: var(--accent);
    border-radius: 0;
}
// Selected channel
div[class^="channels-"] div[class*="contentSelectedText"]{
    background-color: transparent;
}
div[class^="channels-"] div[class*="contentSelectedText"]::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    background-color: #FFF;
    transform: rotate(45deg);
}
div[class^="channels-"] div[class*="contentSelectedText"]:active{
    transform: initial;
}
div[class^="channels-"] div[class*="contentSelectedText"] > .margin-reset > svg{
    opacity: 1;
}
div[class^="channels-"] div[class*="contentSelectedText"] > div[class^="marginReset"] > svg{
    opacity: 1;
    color: #FFF;
}
div[class^="channels-"] div[class*="contentSelectedText"] div[class*="nameSelectedText"]{
    color: #FFF;
}
// Unread channel
div[class^="channels-"] div[class*="contentUnreadText"] > div[class^="marginReset"] > svg{
    opacity: 1;
    color: var(--accent);
}
div[class^="channels-"] div[class*="wrapperUnreadText"] > div[class*="contentUnreadText"] > div[class*="nameUnreadText"]{
    color: var(--accent);   
}
div[class^="channels-"] div[class*="wrapperUnreadText"] > div[class*="unread"]{
    width: 4px;
    height: 17px;
    margin-top: -9px;
    background-color: var(--accent);
    border-radius: 0;
}
// Muted channel
div[class^="channels-"] div[class*="contentMutedText"] > div[class^="marginReset"] > svg{
    opacity: .5;
    color: $alert;
}
div[class^="channels-"] div[class*="wrapperMutedText"] > div[class*="contentMutedText"] > div[class*="nameMutedText"]{
    color: $alert;
    opacity: .5;
}

//Voice Channel
div[class^="channels-"] div[class*="contentDefaultVoice"] > .margin-reset > svg,
div[class^="channels-"] div[class*="contentHoveredVoice"] > .margin-reset > svg,
div[class^="channels-"] div[class*="contentSelectedVoice"] > .margin-reset > svg{
    opacity: 1;
}
div[class^="channels-"] div[class*="contentDefaultVoice"] > .margin-reset > svg > path[class*="colorDefaultVoice"],
div[class^="channels-"] div[class*="contentHoveredVoice"] > .margin-reset > svg > path[class*="colorHoveredVoice"],
div[class^="channels-"] div[class*="contentSelectedVoice"] > .margin-reset > svg > path[class*="colorSelectedVoice"]{
    fill: #FFF;
}
div[class^="channels-"] div[class*="wrapperDefaultVoice"] > div[class*="contentDefaultVoice"] > div[class*="nameDefaultVoice"],
div[class^="channels-"] div[class*="wrapperLockedVoice"] > div[class*="contentLockedVoice"] > div[class*="nameLockedVoice"]{
    color: #FFF;
}
div[class^="channels-"] div[class*="wrapperSelectedVoice"] > div[class*="contentSelectedVoice"]:active,
div[class^="channels-"] div[class*="wrapperHoveredVoice"] > div[class*="contentHoveredVoice"]:active{
    background-color: transparent;
}

// Voice channel capacity
div[class^="channels-"] div[class*="wrapperDefaultVoice"] > div[class*="contentDefaultVoice"] > div[class*="noWrap"] > div > div[class*="wrapper"],
div[class^="channels-"] div[class*="wrapperHoveredVoice"] > div[class*="contentHoveredVoice"] > div[class*="noWrap"] > div > div[class*="wrapper"]{
    background-color: $b3;
    font-family: $mono;
    border-radius: 0;
    color: #FFF;
}

// New messages indicator
div[class^="channels-"] div[class^="bar-"]{
    border-radius: 0;
}
