// Remove rounded corners on top-left and bottom-left
.base-3dtUhz{
    border-radius: 0;
}

.theme-dark .channels-Ie2l6A{
    // Header
    header{
        padding: 0 12px;
        background-color: $b1;
        box-shadow: none;
        font-weight: $fwheader;
        &:hover{
            background-color: $b4;
        }
        span{
            font-size: $fsheader;
        }
    }

    // Channels background
    .container-PNkimc{
        background-color: $b1;
    }

    // Only show scrollbar when it's needed
    .scroller-2FKFPG{
        overflow-y: auto;
    }

    // Channel tree root
    .containerDefault-3GGEv_,
    .containerDragAfter-3TEhpe,
    .containerDragBefore-3Dzc5x,
    .containerUserOver-1Tcb7l{
        padding-top: 0;
        transition: none;
    }
    .wrapperCollapsed-3Fbxl6,
    .wrapperDefault-10Jfvz,
    .wrapperHovered-28fu1D,
    .wrapperHoveredCollapsed-1PADEo,
    .wrapperMuted-3KeA2M,
    .wrapperUnread-1JPWj3{
        height: 42px;
        padding-left: 29px;
    }
    .wrapperHovered-28fu1D,
    .wrapperHoveredCollapsed-1PADEo{
        background-color: $b4;
    }

    // Colapse icon
    .iconCollapsed-3hFp_8,
    .iconDefault-3Gr8d2,
    .iconHovered-2L3-fB,
    .iconHoveredCollapsed-3caIIZ,
    .iconMuted-1HVBGH,
    .iconUnread-2eGkvX{
        width: 9px;
        height: 9px;
        top: 16px;
        left: 10px;
        transform: rotate(45deg);
        path{
            display: none;
        }
    }
    .iconDefault-3Gr8d2,
    .iconHovered-2L3-fB{
        top: 14px;
    }
    // Collapse icon
    .directionDown-26e7eE{
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
    }
    // Collapsed icon
    .directionRight-O8AY4M{
        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
    }

    // Hide 'Create channel icon when category is not hovered
    .wrapperDefault-10Jfvz{
        &:hover{
            .addButton-1BORro{
                display: block;
            }
        }
        .addButton-1BORro{
            display: none;
        }
    }
    
    // Category name
    .nameCollapsed-34uFWo,
    .nameDefault-2DI02H,
    .nameHovered-1gxhWH,
    .nameHoveredCollapsed-2orEWB,
    .nameMuted-1MCOt4,
    .nameUnread-njOjIS{
        font-size: 15px;
        line-height: 42px;
        text-transform: none;
        vertical-align: middle;
    }
    .nameCollapsed-34uFWo,
    .nameDefault-2DI02H,
    .nameHovered-1gxhWH,
    .nameHoveredCollapsed-2orEWB,
    .nameUnread-njOjIS{
        color: #FFF;
        font-weight: normal;
    }

    // Muted category
    // De-emphasize muted categories
    .wrapperMuted-3KeA2M{
        opacity: .6;
    }
    // Collapse arrow
    .iconMuted-1HVBGH{
        border-color: $alert;
    }
    // Name
    .nameMuted-1MCOt4{
        color: $alert;
        font-weight: normal;
        text-decoration: line-through;
    }

    // CHANNELS
    // Channel
    .wrapper-KpKNwI{
        height: 32px;
    }
    .content-20Aix8{
        margin: 0;
        padding: 0 8px 0 12px;
        border-radius: 0;
    }
    .name-3M0b8v{
        font-size: $fsui;
        font-weight: $fwui;
    }
    .nameDefaultText-24KCy5,
    .nameDefaultVoice-3WUH7s,
    .nameLockedText-3pqQcL,
    .nameLockedVoice-26MhB1{
        color: rgba(255,255,255,.6);
    }
    
    // Remove background from selected channels
    .contentSelectedText-3wUhMi,
    .contentSelectedVoice-1WDIBM{
        background-color: transparent;
    }

    // Unread channel
    // Tab
    .unread-1Dp-OI{
        width: 4px;
        height: 14px;
        margin-top: -7px;
        background-color: #FFF;
        border-radius: 0;
    }
    // Icon
    .colorUnreadText-2t7XRb,
    .colorHoveredText-OZnAgu{
        color: #FFF;
        opacity: 1;
        path{
            opacity: 1;
        }
    }
    // Name
    .nameUnreadText-DfkrI4{
        color: #FFF;
    }

    // Selected channel
    // Tab
    .wrapperSelectedText-3dSUjC{
        &::before{
            content: "";
            width: 4px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: var(--accent);
        }
    }
    // Icon
    .colorSelectedText-1y4Wvs{
        color: var(--accent);
        opacity: 1;
        path{
            opacity: 1;
        }
    }
    // Name
    .nameSelectedText-sp_EUw{
        color: var(--accent);
    }

    // Muted channel
    // De-emphasize muted channels
    .wrapperMutedText-1YBpvv{
        opacity: .6;
    }
    // Icon
    .colorMutedText-36M8WR{
        color: $alert;
        opacity: 1;
        path{
            opacity: 1;
        }
    }
    // Name
    .nameMutedText-3Vj4bM{
        color: $alert;
        text-decoration: line-through;
    }
  
    // Connected voice channel
    // Tab
    .wrapperConnectedVoice-2mvQJY{
        &::before{
            content: "";
            width: 4px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: var(--voice);
        }
    }
    // Icon
    // Connected voice channel icon
    .colorConnectedVoice-3kyvUN{
        color: var(--voice);
        opacity: 1;
        path{
            opacity: 1;
        }
    }
    // Name
    .nameConnectedVoice-MHUX5F{
        color: var(--voice);
    }
    
    // Channel hover/active
    .contentHoveredText-2D9B-x,
    .contentHoveredVoice-3p_NEO{
        background-color: $b3;
    }
    .nameHoveredText-1uO31y{
        color: #FFF;
    }

    // Capacity Voice channel counter
    .wrapper-2NJDcI{
        background-color: $b3;
        color: rgba(255,255,255,.6);
        font-family: $mono;
        border-radius: 0;
    }
}
