.theme-dark .sidebar-2K8pFh .container-1giJp5{
    width: 144px;
    height: 48px;
    padding: 0;
    border: 0;
    margin-left: 96px;
    // Ping meter
    .rtcConnectionStatus-2-jIsi{
        width: 48px;
        height: 48px;
        position: relative;
        &:hover{
            background-color: $ListLow;
        }
        .ping-2NgC8E{
            padding: 14px;
        }
    }

    .labelWrapper-Pniq53{
        button{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 1;
            div{
                display: none;
            }
        }
    }

    .inner-tyMogq{
        position: relative;
    }
    .rtcConnectionStatus-2-jIsi ~ a{
        width: 16px;
        height: 16px;
        position: absolute;
        left: 20px;
        bottom: 10px;
        background-color: $ChromeMediumLow;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAB+gAAAfoBF4pEbwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEqSURBVFiF7dZPK0RRHMbxc5Wsp2iSlOy9AiXZoPyJsqEs7WwsZWM1C94A70FCKTsLkpcyFsrCvwkfizlTUzMYNfeezXw3Z3Gfer51fuecG0KPHv8A2yilKj9Q5x59RRZnOIrlr5hNVf6GuZTl86nKa1gprDwKVLTyiCrucIxNlPMoz3DYRqAdH7jCTB4ijWP3jkWUMIxJ7OA6CjS4xHieEkttvg/G7XqJuSes5Smx/ENmFCcx94W9bkvsN+35xi+5rXhqoNJtiY6uYqziM2bXuy3R0WOE3aaZGOuqRCeoH+XTKHFWuECUGMFzlJhOJdGYm/NUAuU4kDUMtcvk+mORZVk1hHATQugPISwULhC5iOtUKoHbuE4U0NVKnAN4SCUw0HhLkgj06PEX31IG0S3SIDUGAAAAAElFTkSuQmCC);
        background-size: 16px;
        background-position: center;
        border-radius: 50%;
        border-radius: 50%;
        font-size: 0;
        z-index: 2;
        &:hover{
            background-color: $safe;
        }
        div{
            display: none;
        }
    }

    // Go live buttons
    .actionButtons-14eAc_{
        width: 48px;
        height: 24px;
        position: absolute;
        bottom: 48px;
        left: 0;
        z-index: 1;
        margin-top: 0;
        display: unset;
        button{
            min-width: unset;
            min-height: unset;
            width: 24px;
            height: 24px;
            padding: 0 6px;
            background-color: transparent;
            border-radius: 0;
            font-size: 0;
            flex: unset;
            display: inline-block;
            margin: 0;
            min-width: unset;
            &:hover{
                background-color: $ListLow;
            }
            &[aria-label="Camera Unavailable"]{
                pointer-events: none;
            }
            .buttonIcon-Od8mYw{
                width: 16px;
                height: 16px;
                margin-right: 0; // icon position fixes because we're hiding the button text
                margin-left: -2px;
            }
        }
    }


    // Buttons
    .button-14-BFJ{
        width: 48px;
        height: 48px;
        color: #FFF;
        border-radius: 0;
        &:hover{
            background-color: $ListLow;
        }
        &::before{
            @include FontIcon;
            font-size: 16px;
        }
        .contents-18-Yxp{
            display: none;
        }
    }
    button[aria-label="Connection Info"]::before{
        content: "\E946";
    }
    button[aria-label="Disconnect"]::before{
        content: "\E89B";
    }
    button[aria-label^="Noise Suppression powered by Krisp"]::before{
        content: "\F61F";
    }
    button[aria-label^="Change Screen"]::before{
        content: "\EC19";
    }
}
