div[class^="channels-"] .container-1UB9sr{
    background-color: $b1;
    border-top: 0;
    border-bottom: 0;
    a[class^="channel-"]{
        line-height: 1.3;
    }
    .buttonInfo-3nkbOt,
    .buttonDisconnect-3W_SJc{
        width: 40px;
        height: 40px;
        border-radius: 0;
        &:hover{
            background-color: $b3;
        }
    }
}

.theme-dark .listeningAlong-2UPsxf{
    background-color: $b1
}
