.theme-dark .container-1giJp5{
    padding: 0 0 0 8px;
    border-bottom: 0;

    // Change user avatar to monochrome when muted
    .avatarContainer-2LLZwy{
        position: relative;
    }
    .avatarContainer-2LLZwy{
        .avatarIconOverlay-2nbU5G{
            backdrop-filter: saturate(0);
            path{
                display: none;
            }
        }
        &::after{
            @include FontIcon;
            position: absolute;
            top: 5px;
            left: 6px;
            color: white;
        }
    }
    .avatarContainer-2LLZwy[aria-label*="Muted"]{
        &::after{
            content: "\EC54";
        }
    }
    .avatarContainer-2LLZwy[aria-label*="Deafened"]{
        &::after{
            content: "\E74F";
        }
    }

    // Connection
    .button-14-BFJ{
        width: 48px;
        height: 48px;

    }

    // Webcam/screen share options
    .actionButtons-14eAc_{
        margin: 0 8px 8px 0;
        .button-14-BFJ,
        .button-38aScr{
            width: auto;
            background-color: transparent;
            border: 1px solid $ListLow;
            &:hover{
                background-color: $ListLow;
            }
            svg{
                display: none;
            }
        }

    }
}


html[lang^="en-"].theme-dark .container-1giJp5{
    .button-14-BFJ{
        .contents-18-Yxp{
            display: none;
        }
        &::before{
            @include FontIcon;
                font-size: 16px;
        }
        // Icon replcements
        &[aria-label="Disconnect"]::before,
        &[aria-label="Exit Quietly"]::before{
            content: "\E89B";
        }
        &[aria-label^="Noise suppression powered by Krisp"]::before,
        &[aria-label^="Noise Suppression powered by Krisp"]::before{ // US
            content: "\F61F";
        }
    }

    .actionButtons-14eAc_{
        // Icon replcements
        button[aria-label="Disconnect"]::before,
        button[aria-label="Exit Quietly"]::before{
            content: "\E89B";
        }
        button[aria-label^="Noise suppression powered by Krisp"]::before,
        button[aria-label^="Noise Suppression powered by Krisp"]::before{ // US
            content: "\F61F";
        }
    }
}
