.theme-dark{
    .standardSidebarView-3F1I7i{
        .contentColumnDefault-1VQkGM{
            padding: 24px;
        }
        .contentRegionScroller-26nc1e{
            background-color: #000;
        }

        // Titles
        h2[class*="title-"]{
            color: #FFF;
            font-size: 27px;
            font-weight: 300;
            text-transform: none;
        }
        // Sub section header
        h5[class*="title-"]{
            color: #FFF;
            font-size: 20px;
            font-weight: 300;
            text-transform: none;
        }
        // Description
        div[class^="description"]{
            color: #FFF;
            @include FontBody;
        }

        // My Account
        // User Info
        .background-1QDuV2{
            padding: 0;
            background-color: transparent;
            border-radius: 0;
        }
        .fieldList-21DyL8{
            padding: 12px;
            background-color: $ChromeLow;
            border-radius: 4px;
        }
        .field-1HUseB{
            h5{
                @include FontBody;
            }
            .size16-1P40sf{
                @include FontBody;
            }
        }

        // Connections
        // Connection services
        .accountList-33MS45{
            background-color: $ChromeLow;
            border-radius: 4px;
            h5{
                @include FontSubtitle;
            }
            .connectedAccounts-2-XP1G{
                justify-content: space-between;
                .accountBtn-2Nozo3{
                    margin: 0;
                    border-radius: 2px;
                }
            }
        }
        .connectionList-3pzR-1{
            .connection-1fbD7X{
                background-color: $ChromeLow;
                border-radius: 4px;
                .connectionHeader-2MDqhu{
                    border-radius: 4px 4px 0 0;
                }
            }
        }

        // Keybinds
        div[class*="keybindGroup"]{
            padding: 20px;
            div[class*="removeKeybind"]{
                top: 4px;
                right: 4px;
                background-color: transparent;
                box-shadow: none;
                filter: grayscale(100%) brightness(200%);
            }
        }

        // Games
        // Now playing card
        .activeGame-14JI7o{
            // No game detected
            &.notDetected-33MY4s{
                background-color: #101010;
                border-radius: 0;
                .gameName-1RiWHm{
                    color: #FFF;
                    @include FontBody;
                }
                .lastPlayed-3bQ7Bo{
                    display: none;
                }
            }
            // Game Detected
            .nowPlaying-284llR{
                padding: 20px;
                border-radius: 0;
                .lastPlayed-3bQ7Bo{
                    @include FontBody;
                }
            }
        }

        // Streamer mode enabled warning
        div[class^="streamerModeEnabled-"]{
            align-items: baseline;
            &::before{
                content: "Streamer Mode enabled";
                color: #FFF;
                font-size: 27px;
                font-weight: 300;
            }
            div[class^="streamerModeEnabledImage-"]{
                width: auto;
                height: auto;
                margin-top: 20px;
                background-image: none;
                &::before{
                    content: "Some settings are hidden because streamer mode is enabled.";
                    color: #FFF;
                }
            }
            div[class^="streamerModeEnabledBtn"]{
                height: 32px;
                margin-top: 12px;
                padding: 7px 12px 10px;
                border: 0;
                border-radius: 2px;
                font-size: 0;
                font-weight: 400;
                line-height: 1;
                text-transform: none;
                &:hover{
                    background-color: $ListLow;
                }
                &::before{
                    content: "Go to Streamer Mode settings";
                    @include FontBody;
                }
            }
        }

        // Server settings roles list
        .scroller-305q3I{
            background-color: #000;
        }
        div[class^="side"]{
            div[class^="header"]{
                color: #FFF;
                @include FontBody;
                text-transform: none;
            }
            div[class*="item"]{
                border-radius: 0;
                font-weight: normal;
            }
            div[class*="itemDefaultSelected"]{
                background-color: $Accent;
            }
        }

        // Audit log
        .contentRegion-3nDuYy{
            background-color: #000;
        }
        div[class*="auditLog-"]{
            border: none;
            border-radius: 0;
            div[class^="divider-"]{
                display: none;
            }
            div[class^="changeStr-"]{
                line-height: 1.333;
            }
        }

        // Members
        .role-2irmRk{
            border-width: 2px;
            @include FontCaption;
        }

        // UI COMMONS
        // Warnings
        div[class^="ghostPill"]{
            background-color: transparent;
            padding: 0;
            color: #FF0;
            @include FontBody;
            line-height: 1;
        }

        // Cards
        div[class*="cardPrimary"]{
            background-color: #101010;
            border: 0;
            border-radius: 0;
            h5{
                @include FontBody;
            }
            div[class*="desc"]{
                color: #FFF;
            }
        }

        // No content warning
        div[class^="image-"] ~ div{
            h4{
                color: #FFF;
                @include FontSubtitle;
                text-transform: none;
                ~ div[class^="text-"]{
                    color: #FFF;
                }
            }
        }

        // Save alert
        .noticeRegion-1YviSH{
            div[class^="container-"]{
                border-radius: 0;
                div[class^="message-"]{
                    @include FontBody;
                }
            }
            button{
                padding: 8px 12px 10px;
            }
        }
    }
}

// Images removal
// US = User settings, CS = Channel settings, SS = Server Settings
img[src="/assets/cdea41ede63f61153e4a3c0531fa3873.svg"],    // US: 2FA
div[style*="/assets/b47564b3086d0d8d941aae95a4b7b78c.svg"], // US: Authorised Apps
div[style*="/assets/e9aaf1824f17126a7992e5ad98752389.svg"], // US: Connections
div[style*="/assets/f3bb89a27e9d102f748da035cd7e5df7.svg"], // US: Keybinds
div[style*="/assets/d01c53acda73318e5b39676ef8242eb7.svg"], // US: Games
img[src="/assets/616e078b351d0df460971441949c53a3.svg"],    // US: Streamer Mode
div[style*="/assets/99253cefda98913b1e9f7d155ad81ed3.svg"], // SS: Audit Log
div[style*="/assets/59c726954bd8424f376ca3a7eedc4c54.svg"], // SS: Integration
div[style*="/assets/a7371de3223292c6f31f8aeed62f17c1.svg"], // SS: Emoji
div[style*="/assets/97b178f31f0ec28b41387b78891d5b7a.svg"], // SS/CS: Webhooks
div[style*="/assets/712a0fd4d14a1caadd31cb0745e91238.svg"], // SS/CS: Invites
div[style*="/assets/789de85a973b1d974a21aa03c1e14323.svg"], // SS: Bans
img[src="/assets/bfffd518c76d3f6bc5e96eb52e4ae2cf.svg"]{    // CS: Overview
    display: none;
}
