.ui-standard-sidebar-view .content-column.default{
    padding: 26px 15px 0 0;
}
.theme-light .ui-standard-sidebar-view .sidebar-region,
.theme-light .ui-standard-sidebar-view .content-region,
.theme-dark .ui-standard-sidebar-view .content-region{
    background-color: #000;
}

// Headers
// This gets most headers, but some others need to be targetted manually
.user-settings-account > h2,
.ui-standard-sidebar-view .content-column.default > div > h2{
    color: #FFF;
    font-size: 27px;
    font-weight: 300;
    text-transform: none;
}
// User security
.user-settings-security > h5{
    color: #FFF !important;
    font-size: 27px;
    font-weight: 300;
    text-transform: none;
}

// Descriptions
.theme-dark div[class^="description-"]{
    color: #FFF;
    font-weight: normal;
}

// 2FA status text (ie. "Two-Factor Authentication enabled")
.user-settings-security div[class^="flexChild"] > div > h5{
    font-size: $fsui;
    font-weight: $fwui;
    text-transform: none;
}

// NITRO
.premium-settings .premium-header .premium-logo{
    color: #FFF;
    font-size: 27px;
    font-weight: 300;
    line-height: 1;
    text-indent: 0;
}

// Sub headers
.user-settings-security > h5,
.ui-standard-sidebar-view .content-column.default .margin-bottom-40 > h5{
    color: #FFF;
    font-size: $fsheader;
    font-weight: $fwheader;
    text-transform: none;
}
.user-settings-security > h5{
    color: #FFF !important;
}

// NITRO
.premium-settings .premium-header .premium-logo{
    width: auto;
    height: auto;
    background-image: none;
}
.theme-dark .premium-settings .premium-header.splash{
    height: auto;
    background-image: none;
    border: 0;
}
.premium-settings .premium-header .premium-splash-wumpus{
    display: none;
}

// Warnings
// Overlay warning
div[class*="cardWarning-"]{
    padding: 0;
    background-color: transparent;
    border: 0;
}
.theme-dark div[class*="cardWarning-"] > div > div > div{
    color: #FF0;
}
.theme-dark div[class*="cardWarning-"] > div > div > div a{
    font-weight: normal;
}
// Keybinds warning
.user-settings-keybinds .ghost-pill{
    background-color: transparent;
    padding: 0;
    color: #FF0;
    font-size: $fsui;
    line-height: 1;
}

// Cards
// Main Cards
.theme-dark div[class*="cardPrimary"]{
    background-color: #101010;
    border: 0;
    border-radius: 0;
}
.theme-dark .ui-hover-card:before{
    background-color: #191919;
    border: 0;
}
.theme-dark div[class*="cardPrimary"] h5{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    text-transform: none;
}
.theme-dark div[class*="cardPrimary"] div[class*="desc"]{
    color: #FFF;
}
// Keybind card
.user-settings-keybinds .keybind-group{
    padding-left: 8px;
    padding-right: 8px;
}
// Now playing
.theme-dark .user-settings-games .not-detected,
.theme-light .user-settings-games .not-detected{
    background-color: $b4;
}
.user-settings-games .now-playing{
    border-radius: 0;
}
// Game
.user-settings-games .game{
    padding: 20px;
}
// Remove icon
.user-settings-keybinds .remove-keybind,
.user-settings-games .game .remove-game{
    right: -12px;
}
// Hovered card
.ui-hover-card:before{
    right: 0;
    left: 0;
    border-radius: 0;
}

// Roles list
.theme-dark div[class^="side"] div[class^="header"]{
    color: #FFF;
    font-size: $fsui;
    text-transform: none;
}
div[class^="side"] div[class*="item"]{
    border-radius: 0;
    font-weight: normal;
}
div[class^="side"] div[class*="itemDefaultSelected"]{
    background-color: var(--accent);
}

// Images removal
// US = User settings, CS = Channel settings, SS = Server Settings
img[src="/assets/cdea41ede63f61153e4a3c0531fa3873.svg"], // US: 2FA
div[style*="/assets/b47564b3086d0d8d941aae95a4b7b78c.svg"], // US: Authorised Apps
div[style*="/assets/e9aaf1824f17126a7992e5ad98752389.svg"], // US: Connections
div[style*="/assets/f3bb89a27e9d102f748da035cd7e5df7.svg"], // US: Keybinds
div[style*="/assets/d01c53acda73318e5b39676ef8242eb7.svg"], // US: Games
img[src="/assets/616e078b351d0df460971441949c53a3.svg"],    // US: Streamer Mode
img[src^="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMzZ2MzZIMHoiLz4KICAgIDxwYXRoIGZpbGw9IiM0M0I1ODEiIGQ9Ik0xOS4zMDUgMjIuNjA1bC0zLjgxLTMuNzY1LjA0NS0uMDQ1YzIuNjEtMi45MSA0LjQ3LTYuMjU1IDUuNTY1LTkuNzk1SDI1LjVWNkgxNVYzaC0zdjNIMS41djNoMTYuNzU1Yy0xLjAwNSAyLjg4LTIuNTk1IDUuNjI1LTQuNzU1IDguMDI1LTEuMzk1LTEuNTQ1LTIuNTUtMy4yNC0zLjQ2NS01LjAyNWgtM2MxLjA5NSAyLjQ0NSAyLjU5NSA0Ljc1NSA0LjQ3IDYuOD"],
div[style*="/assets/99253cefda98913b1e9f7d155ad81ed3.svg"], // SS: Audit Log
div[style*="/assets/59c726954bd8424f376ca3a7eedc4c54.svg"], // SS: Integration
div[style*="/assets/a7371de3223292c6f31f8aeed62f17c1.svg"], // SS: Emoji
div[style*="/assets/97b178f31f0ec28b41387b78891d5b7a.svg"], // SS/CS: Webhooks
div[style*="/assets/712a0fd4d14a1caadd31cb0745e91238.svg"], // SS/CS: Invites
div[style*="/assets/789de85a973b1d974a21aa03c1e14323.svg"], // SS: Bans
img[src="/assets/bfffd518c76d3f6bc5e96eb52e4ae2cf.svg"]{    // CS: Overview
    display: none;
}
