// Form labels
.theme-dark .ui-form-item > h5{
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    text-transform: none;
}

// Text boxes
.theme-dark div[class^="inputWrapper"] > input[type="text"],
.theme-dark div[class^="inputWrapper"] > input[type="password"]{
    height: 36px;
    border: 1px solid $inputborder;
    border-radius: 0;
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        border-color: var(--accent);
        color: #000;
    }
}

// Textarea (channel settings motd)
.theme-dark div[class^="inputWrapper"] > div[class^="inputMaxLength"] > textarea{
    border: 1px solid $inputborder;
    border-radius: 0;
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        border-color: var(--accent);
        color: #000;
    }
}
.theme-dark div[class^="inputWrapper"] > div[class^="inputMaxLength"] > div[class^="maxLength"]{
    font-family: $mono;
}

// Server settings Members, Bans search box
.theme-dark .searchBar-1MOL6S{
    position: relative;
    background-color: transparent;
    input{
        height: 36px;
        border: 1px solid $inputborder;
        border-radius: 0;
        font-size: $fsui;
        &::-webkit-input-placeholder{
            color: rgba(255,255,255,.5);
        }
        &:hover{
            border-color: $inputborderhover;
        }
        &:focus{
            background-color: #FFF;
            border-color: var(--accent);
            color: #000;
            &::-webkit-input-placeholder{
                color: rgba(0,0,0,.5);
            }
        }
    }
    div[class^="searchBarIcon-"]{
        position: absolute;
        top: 4px;
        right: 4px;
    }
}

// Dropdown
.theme-dark div[class^="select-"]{
    .Select{
        font-size: $fsui;
    }
    .Select-control{
        min-height: 36px;
        padding: 0;
        background-color: transparent;
        border: 1px solid $inputborder;
        border-radius: 0;
        color: #FFF;
        &:hover{
            border-color: $inputborderhover;
        }
        div{
            padding-top: 0;
        }
    }
    .Select.is-disabled .Select-control{
        &:hover{
            border-color: rgba($color: #FFF, $alpha: 0.13);
        }
    }
    .is-open .Select-control{
        background-color: var(--accent);
        border-color: $inputborderhover;
    }
    .Select-menu-outer{
        margin: 0;
        background-color: $b1;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        .Select-menu{
            border-radius: 0;
            .Select-option{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.is-selected{
                    background-color: transparent;
                }
                &.is-focused{
                    background-color: var(--accent);
                }
                &:last-of-type{
                    border-radius: 0;
                }
            }
        }
    }
}

// Keybind record
h5 ~ div[class^="container-"][class*="container-"]{
    border: 1px solid $inputborder;
    border-radius: 0;
    input{
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
    }
    div > button{
        padding: 4px 12px 10px;
        border: 1px solid $inputborder;
        border-radius: 0;
        font-weight: normal;
    }
}

// Buttons
// DEBUG - THIS CODE IS CAUSING CONFLICTS WITH OTHER UNRELATED ELEMENTS
// button[class*="button-"]{
//     padding: 9px 12px 10px;
//     font-size: 15px;
//     line-height: 1.3333;
// }
button[class*="button-"][class*="sizeSmall-"],
button[class*="button-"][class*="sizeMedium-"],
button[class*="button-"][class*="sizeXlarge-"]{
    height: 36px;
    min-height: 36px;
}
// Branded button (eg. View Backup Codes or account deatils Edit)
button[class*="lookFilled-"][class*="colorBrand-"]{
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: 0;
    font-weight: normal;
    &:hover{
        background-color: var(--accent);
        border-color: $inputborder;
    }
    &:focus{
        border-color: $inputborderhover;
    }
}

// Branded buttons disabled (eg. Prune members modal)
button[class^="buttonBrandFilledDisabled"]{
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: 0;
    font-weight: normal;
}

// Green button (eg. account deatils Save)
button[class*="lookFilled-"][class*="colorGreen-"]{
    background-color: $safe;
    border: 1px solid transparent;
    border-radius: 0;
    font-weight: normal;
    &:hover{
        background-color: $safe;
        border-color: $inputborder;
    }
    &:focus{
        background-color: darken($safe, 10%);
        border-color: $inputborderhover;
    }
}

// Red outlined button (eg. Remove 2FA button)
button[class*="lookOutlined-"][class*="colorRed-"]{
    border-color: rgba($color: $alert, $alpha: 0.6);
    border-radius: 0;
    color: $alert;
    font-weight: normal;
    &:hover{
        background-color: rgba($color: $alert, $alpha: 0.6);
        border-color: $alert;
        color: #FFF;
    }
}

// Red filled (eg. Logout modal logout button)
button[class*="lookFilled"][class*="colorRed"]{
    background-color: $alert;
    border-radius: 0;
    color: #FFF;
    font-weight: normal;
    &:hover{
        background-color: darken($alert, 10%);
    }
}

// Link button (eg. account details Cancel)
button[class*="lookLink-"][class*="colorPrimary-"],
button[class*="lookLink-"][class*="colorGrey-"],
button[class*="lookLink-"][class*="colorBrand-"]{
    height: 36px;
    border: 1px solid $inputborder;
    border-radius: 0;
    color: #FFF;
    font-weight: normal;
    &:hover{
        background-color: rgba(255,255,255,.3);
        border-color: $inputborder;
    }
    &:hover div[class^="contents-"]{
        background-image: none !important;
    }
    &:focus{
        background-color: #FFF;
        color: #000;
        border-color: $inputborderhover;
    }
}

// Primary outlined (eg. Nitro $4.99/month button)
button[class*="lookOutlined"][class*="colorPrimary"],
button[class*="lookOutlined"][class*="colorWhite"],
.theme-dark button[class^="buttonPrimaryOutlinedDefault"]{
    border: 1px solid $inputborder;
    border-radius: 0;
    font-weight: normal;
    &:hover{
        border-color: $inputborderhover;
    }
    &:focus{
        border-color: $inputborderhover;
    }
}

// Primary filled button (eg. Trust this domain cancel button)
.theme-dark button[class*="lookFilled-"][class*="colorPrimary-"]{
    background-color: transparent;
    border: 1px solid $inputborder;
    border-radius: 0;
    font-weight: normal;
    &:hover{
        background-color: transparent;
        border-color: $inputborderhover;
    }
    &:focus{
        border-color: $inputborderhover;
    }
}

// Game list - Unverified game textbox
.theme-dark .user-settings-games .game-name-input{
    height: 36px;
    border: 1px solid $inputborder;
    border-radius: 0;
    font-weight: normal;
    &:hover{
        background-color: transparent;
        border-color: $inputborderhover;
    }
    &:focus{
        background-color: #FFF;
        border-color: var(--accent);
        color: #000;
    }
}
// Game card
.theme-dark .user-settings-games .game{
    box-shadow: 0 1px 0 0 rgba($color: #FFF, $alpha: 0.1);
}
.theme-dark div[class*="card"][class*="card-"]::before{
    left: 0;
    right: 0;
    background-color: rgba($color: #FFF, $alpha: 0.1);
    border: 0;
    border-radius: 0;
}

// Checkboxes
.theme-dark label[class^="checkboxWrapper"] input[type="checkbox"] ~ div[class^="checkboxBox"]{
    border-color: $inputborder;
    border-radius: 0;
}
.theme-dark label[class^="checkboxWrapper"] input[type="checkbox"] ~ div[class*="checked"]{
    background-color: var(--accent);
    border-color: var(--accent);
    border-radius: 0;
}
.theme-dark label[class^="checkboxWrapper"] input[type="checkbox"] ~ div[class^="checkbox"][class*="box-"]{
    border-radius: 0;
}
// Checkmark
.theme-dark label[class^="checkboxWrapper"] input[type="checkbox"] ~ div[class*="checked"] > svg > g > polyline{
    stroke: #FFF;
    stroke-width: 2px;
}

// Toggle switch
div[class*="switchEnabled-"]{
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid $inputborder;
    box-sizing: border-box;
    &:hover{
        border-color: $inputborderhover;
    }
}
div[class*="switchEnabled-"]::after{
    width: 10px;
    height: 10px;
    box-shadow: none;
}
div[class*="switchEnabled-"]:active::after{
    width: 10px !important;
    left: 0 !important;
}
div[class*="valueChecked"]{
    background-color: var(--accent) !important;
    border: 2px solid transparent;
    &:hover{
        border-color: $inputborderhover;
    }
}
// Toggle switch (disabled)
div[class*="switchDisabled-"]{
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.2);
    box-sizing: border-box;
    &:hover{
        border-color: rgba(255,255,255,.2);
    }
}
div[class*="switchDisabled-"]::after{
    width: 10px;
    height: 10px;
    box-shadow: none;
}
// Connection switch
div[class^="connection-"] div[class*="themeClear-"][class*="valueUnchecked"]{
    box-shadow: none;
}

// Radio
div[class^="radioGroup"] div[style*="rgb(114, 137, 218)"]{
    background-color: #101010 !important;
    border: 1px solid var(--accent) !important;
    border-radius: 0;
}
label[class^="checkboxWrapper"] ~ div[class^="info"] div[class^="title"]{
    font-size: $fsui;
    font-weight: $fwui;
}

// Slider
div[class^="slider"] div[class^="track"] div[class^="grabber"]{
    width: 8px;
    height: 24px;
    margin-top: -15px;
    background-color: var(--accent);
    border: 0;
    border-radius: 4px;
    box-shadow: none;
}
div[class^="slider"]:hover div[class^="track"] div[class^="grabber"]{
    background-color: #FFF;
}
div[class^="slider"] div[class^="bar"]{
    height: 2px;
    background-color: #666;
}
div[class^="slider"]:hover div[class^="bar"]{
    background-color: #999;
}
div[class^="slider"] div[class^="bar"] div[class^="barFill"]{
    background-color: var(--accent);
}
div[class^="slider"] div[class^="track"] div[class^="grabber"] span[class^="bubble"]{
    height: auto;
    top: -42px;
    padding: 7px 8px 8px;
    background-color: $b1;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0;
    line-height: 1;
}
div[class^="slider"] div[class^="track"] div[class^="grabber"] span[class^="bubble"]::before{
    display: none;
}

// Allow/Passthrough/Deny permissions button group
div[class^="group"] button[class^="item"]{
    border-color: $inputborder;
    border-radius: 0;
    &:hover{
        border-color: $inputborderhover;
    }
}
div[class^="group"] button[class*="denySelected"]{
    background-color: $alert;
    border-color: $alert;
}
div[class^="group"] button[class*="passthroughSelected"]{
    background-color: #505050;
    border-color: #505050;
}
div[class^="group"] button[class*="allowSelected"]{
    background-color: $safe;
    border-color: $safe;
}

// Copy box
.theme-dark div[class^="copyInputDefault"]{
    height: 36px;
    background-color: transparent;
    border: 1px solid $inputborder;
    border-radius: 0;

    input{
        font-size: $fsui;
    }
    button{
        background-color: transparent;
        border: 1px solid $inputborder;
        border-radius: 0;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
    }
}
.theme-dark div[class^="copyInputSuccess"]{
    height: 36px;
    background-color: transparent;
    border: 1px solid $safe;
    border-radius: 0;
    button{
        background-color: $safe;
        border: 1px solid $inputborder;
        border-radius: 0;
        color: #FFF;
        font-size: $fsui;
        font-weight: $fwui;
    }
}
