// Sidebar
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e{
    width: 320px;
    padding: 0 0 0 0;
}

// Left sidebar
.theme-dark .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN{
    flex: 0;
    background-color: $b1;
    // Sticky hover
    &::before{
        content: "";
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    div[class^="scroller-"]{
        overflow-y: auto;
    }
    .sidebar-CFHs9e{
        div[class^="side"] div[class^="header"]{
            display: none
        }
        div[class^="side"] div[class^="item"]{
            margin-bottom: 0;
            padding: 14px 16px;
            border-radius: 0;
            color: #FFF;
            font-size: $fsui;
            font-weight: $fwui;
            &:hover{
                background-color: rgba(255,255,255,0.15);
                cursor: default;
            }
        }
        // Nitro item
        div[class^="side"] div[class^="item"][style*="color: rgb(114, 137, 218)"]{
            color: #FFF !important;
            &:hover{
                background-color: rgba(255,255,255,0.15) !important;
            }
        }
        div[class^="side"] div[class^="item"][style*="color: rgb(114, 137, 218)"][class*="selected-"]{
            background-color: transparent !important;
            color: var(--accent) !important;
            &:hover{
                background-color: rgba(255,255,255,0.15) !important;
            }
        }
        // Selected item
        div[class^="side"] div[class^="item-"][style*="background-color: rgb(114, 137, 218);"],
        div[class^="side"] div[class*="selected-"]{
            background-color: transparent !important;
            color: var(--accent) !important;
            &:hover{
                background-color: rgba(255,255,255,0.15) !important;
            }
        }
        div[class^="side"] div[class^="item-"][style*="background-color: rgb(114, 137, 218);"]::before,
        div[class^="side"] div[class*="selected-"]::before{
            content: "";
            width: 4px;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: var(--accent);
            margin-top: -10px;
        }
        // Logout item
        div[class^="side"] div[class^="item"][style*="color: rgb(240, 71, 71)"]{
            color: $alert !important;
        }
        div[class^="side"] div[class^="item"][style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392)"]{
            background-color: rgba(255,255,255,0.15) !important;
        }
        // Remove separators
        div[class^="side"] div[class^="separator"]{
            display: none;
        }
        // Social links
        div[class^="socialLinks-"]{
            display: none;
        }
    }
}
