// Sidebar
.ui-standard-sidebar-view .sidebar-region .sidebar{
    width: 320px;
    padding: 15px 0 0 0;
}

// Left sidebar
.theme-dark .ui-standard-sidebar-view .sidebar-region{
    flex: 0;
    background-color: #000;
}

// Remove Header
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="header"]{
    display: none
}

// Sidebar item
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="item"]{
    margin-bottom: 0;
    padding: 14px 16px;
    border-radius: 0;
    color: #FFF;
    font-size: $fsui;
    font-weight: $fwui;
    &:hover{
        background-color: rgba(255,255,255,0.15);
        cursor: default;
    }
}
// Nitro item
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="item"][style*="color: rgb(114, 137, 218)"]{
    color: #FFF !important;
}
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="item"][style*="color: rgb(114, 137, 218)"][class*="selected-"]{
    background-color: transparent !important;
    color: var(--accent) !important;
    &:hover{
        background-color: rgba(255,255,255,0.15) !important;
    }
}

// Selected item
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="itemBrandSelected"],
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="itemSelected"]{
    background-color: transparent;
    color: var(--accent);
    &:hover{
        background-color: rgba(255,255,255,0.15);
    }
}
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="itemBrandSelected"]::before,
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="itemSelected"]::before{
    content: "";
    width: 4px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--accent);
    margin-top: -10px;
}

// Logout item
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="item"][style*="color: rgb(240, 71, 71)"]{
    color: $alert !important;
}
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="item"][style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.0980392)"]{
    background-color: rgba(255,255,255,0.15) !important;
}

// Remove separators
.ui-standard-sidebar-view .sidebar-region .sidebar div[class^="side"] div[class^="separator"]{
    display: none;
}
