// Sidebar
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e{
    width: 320px;
    padding: 0 0 0 0;
}

// Left sidebar
.theme-dark .standardSidebarView-3F1I7i{
    background-color: transparent;
    .sidebarRegion-VFTUkN{
        flex: 0;
        .sidebarRegionScroller-3MXcoP{
            background-color: transparent;
        }
        // Sticky hover
        &::before{
            content: "";
            width: 5px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        div[class^="scroller-"]{
            overflow-y: auto;
        }
        .sidebar-CFHs9e{
            div[class^="side"] div[class^="header"]{
                margin-top: 16px;
                padding: 0 16px;
                color: $BaseMedium;
                font-weight: normal;
                line-height: 48px;
                .channelIcon-3IJ4o7{
                    top: 20px;
                }
            }
            div[class^="side"] div[class^="item"]{
                margin-bottom: 0;
                padding: 14px 48px;
                border-radius: 0;
                color: $BaseHigh;
                @include FontBody;
                &:hover{
                    background-color: $ListLow;
                    cursor: default;
                }
            }
            // Nitro item
            div[class^="side"] div[class^="item"][style*="color: rgb(114, 137, 218)"]{
                color: #FFF !important;
                &:hover{
                    background-color: $ListLow !important;
                }
            }
            div[class^="side"] div[class^="item"][style*="color: rgb(114, 137, 218)"][class*="selected-"]{
                background-color: transparent !important;
                color: $Accent !important;
                &:hover{
                    background-color: $ListLow !important;
                }
            }
            // Selected item
            div[class^="side"] div[class^="item-"][style*="background-color: rgb(114, 137, 218);"],
            div[class^="side"] div[class*="selected-"]{
                background-color: transparent !important;
                color: $Accent !important;
                &:hover{
                    background-color: $ListLow !important;
                }
            }
            div[class^="side"] div[class^="item-"][style*="background-color: rgb(114, 137, 218);"]::before,
            div[class^="side"] div[class*="selected-"]::before{
                content: "";
                width: 4px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 0;
                background-color: $Accent;
                margin-top: -12px;
            }
            // Logout item
            div[class^="side"] div[class^="item"][style*="color: rgb(240, 71, 71)"]{
                color: $BaseHigh !important;
            }
            div[class^="side"] div[class^="item"][style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.1)"]{
                background-color: $ListLow !important;
            }
            // Remove separators
            div[class^="side"] div[class^="separator"]{
                display: none;
            }
            // Social links
            div[class^="socialLinks-"]{
                display: none;
            }
            // Version info
            .info-1VyQPT{
                div{
                    color: $BaseMedium;
                }
            }
        }
    }
}

.theme-dark .layer-3QrUeG[aria-label="USER_SETTINGS"]{
    .sidebar-CFHs9e{
        .item-PXvHYJ{
            &::after{
                position: absolute;
                left: 16px;
                color: #FFF;
                @include FontIcon;
                font-size: 16px;
            }
        }
        .item-PXvHYJ:nth-child(2)::after{ // My account
            content: "\E77B";
        }
        .item-PXvHYJ:nth-child(3)::after{ // Privacy & safety
            content: "\EA18";
        }
        .item-PXvHYJ:nth-child(4)::after{ // Authorised apps
            content: "\E8D7";
        }
        .item-PXvHYJ:nth-child(5)::after{ // connections
            content: "\F0B9";
        }
        .item-PXvHYJ:nth-child(6)::after{ // Billing
            content: "\E8C7";
        }
        .item-PXvHYJ:nth-child(8)::after{ // Nitro
            content: "N";
            @include FontNormal;
        }
        .item-PXvHYJ:nth-child(9)::after{ // Nitro
            content: "\F133"
        }
        .item-PXvHYJ:nth-child(10)::after{ // Server Boost
            content: "\EC4A";
        }
        .item-PXvHYJ:nth-child(11)::after{ // Nitro
            content: "H";
            @include FontNormal;
        }

        .item-PXvHYJ:nth-child(14)::after{ // Overlay
            content: "\E720";
        }
        .item-PXvHYJ:nth-child(15)::after{ // Overlay
            content: "\E9A6";
        }
        .item-PXvHYJ:nth-child(16)::after{ // Notifications
            content: "\E91C";
        }
        .item-PXvHYJ:nth-child(17)::after{ // Keybinds
            content: "\E765";
        }
        .item-PXvHYJ:nth-child(18)::after{ // Game activity
            content: "\E7FC";
        }
        .item-PXvHYJ:nth-child(19)::after{ // Text and images
            content: "\EA69";
        }
        .item-PXvHYJ:nth-child(20)::after{ // Appearance
            content: "\E790";
        }
        .item-PXvHYJ:nth-child(21)::after{ // Streamer mode
            content: "\E93E";
        }
        .item-PXvHYJ:nth-child(22)::after{ // Language
            content: "\F2B7";
        }
        .item-PXvHYJ:nth-child(23)::after{ // Windows settings
            content: "\E8A9";
        }
        .item-PXvHYJ:nth-child(25)::after{ // Changelog
            content: "\E77C";
        }
        .item-PXvHYJ:nth-child(27)::after{ // Log out
            content: "\F3B1";
        }
    }
}
.theme-dark .layer-3QrUeG[aria-label="GUILD_SETTINGS"]{
    .sidebar-CFHs9e{
        .item-PXvHYJ{
            &::after{
                position: absolute;
                left: 16px;
                color: #FFF;
                @include FontIcon;
                font-size: 16px;
            }
        }
        .item-PXvHYJ:nth-child(2)::after{ // Overview
            content: "\F246";
        }
        .item-PXvHYJ:nth-child(3)::after{ // Roles
            content: "\EC1B";
        }
        .item-PXvHYJ:nth-child(4)::after{ // Emoji
            content: "\ED54";
        }
        .item-PXvHYJ:nth-child(5)::after{ // Moderation
            content: "\EC81";
        }
        .item-PXvHYJ:nth-child(6)::after{ // Audit Log
            content: "\E9D5";
        }
        .item-PXvHYJ:nth-child(7)::after{ // Integrations
            content: "\E774";
        }
        .item-PXvHYJ:nth-child(8)::after{ // Widget
            content: "\EA86";
        }
        .item-PXvHYJ:nth-child(9)::after{ // Server template
            content: "\E8C8"; // Copy
        }
        .item-PXvHYJ:nth-child(12)::after{ // Enable Community
            content: "\E902"; // Group
        }
        .item-PXvHYJ:nth-child(14)::after{ // Server boost status
            content: "\EC4A"; // SpeedHigh
        }

        .item-PXvHYJ:nth-child(17)::after{ // Members
            content: "\E716";
        }
        .item-PXvHYJ:nth-child(18)::after{ // Invites
            content: "\E8FA";
        }
        .item-PXvHYJ:nth-child(19)::after{ // Bans
            content: "\E8F8";
        }
        .item-PXvHYJ:nth-child(21)::after{ // Delete server
            content: "\E74D";
        }
    }
}
.theme-dark .layer-3QrUeG[aria-label="CHANNEL_SETTINGS"]{
    .sidebar-CFHs9e{
        .item-PXvHYJ{
            &::after{
                position: absolute;
                left: 16px;
                color: #FFF;
                @include FontIcon;
                font-size: 16px;
            }
        }
        .item-PXvHYJ:nth-child(2)::after{ // Overview
            content: "\F246";
        }
        .item-PXvHYJ:nth-child(3)::after{ // Permissions
            content: "\E8D7";
        }
        .item-PXvHYJ:nth-child(4)::after{ // Invites
            content: "\E8FA";
        }
        .item-PXvHYJ:nth-child(5)::after{ // Web hook
            content: "\E774";
        }
        .separator-gCa7yv ~ .item-PXvHYJ::after{ // Delete channel
            content: "\E74D";
        }
    }
}
.theme-dark .layer-3QrUeG[aria-label="RTC_DEBUG"]{
    .sidebar-CFHs9e{
        .item-PXvHYJ{
            &::after{
                position: absolute;
                left: 16px;
                color: #FFF;
                @include FontIcon;
                font-size: 16px;
            }
        }
        .item-PXvHYJ:nth-child(3)::after{ // Overview
            content: "\E804";
        }
        .item-PXvHYJ:nth-child(4)::after{ // Permissions
            content: "\E898";
        }
    }
}
