.theme-dark{
    // Common
    .button-38aScr{
        border-radius: 2px;
        @include FontBody;

        // Size
        &.sizeMedium-1AC_Sl,
        &.sizeLarge-1vSeWK,
        &.sizeXlarge-2yFAlZ{
            height: 32px;
            min-height: 32px;
        }

        // Outlined buttons
        &.lookOutlined-3sRXeN{
            border: 2px solid transparent;
            &.colorPrimary-3b3xI6,  // Server roles 'Clear Role Permissions'
            &.colorWhite-rEQuAQ{    // Webhook 'Edit'
                background-color: $BaseLow;
                border-color: transparent;
                color: $BaseHigh;
                &:hover{
                    background-color: $ListLow;
                }
                &:active{
                    background-color: $BaseMediumLow;
                }
            }
            &.colorRed-1TFJan{      // Remove 2FA
                color: $alert;
                border-color: $alert;
                &:hover{
                    background-color: $alert;
                    color: $BaseHigh;
                }
            }
        }

        // Filled buttons
        &.lookFilled-1Gx00P{
            &.colorPrimary-3b3xI6,
            &.colorGrey-2DXtkV{
                background-color: $BaseLow;
                color: $BaseHigh;
                &:hover{
                    background-color: $ListLow;
                }
            }
            &.colorBrand-3pXr91{
                background-color: $Accent;
                &:hover{
                    background-color: $ListAccentLow;
                }
                &:disabled{ // Add game, no option selected
                    &:hover{
                        background-color: $Accent;
                    }
                }
            }
            &.colorGreen-29iAKY{
                background-color: $safe;
                &:hover{
                    background-color: rgba($color: $safe, $alpha: 0.6);
                }
            }
            &.colorRed-1TFJan,
            &.actionRed-gYn8D3{
                background-color: $alert;
                &:hover{
                    background-color: rgba($color: $alert, $alpha: 0.6);;
                }
            }
        }

        // Link buttons
        &.lookLink-9FtZy-{
            &.colorPrimary-3b3xI6,
            &.colorGrey-2DXtkV{
                color: $BaseHigh;
                &:hover{
                    color: $BaseMedium;
                    .contents-18-Yxp{
                        background-image: none;
                    }
                }
                &:active{
                    color: $BaseMediumLow;
                }
            }
        }

        // Ghost
        // Edit keybind
        &.lookGhost-2Fn_0-{
            border: 2px solid transparent;
            &.colorGrey-2DXtkV,
            &.colorBrand-3pXr91{
                background-color: #333;
                color: $BaseHigh;
                &:hover{
                    border-color: $ListLow;
                }
            }
        }

        // Inverted
        &.lookInverted-2D7oAl{
            border: 2px solid transparent;
            &.colorBrand-3pXr91{
                background-color: $BaseLow;
                color: $BaseHigh;
                &:hover{
                    background-color: $ListLow;
                }
            }
            // Friend request button in user profile modal when spotify is playing
            &.colorGreen-29iAKY{
                background-color: $BaseLow;
                color: $BaseHigh;
                &:hover{
                    background-color: $ListLow;
                    color: $BaseHigh;
                }
                &:active{
                    background-color: $BaseMediumLow;
                }
            }
        }
    }

    // Pagination button
    // Location: Server discovery
    .pageButton-MknE-_{
        @include FontBody;
        // Back/Next buttons
        &.endButton-3wGL3C{
            background-color: $BaseLow;
            color: $BaseHigh;
            &:disabled{
                opacity: 1;
                background-color: $BaseLow;
                color: $BaseMediumLow;
            }
        }
        // Page numbers
        &.roundButton-2CW1Hh{
            width: 32px;
            height: 32px;
            margin: 0 2px;
            padding: 0;
            border-radius: 2px;
            &:hover{
                background-color: $ListLow;
            }
        }
        &.activeButton-1BJAiN{
            background-color: $Accent;
            &:hover{
                background-color: $ListAccentHigh;
            }
        }
    }

    // Button group
    .group-2dAfBy{
        background-color: $BaseLow;
        border-radius: 2px;
        .item-3T2z1R{
            border: 0;

            &.deny-3nAuT6,
            &.passthrough-1c2ewQ,
            &.allow-1PzSY3{
                img{
                    display: none;
                }
                &::before{
                    font-size: 16px;
                    @include FontIcon;
                }
            }


            &.deny-3nAuT6{
                &::before{
                    content: "\F78A"; // Cancel
                    color: $alert;
                }
                &.denySelected-1mh2mZ{
                    background-color: $alert;
                    &::before{
                        color: $BaseHigh;
                    }
                }
            }
            &.passthrough-1c2ewQ{
                &::before{
                    content: "\E9AE";
                    color: $BaseHigh;
                }
                &.passthroughSelected-1Eq0Kl{
                    background-color: $BaseLow;
                    &::before{
                        color: $BaseHigh;
                    }
                }
            }
            &.allow-1PzSY3{
                &::before{
                    content: "\F78C";
                    color: $safe;
                }
                &.allowSelected-25S_i5{
                    background-color: $safe;
                    &::before{
                        color: $BaseHigh;
                    }
                }
            }
        }
    }
}
