// Spec fix for #118
.theme-dark .layerContainer-yqaFcK{
    max-height: calc(100vh - 32px);
    top: 32px;
}

.theme-dark .contextMenu-HLZMGh{
    min-width: 256px;
    max-height: calc(100vh - 32px);
    overflow-y: scroll;
    padding: 0;
    background-color: $b2;
    border: 1px solid rgba($color: #FFF, $alpha: .5);
    border-radius: 0;

    .itemGroup-1tL0uz{
        border: 0;
        &::after{
            content: "";
            width: calc(100% - 16px);
            height: 1px;
            display: block;
            background-color: rgba($color: #FFF, $alpha: .3);
            margin: 8px;
        }
        &:last-child{
            margin-bottom: 8px;
            &::after{
                display: none;
            }
        }
        &:empty{
            display: none;
        }
    }

    .item-1Yvehc{
        &:hover{
            background-color: $b3;
        }
    }

    .itemSubMenu-1vN_Yn,
    .item-1Yvehc{
        &:last-child{
            margin-bottom: 8px;
        }
    }

    .itemBase-tz5SeC{
        margin: 0;
        border-radius: 0;
        color: #FFF;
        font-size: $fschat;
        font-weight: $fwui;
        &:first-child{
            margin-top: 8px;
        }
    }

    .caret-UIZBlm{
        width: 10px;
        height: 10px;
        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
        transform: rotate(45deg) translateX(-10px) translateY(10px);
        path{
            display: none;
        }
    }

    .grabber-3mFHz2{
        margin-top: -4px;
    }
}
