.theme-dark{
    // Input label
    .h5-18_1nd{
        margin-bottom: 4px;
        color: $BaseHigh;
        @include FontBody;
        text-transform: none;
    }

    // Standard one line text input
    .input-cIJ7To{
        background-color: transparent;
        border: 1px solid $BaseMedium;
        border-radius: 2px;
        color: $BaseHigh;
        @include FontBody;
        box-sizing: border-box;
        &.error-2O5WFJ{
            border-color: $alert;
            &::-webkit-input-placeholder{
                color: $alert;
            }
        }
        &:hover{
            border-color: $BaseMediumHigh;
        }
        &:focus{
            background-color: $ChromeWhite;
            border-width: 2px;
            border-color: $Accent;
            color: #000;
            &::-webkit-input-placeholder{
                color: $AltMedium;
            }
        }
        &::-webkit-input-placeholder{
            color: $BaseMedium;
            @include FontBody;
        }

        // States
        &.disabled-2BKQFm{
            background-color: $BaseLow;
            border-color: transparent;
            color: $BaseMediumLow;
        }

        // Sizing
        &.inputDefault-_djjkz{
            height: 32px;
            padding: 10px;
            &.textArea-1Lj-Ns{
                height: auto;
            }
        }

        // Special cases
        // Credit card input
        &.cardNumberInput-3vDUEy{
            height: 32px;
            padding: 10px;
            padding-left: 52px;
        }
    }

    // Dropdown
    .select-2TCrqx{
        // Disabled
        .css-13kbzi0-control{
            min-height: 32px;
            height: 32px;
            background-color: $BaseLow;
            border: 1px solid transparent;
            border-radius: 2px;
            @include FontBody;
            // Placeholder
            .css-1hwfws3{
                padding: 0 10px;
                .css-548n9r-singleValue{
                    margin: 0;
                    opacity: 1;
                    color: $BaseMediumLow;
                }
            }
            // Chevron
            .css-1wy0on6{
                .css-95pa8n-indicatorContainer{
                    padding: 4px;
                    opacity: 1;
                    color: $BaseMediumLow;
                }
            }
        }

        // Normal
        .css-15ejc46-control,
        .css-1yegjoj-control{ // Just modified, and closed
            min-height: 32px;
            height: 32px;
            background-color: $AltMediumLow;
            border: 1px solid $BaseMedium;
            border-radius: 2px;
            &:hover{
                background-color: $AltMedium;
                border-color: $BaseMediumHigh;
            }
            // Placeholder
            .css-1hwfws3{
                padding: 0 10px;
                .css-1k00wn6-singleValue{
                    margin: 0;
                    .title-1B76a1{
                        color: $BaseHigh;
                        @include FontBody;
                    }
                }
            }
            // Chevron
            .css-1wy0on6{
                .css-12qlrak-indicatorContainer,
                .css-1flfamv-indicatorContainer{ // Just modified, and closed
                    padding: 4px;
                    opacity: 1;
                    color: $BaseMediumLow;
                }
            }
        }
        // Opened
        .css-2yldzf-control{
            min-height: 32px;
            height: 32px;
            background-color: $ListAccentLow;
            border: 1px solid $BaseMedium;
            border-radius: 2px 2px 0 0;
            // Placeholder
            .css-1hwfws3{
                padding: 0 10px;
                .css-1k00wn6-singleValue{
                    margin: 0;
                    .title-1B76a1{
                        color: $BaseHigh;
                        @include FontBody;
                    }
                }
            }
            // Chevron
            .css-1wy0on6{
                .css-1flfamv-indicatorContainer{
                    padding: 4px;
                    opacity: 1;
                    color: $BaseMediumHigh;
                }
            }
        }

        // Menu
        .css-181m2lf-menu{
            margin-top: 0;
            background-color: $ChromeMediumLow;
            border-radius: 0 0 2px 2px;
            // Option
            .css-12o7ek3-option, // Currently selected
            .css-1aymab5-option, // Normal
            .css-1gnr91b-option{ // Hover
                min-height: 32px;
                height: 32px;
                padding: 0 10px;
                svg.icon-JJBzjE{
                    opacity: 1;
                    color: $BaseHigh;
                }
                .title-1B76a1{
                    color: $BaseHigh;
                    @include FontBody;
                }
                .subtitle-2yP_Eh{
                    color: $BaseMediumHigh;
                    @include FontCaption;
                    text-transform: none;
                }
            }
            // Currently selected option
            .css-12o7ek3-option{
                background-color: transparent;
                &:hover{
                    background-color: $ListAccentLow;
                }
            }
            // Hovered option
            .css-1gnr91b-option{
                background-color: $ListAccentLow;
            }
        }
    }

    // Dropdown type 2
    // Found in set custom status modal
    .select-1Pkeg4{
        padding: 5px 10px;
        border: 1px solid;
        border-radius: 2px;
        @include FontBody;

        &.selectClosed-2un0PJ{
            border-color: $BaseMedium;
            &:hover{
                border: 1px solid $BaseMediumHigh;
            }
        }
        &.selectOpen-hQuR6b{
            background-color: $ChromeWhite;
            border-color: $Accent;
            border-radius: 2px 2px 0 0;
            color: $ChromeBlackHigh;
        }
    }
    // Dropdown options are in a separte popout for some reason
    .popout-2sKjHu{
        background-color: $ChromeMediumLow;
        border-radius: 0 0 2px 2px;
        @include FontBody;
    }
    .optionLabel-2CkCZx{
        padding: 0 10px;
        line-height: 32px;
        &:hover{
            background-color: $ListLow;
        }
    }
    .optionActive-KkAdqq{
        background-color: $ListAccentLow;
    }

    // Record keybind
    .container-1nZlH6{
        height: 32px;
        background-color: $AltMediumLow;
        border: 1px solid $BaseMedium;
        border-radius: 2px;
        &.disabled-qocNLx{
            background-color: $BaseLow;
            &:hover{
                border-color: transparent;
            }
        }
        &:hover{
            border-color: $BaseMediumHigh;
        }
        &.recording-1H2dS7{
            background-color: $ListAccentLow;
            border-color: $BaseMediumHigh;
            input{
                color: $BaseHigh;
            }
        }
        input{
            color: $BaseMedium;
            @include FontBody;
        }
        .button-38aScr.lookGhost-2Fn_0-.colorGrey-2DXtkV{
            background-color: transparent;
            margin: 0 0 0 -2px;
            &:hover{
                border: 0;
            }
            // Replace keyboard icon
            .editIcon-13gaox{
                background-image: none;
                &::before{
                    content: "\E765";
                    @include FontIcon;
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }
    }

    // Slider
    .slider-1PF9SW{
        .bar-2Qqk5Z{
            height: 2px;
            background-color: $BaseMediumLow;
            border-radius: 0;
        }
        .barFill-23-gu-{
            background-color: $Accent;
        }
        .track-11EASc{
            right: 0;
            left: 0;
        }
        .grabber-3mFHz2{
            width: 20px;
            height: 20px;
            margin-top: -12px;
            margin-left: -10px;
            background-color: $Accent;
            border: 0;
            border-radius: 10px;
        }
        .bubble-3we2di{
            height: auto;
            padding: 7px 8px 8px;
            top: -42px;
            background-color: $ChromeMediumLow;
            border: 1px solid $BorderTransient;
            border-radius: 2px;
            color: #FFF;
            &::before{
                display: none;
            }
        }
        &:hover{
            .bar-2Qqk5Z{
                background-color: $BaseMedium;
            }
        }
        &:active{
            .grabber-3mFHz2{
                background-color: $ChromeHigh;
            }
        }
    }

    // Toggle switch
    .switchEnabled-V2WDBB{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 2px solid $BaseMedium;
        box-sizing: border-box;
        &:hover{
            border-color: $BaseMediumHigh;
        }
        &:active::after{
            width: 10px !important;
            left: 0 !important;
        }
        &::after{
            width: 10px;
            height: 10px;
            box-shadow: none;
        }
        &.valueChecked-m-4IJZ{
            background-color: $Accent !important;
            border: 2px solid transparent;
            &:hover{
                border-color: $BaseMedium;
            }
        }
    }
    .switchDisabled-3HsXAJ{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 2px solid $BaseMediumLow;
        box-sizing: border-box;
        &:hover{
            border-color: $BaseMediumLow
        }
        &::after{
            width: 10px;
            height: 10px;
            background-color: $BaseMediumLow;
            box-shadow: none;
        }
    }

    // Checkbox ('old type') (eg: Instant Invite modal)
    .checkbox-3kaeSU{
        .checkboxInner-3yjcPe{
            width: 20px;
            height: 20px;
            span{
                border: 2px solid $BaseMediumHigh;
                border-radius: 2px;
            }
            .checkboxElement-1qV33p:checked+span{
                background-color: $Accent;
                border-color: $Accent;
                &::after{
                    width: 6px;
                    height: 12px;
                    left: 4px;
                    border-width: 0 1px 1px 0;
                }
            }
            &:hover{
                span{
                    border-color: $BaseMedium;
                }
                .checkboxElement-1qV33p:checked+span{
                    border-color: $BaseMedium;
                }
            }
        }
    }

    // Radio button
    .radioGroup-1GBvlr{
        .item-26Dhrx{
            margin-bottom: 0;
            padding: 4px !important;
            background-color: transparent !important;
            border: 0;
            border-radius: 0;
            .checkbox-1ix_J3{
                width: 20px !important;
                height: 20px !important;
                border-width: 2px;
                border-color: $BaseMedium;
            }
            &:hover .checkbox-1ix_J3{
                border-color: $BaseMedium;
            }
            .box-mmYMsp{
                border-radius: 50%;
            }
            .checked-3_4uQ9{
                background-color: $Accent;
                border-color: $Accent !important;
                &::before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-color: $BaseHigh;
                    border-radius: 50%;
                }
            }
            svg{
                display: none;
            }
            .title-3BE6m5{
                @include FontBody;
            }
        }
        .item-26Dhrx[style*="background-color: rgb(114, 137, 218)"]{
            background-color: transparent !important;
        }
    }

    // Copy box
    .copyInput-2rOSt7{
        height: 32px;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        input{
            background-color: $AltMediumLow;
            border: 1px solid $BaseMedium;
            border-radius: 2px;
            @include FontBody;
            color: $BaseHigh;
            &:hover{
                background-color: $AltMedium;
                border-color: $BaseMediumHigh;
            }
            &:focus{
                background-color: $ChromeWhite;
                border-width: 2px;
                border-color: $Accent;
                color: $ChromeBlackHigh;
            }
        }
        button{
            margin: 0;
        }
    }

    // Member/bans search
    .container-cMG81i{
        background-color: transparent;
    }
    .searchBar-1YE5UV{
        .input-3Xdcic{
            height: 32px;
            padding: 10px;
            border: 1px solid $BaseMedium;
            border-radius: 2px;
            color: $BaseHigh;
            @include FontBody;
            &::-webkit-input-placeholder{
                color: $BaseMedium;
            }
            &:hover{
                border-color: $BaseMediumHigh;
            }
            &:focus{
                background-color: $ChromeWhite;
                border-width: 2px;
                border-color: $Accent;
                color: $ChromeBlackHigh;
                &::-webkit-input-placeholder{
                    color: $AltMedium;
                }
            }
        }
        // Remove icon
        .iconLayout-3OgqU3{
            display: none;
        }
    }
}
