.theme-dark{
    .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG,
    .emojiPicker-3m1S-j .scroller-2FKFPG{
        &::-webkit-scrollbar{
            width: 16px;
        }
        &::-webkit-scrollbar-button{
            height: 16px;
            background-color: #171717;
            border: 0;
            &:vertical:increment{
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEXS0tL////S0tLS0tIBy8dCAAAAA3RSTlMAACYoe0EjAAAALklEQVR4AWNgRAN0FGBmYgACJma4ABNIBEjABUAckCBcACQN5CMJAEVAxlDLYQCPTgENZhBK9AAAAABJRU5ErkJggg==);
                background-size: 16px;
                &:hover{
                    background-color: #343434;
                }
            }
            &:vertical:decrement{
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEXS0tL////S0tLS0tIBy8dCAAAAA3RSTlMAACYoe0EjAAAALklEQVR4AWNgRAPUFGBiYkARYGJmhoowQPlMQMQAFwBxGIAEXADEB4lg2EIzAQCUvwEWzkMg9gAAAABJRU5ErkJggg==);
                background-size: 16px 16px;
                &:hover{
                    background-color: #343434;
                }
            }
        }
        &::-webkit-scrollbar-button:start:increment,
        &::-webkit-scrollbar-button:end:decrement { // Only show single buttons
            display: none;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #4B4B4B;
            border: 0;
            border-radius: 0;
            &:hover{
                background-color: #787878;
            }
        }
        &::-webkit-scrollbar-track-piece{
            background-color: transparent;
            border: 0;
            border-radius: 0;
        }
    }
}

.scrollerThemed-2oenus{
    &.themeGhostHairline-DBD-2d .scroller-2FKFPG{
        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #4B4B4B !important;
            border: 2px solid transparent;
            border-radius: 0;
            &:hover{
                background-color: #787878 !important;
            }
        }
        &::-webkit-scrollbar-track-piece{
            background-color: transparent;
            border: 0;
            border-radius: 0;
        }
    }
}

// Force emoji picker scrollbar visible
.emojiPicker-3m1S-j{
    .scroller-2FKFPG{
        &::-webkit-scrollbar-track{
            background-color: transparent !important;
        }
        &::-webkit-scrollbar-thumb{
            visibility: visible;
            background-color: #454545 !important;
            &:hover{
                background-color: #787878 !important;
            }
        }
    }
}
// Context menu
.contextMenu-HLZMGh{
    &::-webkit-scrollbar{
        width: 2px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #454545;
    }
}
