.theme-dark{
    .auto-Ge5KZx{
        &::-webkit-scrollbar{
            width: 16px;
        }
        &::-webkit-scrollbar-button{
            height: 16px;
            background-color: $ChromeMedium;
            border: 0;
            &:vertical:increment{
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEXS0tL////S0tLS0tIBy8dCAAAAA3RSTlMAACYoe0EjAAAALklEQVR4AWNgRAN0FGBmYgACJma4ABNIBEjABUAckCBcACQN5CMJAEVAxlDLYQCPTgENZhBK9AAAAABJRU5ErkJggg==);
                background-size: 16px;
                &:hover{
                    background-color: $ListLow;
                }
                &:active{
                    background-color: $BaseMediumLow;
                }
            }
            &:vertical:decrement{
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEXS0tL////S0tLS0tIBy8dCAAAAA3RSTlMAACYoe0EjAAAALklEQVR4AWNgRAPUFGBiYkARYGJmhoowQPlMQMQAFwBxGIAEXADEB4lg2EIzAQCUvwEWzkMg9gAAAABJRU5ErkJggg==);
                background-size: 16px 16px;
                &:hover{
                    background-color: $ListLow;
                }
                &:active{
                    background-color: $BaseMediumLow;
                }
            }
        }
        &::-webkit-scrollbar-button:start:increment,
        &::-webkit-scrollbar-button:end:decrement { // Only show single buttons
            display: none;
        }
        &::-webkit-scrollbar-thumb{
            background-color: $BaseLow;
            border: 0;
            border-radius: 0;
            &:hover{
                background-color: $BaseMediumLow;
            }
            &:active{
                background-color: $BaseMedium;
            }
        }
        &::-webkit-scrollbar-track-piece{
            background-color: $ChromeMedium;
            border: 0;
            border-radius: 0;
        }
        &::-webkit-scrollbar-track{
            margin-bottom: 0;
        }
    }
}

.scrollerThemed-2oenus{
    &.themeGhostHairline-DBD-2d .scroller-2FKFPG{
        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: $BaseLow !important;
            border: 2px solid transparent;
            border-radius: 0;
            &:hover{
                background-color: $BaseMediumLow !important;
            }
            &:active{
                background-color: $BaseMedium !important;
            }
        }
        &::-webkit-scrollbar-track-piece{
            background-color: transparent;
            border: 0;
            border-radius: 0;
        }
    }
}

// Context menu
.contextMenu-HLZMGh{
    &::-webkit-scrollbar{
        width: 2px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $BaseLow;
        &:active{
            background-color: $BaseMedium;
        }
    }
}

// Autocomplete GIF scrollbar
.horizontalAutocompletes-lotYRO{
    &::-webkit-scrollbar-track{
        margin: 0 8px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $BaseLow;
        &:hover{
            background-color: $ListLow;
        }
        &:active{
            background-color: $BaseMediumLow;
        }
    }
}
