.titleBar-AC4pGV{
    background-color: $AltHigh;
    &.withFrame-haYltI{
        height: calc(32px - 4px);
    }
    .wordmarkWindows-1v0lYD{
        color: $BaseHigh;
        &::after{
            content: "Discord";
            top: 9px;
            left: 12px;
            display: block;
            position: absolute;
            @include FontCaption;
        }
        svg{
            display: none;
        }
    }

    // Controls
    .winButton-iRh8-Z{
        width: 45px;
        height: 32px;
        color: $BaseHigh;
        &.winButtonClose-1HsbF-:hover{
            background-color: #E81123;
        }
    }
}
