div[class^="typeWindows-"]{
    height: 28px;
    background-color: #000;
}

// Window name
div[class^="typeWindows-"] div[class^="wordmark"]{
    opacity: 1;
}
div[class^="typeWindows-"] div[class^="wordmark"] svg{
    display: none;
}
div[class^="typeWindows-"] div[class^="wordmark"]::after{
    content: "Discord";
    color: #FFF;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 20px;
    display: block;
}

// Window controls
div[class*="titleBar-"] div[class*="winButton-"]{
    width: 45px;
    height: 32px;
    opacity: 1;
}

div[class*="titleBar-"] div[class*="winButtonClose-"]:hover{
    background-color: #E81123;
}
