.theme-dark .tooltip-2QfLtc{
    padding: 7px 8px 8px;
    background-color: #191919;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0;
    color: #FFF;
    @include FontBody;
    .tooltipPointer-3ZfirK{
        display: none;
    }
}

// Hide settings button tooltip
.theme-dark .layer-v9HyYc{
    &[style*="left: -25px;"],       //  100%, 110%, 125%, 150%, 175%
    &[style*="left: -26px;"]{       //  50%, 67%, 75%, 80%, 90%, 200%
        display: none;
    }
}
