.theme-dark div[class^="activityFeed-"] div[class^="feedCarousel-"]{
    margin-top: 0;

    // Main window
    span[class^="carousel-"]{
        height: 360px;
        margin-right: 0;
        border-radius: 0;
        div[class^="article-"]{
            border-radius: 0;
            div[class^="background-"]{
                bottom: 0;
                mask: none;
                -webkit-mask: none;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(transparent 40%, black 95%);
                }
            }
            div[class^="gameName"]{
                color: #FFF;
                font-weight: normal;
                text-transform: lowercase capitalize;  // Enforce sentence case, because PUBG is obnoxious
            }
            div[class^="details-"]{
                div[class^="standardTitle"]{
                    color: #FFF;
                    font-size: $fsheader;
                    font-weight: $fwheader;
                    line-height: 1.3;
                }
                div[class^="description-"]{
                    color: #FFF;
                    font-size: $fsui;
                    font-weight: $fwui;
                }
                div[class^="timestamp-"]{
                    color: #FFF;
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }
    }

    // Pages
    div[class^="pagination-"]{
        div[class^="scroller-"]{
            overflow-y: auto;
        }
        div[class^="paginationItem-"]{
            height: 90px;
            margin-top: 0;
            border-radius: 0;
            &::after{
                background-image: none;
            }
            &[class*="selectedPage"]::before{
                width: 4px;
                left: 0;
                background-color: var(--accent);
                border-radius: 0;
            }
            // Article title
            h2{
                color: #FFF;
                font-size: $fsheader;
                font-weight: $fwheader;
                line-height: 1.3333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            // Game title
            h4{
                color: #FFF;
                font-weight: normal;
                line-height: 1.3333;
            }
        }
    }
}
