.theme-dark div[class^="activityFeed-"]{
    // Header bar
    .headerBar-UHpsPw{
        background-color: $b1;
        border: 0;
        box-shadow: none;
        .title-1aVOXw{
            font-size: $fsui;
            font-weight: $fwui;
        }
        // Right buttons
        .iconMargin-2YXk4F{
            height: 48px;
            margin: 0 2px;
        }
        svg[class*="icon-"]{
            width: 68px;
            height: 48px;
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            opacity: 1;
            path{
                display: none;
            }
            &:hover{
                background-color: rgba(255,255,255,.1);
            }
        }
    }

    background-color: $b2;
    div[class*="feed-"]{
        overflow-y: auto;
    }
    div[class^="body-"]{
        padding-bottom: 12px;
        // Quick launcher and what's new sections
        div[class^="header-"]{
            font-size: $fsheader;
            font-weight: $fwheader;
        }

        // Footprint saving
        // Quick launcher
        div[class^="dock-"]{
            div[class*="dockItem-"]{
                margin-right: 8px;
                background-color: $b1;
                border-radius: 0;
                div[class^="dockIcon-"]{
                    border-radius: 0;
                }
                &:hover button{
                    width: 90px;
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        // What's New
        div[class^="card-"]{
            background-color: $b1;
            color: #FFF;
            border-radius: 0;
            div[class*="cardHeader-"]{
                background-color: transparent;
                div[class^="gameIcon"]{
                    border-radius: 0;
                }
                button[class*="lookFilled"]{
                    background-color: transparent;
                    border: 1px solid $inputborder;
                    border-radius: 0;
                    font-size: $fsui;
                    font-weight: $fwui;
                    &:hover{
                        border-color: $inputborderhover;
                    }
                }
            }
            div[class^="body-"]{
                background-color: transparent;
                div[class^="player"]{
                    .discriminator{
                        font-size: 13px;
                        visibility: hidden;
                    }
                    &:hover{
                        .discriminator{
                            visibility: visible;
                        }
                    }
                    button[class*="colorPrimary"]{
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        // Empty
        div[class^="emptyState"]{
            background-color: $b1;
            border: 0;
            border-radius: 0;
        }
        div[class^="emptyImage"]{
            display: none;
        }
    }
}
