// Opt-in to 'personalisation' of activity feed
// Setting stored in UserFeedSettingsStore{"hasDismissedPersonalizationNotice":false}

.theme-dark div[class^="activityFeed-"] div[class^="personalizationNotice-"]{
    width: calc(100% - 332px);
    position: fixed;
    top: 20px;
    right: 18px;
    z-index: 2;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 0;
    animation: personalisationattn 2s ease-in;
    svg{
        display: none;
    }
    div[class^="personalizationNoticeText-"]{
        min-width: 100%;
        color: #FF0;
        font-size: $fsui;
        font-weight: $fwui;
        cursor: default;
    }

    // Buttons
    // Opt-out should always appear as default
    // Agree
    button[class*="lookFilled"][class*="colorBrand"]{
        background-color: transparent;
        border: 1px solid $inputborder;
        &:hover{
            border-color: $inputborderhover;
        }
    }
    // Deny
    button[class*="lookFilled"][class*="colorTransparent"]{
        background-color: var(--accent);
        border: 1px solid transparent;
        border-radius: 0;
        font-weight: normal;
        &:hover{
            border-color: $inputborder;
        }
    }
}
